<ul class="link_list link_list--with_meta {{ styleModifier }}">
    {{# viktigNyhet }}
        <li class="important_news_item">
            {{> molecules-modul-viktig-nyhet }}
        </li>
    {{/ viktigNyhet }}
    {{# linkliste }}
        <li>
            <a href="{{ url }}" title="{{ tittel }}">
                <span class="title">{{ tittel }}</span>
                {{# dato }}
                    <span class="meta">{{ dato }}</span>
                {{/ dato }}
            </a>
        </li>
    {{/ linkliste }}
</ul>