<section class="frontpage_news {{ styleModifier }}">
    <div class="row">
        <div class="col_md_6 col_lg_6 float_change">
            
            {{> molecules-moduloverskrift-h2-med-lenke:frontpage_news_header(url: "{{ link.pages-hva-skjer }}", tittel: "Hva skjer i kommunen") }}
            
        </div>
        <div class="col_md_6 col_lg_6">

            {{# viktigNyhet }}
                <a href="{{ url }}" title="{{ tittel }}" class="frontpage_news_promo module_box_style {{ noImageClass }}">                    
                    {{# imgLandscape }}
                        <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}">
                    {{/ imgLandscape }}
                    <h3 class="promo_title">
                        {{ tittel }}
                    </h3>
                    {{# viktigNyhetIngress }}
                    <p class="promo_excerpt">		
                        {{ ingress }}
                    </p>
                    {{/ viktigNyhetIngress }}
                </a>
            {{/ viktigNyhet }}

        </div>
        <div class="col_md_6 col_lg_6"> 

            <ul class="link_list frontpage_news_link_list mbm">
                {{# linkliste }}
                    <li>
                        <h3 class="frontpage_news_list_header">
                            <a href="{{ url }}" title="{{ tittel }}">{{ tittel }}</a>
                        </h3>
                    </li>
                {{/ linkliste }}
            </ul>

            {{> molecules-les-mer:read_more_link_container--larger-font(lesMerTekst: "Gå til Hva skjer", url: "{{ link.pages-hva-skjer }}", antall: false) }}

        </div>
    </div>
</section>
            