@charset "UTF-8";
/*
Name: Publisering style
URI: https://www.bergen.kommune.no/
*/
.icon.small_edit_icon {
  background-image: url("../images/editModeSprite.svg");
  background-position: -160px -192px; }

.icon.align_left_icon {
  background-image: url("../images/editModeSprite.svg");
  background-position: 0 -64px; }

.icon.align_center_icon {
  background-image: url("../images/editModeSprite.svg");
  background-position: 0 -96px; }

.icon.align_right_icon {
  background-image: url("../images/editModeSprite.svg");
  background-position: -96px -64px; }

.icon.preview_icon {
  background-image: url("../images/editModeSprite.svg");
  background-position: -64px -128px; }

.action-line {
  position: relative;
  z-index: 1;
  *zoom: 1;
  color: #fff;
  background-color: #535353;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-right: 3px;
  padding-right: 0.1875rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  min-height: 87px;
  min-height: 5.4375rem;
  margin-bottom: 49px;
  margin-bottom: 3.0625rem; }
  .action-line:before, .action-line:after {
    content: "";
    display: table;
    line-height: 0; }
  .action-line:after {
    clear: both; }
  .action-line a {
    color: #fff; }
    .action-line a.button {
      color: #3b65a3; }
  .action-line__status {
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.07692;
    margin-top: 30px;
    margin-top: 1.875rem; }
  .action-line .align_right {
    padding-top: 22px;
    padding-top: 1.375rem; }
    .action-line .align_right a,
    .action-line .align_right button,
    .action-line .align_right .button {
      margin-right: 20px;
      margin-right: 1.25rem; }
  @media (max-width: 540px) {
    .action-line .align_right {
      clear: left;
      float: left; } }
  .action-line__preview-link {
    position: relative;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.16667;
    margin-right: 20px;
    margin-right: 1.25rem; }
    .action-line__preview-link .preview_icon {
      position: absolute;
      top: 1px;
      top: 0.0625rem;
      left: -41px;
      left: -2.5625rem; }
    .action-line__preview-link--disabled {
      color: #a3a3a3; }
      .action-line__preview-link--disabled .preview_icon {
        background-position: -96px -128px; }
  .action-line label,
  .action-line select {
    margin-bottom: 0; }
  .action-line__feedback {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }
    .action-line__feedback-message {
      position: absolute;
      top: 0;
      right: 7px;
      right: 0.4375rem;
      left: 7px;
      left: 0.4375rem;
      text-align: center;
      margin: 0 auto; }
      .action-line__feedback-message div {
        display: block;
        color: #333;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 1.4;
        padding: 7px 14px 6px;
        padding: 0.4375rem 0.875rem 0.375rem;
        background-color: #f5f8fb;
        border: 1px solid #bdcfe4;
        border: 0.0625rem solid #bdcfe4;
        border-top: 0 none;
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px; }
      .action-line__feedback-message--danger div {
        background-color: transparent;
        border-color: #cc0000; }
      .action-line__feedback-message--success div {
        background-color: #f7fdf8;
        border-color: #15ab29; }
  @media (min-width: 700px) {
    .action-line__feedback-message {
      width: 480px;
      width: 30rem; } }

/*
// CK Editor style
// -------------------------------------------------------------
*/
/*
.ck-editor {

    &__ingress {
        outline: 0 !important;
        @include rem('border', 1px solid $grey7);
        @include rem('padding', 6px 8px 12px);
        @include rem('min-height', 48px);
    }

    // Oppgaveløser
    &__avsnitt {
        outline: 0 !important;
        @include rem('border-top', 1px solid $grey7);
        @include rem('border-right', 1px solid $grey7);
        @include rem('padding', 6px 8px 12px);
        @include rem('min-height', 73px);
        @include clearfix();
    }

    // News
    &__hovedtekst {
        outline: 0 !important;
        // @include rem('border', 1px solid $grey7);
        // @include rem('padding', 6px 8px 12px);
        @include rem('min-height', 380px);
        @include clearfix();
    }
}

// CK Editor - Extra style for Moono skin
.cke {
    @include rem('min-height', 37px);
}

.cke_chrome {
    @include box-shadow(none !important);
    @include rem('border', 1px solid $grey7 !important);
    border-bottom: none !important;
}

.accordion_content_editable .cke_chrome {
    border-left: none !important;
    border-top: none !important;
}

.cke_top {
    background-color: #f5f2f2 !important;
    background-image: none !important;
    @include box-shadow(none !important);
    border-bottom: none !important;
    @include rem('padding', 5px 4px 0 !important);
}

.cke_toolgroup {
    @include box-shadow(none !important);
}

.cke_toolgroup {
    border-color: $grey7 !important;

    a {
        @include rem('border', 1px solid transparent !important);

        &:hover,
        &:focus,
        &:active,
        &.cke_button_on {
            background-image: none !important;
            background-color: transparent !important;
            border-color: $main_red !important;
        }
    }

    a.cke_button_on {
        background: 0 none !important;
        @include box-shadow(none !important);
    }

    a.cke_button_off {

    }

    a.cke_button_disabled {
    }
}

.cke_combo_button {
    background: $white !important;
    @include box-shadow(none !important);

    &:hover,
    &:focus,
    &:active {
        border-color: $main_red !important;
    }
}

.cke_panel_listItem.cke_selected a {
    border-color: $main_red !important;
    @include box-shadow(none !important);
}

.cke_combo_button .cke_combo_text {
    width: auto;
}

*/
.helpers_header {
  display: block;
  margin: 0;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.33333;
  font-weight: 600;
  font-style: normal; }
  .sidebar .helpers_header {
    border-bottom: 2px solid #3b65a3;
    border-bottom: 0.125rem solid #3b65a3; }

.helpers_info {
  position: relative;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.64706; }

.file-upload-input {
  position: relative;
  border: 1px dashed #157cb0;
  border: 0.0625rem dashed #157cb0;
  background-color: #fff;
  color: #3b65a3;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  min-height: 70px;
  min-height: 4.375rem;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer !important;
  display: inline-block !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s ease 0ms;
  -moz-transition: background-color 0.2s ease 0ms;
  -ms-transition: background-color 0.2s ease 0ms;
  -o-transition: background-color 0.2s ease 0ms;
  transition: background-color 0.2s ease 0ms;
  opacity: 1; }
  .file-upload-input:hover, .file-upload-input:active {
    background-color: #f8fbfd; }
  .file-upload-input.hover {
    background-color: #f8fbfd; }
  .file-upload-input__image-preview {
    background-color: #fff;
    position: relative;
    text-align: center;
    z-index: 1; }
    .file-upload-input__image-preview img {
      background-color: red;
      max-width: 100%;
      margin: 10px 12px 4px;
      margin: 0.625rem 0.75rem 0.25rem;
      min-height: 60px;
      min-height: 3.75rem;
      max-height: 160px;
      max-height: 10rem; }
  .file-upload-input:hover .file-upload-input__image-preview,
  .file-upload-input:active .file-upload-input__image-preview,
  .file-upload-input:focus .file-upload-input__image-preview,
  .file-upload-input.in .file-upload-input__image-preview {
    background-color: #f8fbfd; }
  .file-upload-input__filename-container {
    background-color: #fff;
    position: relative;
    z-index: 1; }
    .file-upload-input__filename-container .file-upload-input__filename {
      max-width: 100%;
      white-space: normal;
      text-align: center;
      padding: 22px 12px;
      padding: 1.375rem 0.75rem;
      min-height: 24px;
      min-height: 1.5rem;
      max-height: 160px;
      max-height: 10rem; }
  .file-upload-input__filename {
    color: #333 !important; }
  .file-upload-input:hover .file-upload-input__image-preview,
  .file-upload-input:active .file-upload-input__image-preview,
  .file-upload-input:focus .file-upload-input__image-preview,
  .file-upload-input.in .file-upload-input__image-preview,
  .file-upload-input:hover .file_name_container,
  .file-upload-input:active .file_name_container,
  .file-upload-input:focus .file_name_container {
    background-color: #f8fbfd; }
  .file-upload-input.hover .file-upload-input__image-preview {
    background-color: #f8fbfd; }
  .file-upload-input .label {
    position: absolute;
    top: 32%;
    left: 0;
    width: 100%;
    text-align: center; }
  .file-upload-input input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.33333;
    text-align: left;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: transparent;
    cursor: inherit;
    display: block; }

.image-upload-link {
  background-color: #f8fbfd;
  border: 1px dashed #157cb0;
  border: 0.0625rem dashed #157cb0;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem; }
  .image-upload-link__start-link {
    display: block;
    text-align: center;
    padding: 14px;
    padding: 0.875rem; }
  .image-upload-link__change-link {
    display: block;
    text-decoration: none;
    padding: 12px 12px 0;
    padding: 0.75rem 0.75rem 0;
    -webkit-transition: opacity 100ms ease 0ms;
    -moz-transition: opacity 100ms ease 0ms;
    -ms-transition: opacity 100ms ease 0ms;
    -o-transition: opacity 100ms ease 0ms;
    transition: opacity 100ms ease 0ms; }
    .image-upload-link__change-link:hover, .image-upload-link__change-link:active {
      opacity: .84;
      text-decoration: none; }
    .image-upload-link__change-link img {
      width: 100%;
      min-height: 60px;
      min-height: 3.75rem; }
    .image-upload-link__change-link .figcaption {
      display: block;
      color: #333;
      padding: 6px 0 5px;
      padding: 0.375rem 0 0.3125rem; }
  .image-upload-link__delete-link {
    display: block;
    text-align: center;
    border-top: 1px solid #a3a3a3;
    border-top: 0.0625rem solid #a3a3a3;
    margin: 0 14px;
    margin: 0 0.875rem;
    padding: 6px 0;
    padding: 0.375rem 0; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.72);
  z-index: 100; }
  .modal__window {
    position: relative;
    z-index: 1;
    margin: 10% auto 0;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border: 0.0625rem solid #e0e0e0;
    width: 90%;
    max-width: 640px;
    max-width: 40rem;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.16);
    -webkit-border-radius: 0.1875rem;
    -moz-border-radius: 0.1875rem;
    border-radius: 0.1875rem; }
    .modal__window__title {
      color: #fff;
      text-align: center;
      background-color: #3b65a3;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.16667;
      font-weight: 400;
      font-style: normal;
      padding: 14px;
      padding: 0.875rem;
      -webkit-border-radius: 0.1875rem 0.1875rem 0 0;
      -moz-border-radius: 0.1875rem 0.1875rem 0 0;
      border-radius: 0.1875rem 0.1875rem 0 0;
      margin: 0; }
    .modal__window__content {
      padding: 14px 40px 28px;
      padding: 0.875rem 2.5rem 1.75rem; }
      .modal__window__content form {
        margin: 0; }
      .modal__window__content input {
        width: 100%; }
      .modal__window__content button,
      .modal__window__content .button {
        margin: 0 7px;
        margin: 0 0.4375rem; }
      .modal__window__content .submit {
        color: #fff;
        background-color: #3b65a3;
        border-color: #3b65a3; }
        .modal__window__content .submit:hover, .modal__window__content .submit:active {
          color: #fff;
          background-color: #375e98;
          border-color: #375e98; }
  .modal__cancel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    cursor: default; }

.cke_dialog .cke_dialog_body * {
  font-weight: 400;
  font-style: normal;
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333; }
  .cke_dialog .cke_dialog_body * label.cke_required {
    font-weight: 400; }

.cke_dialog .cke_dialog_title {
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 0.75;
  text-shadow: none;
  background-color: #3b65a3 !important;
  background-image: none !important;
  border-bottom: 0 none !important;
  padding: 12px;
  padding: 0.75rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.16);
  -webkit-border-radius: 0.1875rem 0.1875rem 0 0;
  -moz-border-radius: 0.1875rem 0.1875rem 0 0;
  border-radius: 0.1875rem 0.1875rem 0 0; }

.cke_dialog .cke_dialog_close_button {
  display: none !important; }

.cke_dialog .cke_dialog_body {
  border: 0 none !important;
  background-color: #f5f5f5 !important;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.16); }

.cke_dialog .cke_dialog_contents {
  background-color: transparent; }

.cke_dialog .cke_dialog_contents_body {
  padding: 18px 24px;
  padding: 1.125rem 1.5rem; }

.cke_dialog .cke_dialog_body label {
  display: inline-block;
  padding-top: 5px;
  padding-top: 0.3125rem; }

.cke_dialog input.cke_dialog_ui_input_text,
.cke_dialog input.cke_dialog_ui_input_password,
.cke_dialog textarea.cke_dialog_ui_input_textarea,
.cke_dialog select.cke_dialog_ui_input_select {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border: 1px solid #a3a3a3;
  border: 0.0625rem solid #a3a3a3;
  color: #000;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.4;
  padding: 7px 10px 7px;
  padding: 0.4375rem 0.625rem 0.4375rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #e0e0e0 inset;
  -webkit-box-shadow: 0 0.0625rem 0.125rem #e0e0e0 inset;
  -moz-box-shadow: 0 1px 2px #e0e0e0 inset;
  -moz-box-shadow: 0 0.0625rem 0.125rem #e0e0e0 inset;
  box-shadow: 0 1px 2px #e0e0e0 inset;
  box-shadow: 0 0.0625rem 0.125rem #e0e0e0 inset;
  margin: 0 !important;
  width: 100% !important; }
  .cke_dialog input.cke_dialog_ui_input_text:focus, .cke_dialog input.cke_dialog_ui_input_text:focus, .cke_dialog input.cke_dialog_ui_input_text:focus, .cke_dialog input.cke_dialog_ui_input_text:focus,
  .cke_dialog input.cke_dialog_ui_input_password:focus,
  .cke_dialog input.cke_dialog_ui_input_password:focus,
  .cke_dialog input.cke_dialog_ui_input_password:focus,
  .cke_dialog input.cke_dialog_ui_input_password:focus,
  .cke_dialog textarea.cke_dialog_ui_input_textarea:focus,
  .cke_dialog textarea.cke_dialog_ui_input_textarea:focus,
  .cke_dialog textarea.cke_dialog_ui_input_textarea:focus,
  .cke_dialog textarea.cke_dialog_ui_input_textarea:focus,
  .cke_dialog select.cke_dialog_ui_input_select:focus,
  .cke_dialog select.cke_dialog_ui_input_select:focus,
  .cke_dialog select.cke_dialog_ui_input_select:focus,
  .cke_dialog select.cke_dialog_ui_input_select:focus {
    border: 1px solid #3b65a3;
    border: 0.0625rem solid #3b65a3;
    margin: 0 !important;
    padding: 7px 10px 7px;
    padding: 0.4375rem 0.625rem 0.4375rem; }

.cke_dialog textarea.cke_dialog_ui_input_textarea {
  white-space: normal; }

.cke_dialog .cke_dialog_footer {
  text-align: center;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none !important;
  background-color: transparent;
  border: none; }
  .cke_dialog .cke_dialog_footer .cke_dialog_footer_buttons {
    margin: 0 0 18px;
    margin: 0 0 1.125rem; }
  .cke_dialog .cke_dialog_footer a.cke_dialog_ui_button {
    padding: 6px 12px 7px;
    padding: 0.375rem 0.75rem 0.4375rem;
    box-shadow: none;
    text-decoration: none;
    border-radius: 0.1875rem;
    background-image: none;
    font-size: 20px;
    font-size: 20px;
    line-height: 1.4;
    line-height: 1.4;
    cursor: pointer; }
    .cke_dialog .cke_dialog_footer a.cke_dialog_ui_button:hover {
      text-decoration: none; }
    .cke_dialog .cke_dialog_footer a.cke_dialog_ui_button span {
      text-shadow: none;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.2;
      padding: 0;
      font-weight: 400; }
  .cke_dialog .cke_dialog_footer a.cke_dialog_ui_button.cke_dialog_ui_button_cancel {
    color: #3b65a3;
    background-image: none;
    background-color: #fff;
    border: 1px solid #3b65a3;
    margin: 0 7px 0 12px;
    margin: 0 0.4375rem 0 0.75rem; }
    .cke_dialog .cke_dialog_footer a.cke_dialog_ui_button.cke_dialog_ui_button_cancel:hover, .cke_dialog .cke_dialog_footer a.cke_dialog_ui_button.cke_dialog_ui_button_cancel:focus, .cke_dialog .cke_dialog_footer a.cke_dialog_ui_button.cke_dialog_ui_button_cancel:active {
      color: #fff;
      background-color: #3b65a3; }
  .cke_dialog .cke_dialog_footer a.cke_dialog_ui_button.cke_dialog_ui_button_ok {
    border: 1px solid #3b65a3;
    border: 0.0625rem solid #3b65a3;
    margin: 0 12px;
    margin: 0 0.75rem;
    background-color: #3b65a3;
    color: #fff; }
    .cke_dialog .cke_dialog_footer a.cke_dialog_ui_button.cke_dialog_ui_button_ok:hover, .cke_dialog .cke_dialog_footer a.cke_dialog_ui_button.cke_dialog_ui_button_ok:focus, .cke_dialog .cke_dialog_footer a.cke_dialog_ui_button.cke_dialog_ui_button_ok:active {
      border-color: #2d4e7e;
      background-color: #2d4e7e; }

.cke_dialog .cke_resizer {
  display: none !important; }

.allmenningen_image_dialog .cke_dialog_ui_hbox_first {
  width: 26% !important; }

.allmenningen_image_dialog .cke_dialog_ui_hbox_last {
  width: inherit !important; }

.cke_dialog_ui_input_select {
  height: auto !important; }

a.cke_dialog_tab {
  margin-right: 5px !important;
  padding: 6px 12px 7px !important;
  padding: 0.375rem 0.75rem 0.4375rem !important;
  background: none !important;
  background-image: none !important;
  background-color: #fff !important;
  font-size: 20px !important; }

a.cke_dialog_tab_selected {
  padding: 6px 12px 7px !important;
  padding: 0.375rem 0.75rem 0.4375rem !important;
  background: none !important;
  background-image: none !important;
  background-color: #3b65a3 !important;
  border-bottom: 2px #3b65a3 !important;
  border-bottom: 0.125rem #3b65a3 !important;
  color: #fff !important;
  outline: none !important; }
  a.cke_dialog_tab_selected a:hover {
    background: none !important;
    background-color: #3b65a3 !important;
    border-bottom: 2px #3b65a3 !important;
    border-bottom: 0.125rem #3b65a3 !important; }

a.cke_dialog_tab:focus {
  border: 1px solid #d1d1d1 !important;
  border: 0.0625rem solid #d1d1d1 !important;
  outline: none !important; }

.cke_dialog_contents {
  margin-top: 48px !important;
  margin-top: 3rem !important; }

.cke_dialog_background_cover {
  background-color: rgba(255, 255, 255, 0.72) !important; }

.modal__image-position {
  *zoom: 1; }
  .modal__image-position:before, .modal__image-position:after {
    content: "";
    display: table;
    line-height: 0; }
  .modal__image-position:after {
    clear: both; }
  .modal__image-position__legend {
    margin-bottom: 7px;
    margin-bottom: 0.4375rem; }
  .modal__image-position__button-container {
    position: relative;
    float: left;
    width: 50%; }
  .modal__image-position label {
    position: relative;
    background-color: #fff;
    color: #3b65a3;
    text-align: center;
    display: block !important;
    width: 100%;
    padding: 3px 12px 4px 19px;
    padding: 0.1875rem 0.75rem 0.25rem 1.1875rem;
    border: 1px solid #3b65a3;
    border: 0.0625rem solid #3b65a3;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .modal__image-position label:before {
      content: "";
      display: inline-block;
      position: relative;
      top: 2px;
      top: 0.125rem;
      right: 8px;
      right: 0.5rem;
      width: 16px;
      width: 1rem;
      height: 16px;
      height: 1rem;
      background-image: url("../images/editModeSprite.svg"); }
  .modal__image-position input[type="radio"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    margin: 0;
    outline: none;
    background: transparent;
    display: block;
    cursor: pointer; }
    .modal__image-position input[type="radio"]:checked {
      cursor: inherit; }
  .modal__image-position .modal__image-position__label-left {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px; }
    .modal__image-position .modal__image-position__label-left:before {
      background-position: -8px -72px; }
  .modal__image-position .modal__image-position__label-center {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    border-left: 0 none; }
    .modal__image-position .modal__image-position__label-center:before {
      background-position: -8px -104px; }
  .modal__image-position input[type="radio"]:hover + label,
  .modal__image-position input[type="radio"]:active + label {
    background-color: #f8fbfd; }
  .modal__image-position input[type="radio"]:checked + label {
    background-color: #3b65a3;
    color: #fff; }
  .modal__image-position input[type="radio"].modal__image-position__input-left:checked + label.modal__image-position__label-left:before {
    background-position: -40px -72px; }
  .modal__image-position input[type="radio"].modal__image-position__input-center:checked + label.modal__image-position__label-center:before {
    background-position: -40px -104px; }
  .modal__image-position input[type="radio"]:focus + label {
    outline: 3px solid #f0c646;
    z-index: 6;
    pointer-events: none; }
  @media (min-width: 700px) {
    .modal__image-position__legend {
      float: left;
      width: 22%;
      margin: 0; }
    .modal__image-position__radiogroup {
      float: left;
      width: 78%; } }

.editor-article-list .ece_module_container {
  border-bottom: 0 none;
  padding-bottom: 0;
  margin-bottom: 0; }

.editor-article-list .artikkel-sammendrag {
  padding: 21px 21px 0;
  padding: 1.3125rem 1.3125rem 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px dashed #3b65a3;
  border: 0.0625rem dashed #3b65a3;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  margin-bottom: 21px;
  margin-bottom: 1.3125rem; }

.editor-article-list .escenic-artikkel-sammendrag {
  position: relative;
  padding: 21px 21px 0;
  padding: 1.3125rem 1.3125rem 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(59, 101, 163, 0.5);
  border: 0.0625rem solid rgba(59, 101, 163, 0.5);
  border-top: 0 none;
  border-bottom: 0 none;
  margin-bottom: 0; }
  .editor-article-list .escenic-artikkel-sammendrag:after {
    position: absolute;
    bottom: 0;
    display: block;
    right: 21px;
    right: 1.3125rem;
    left: 21px;
    left: 1.3125rem;
    content: "";
    height: 1px;
    height: 0.0625rem;
    background-color: rgba(59, 101, 163, 0.5); }

.editor-article-list > .escenic-artikkel-sammendrag {
  margin-top: 100px;
  margin-top: 6.25rem; }
  .editor-article-list > .escenic-artikkel-sammendrag:before {
    position: absolute;
    display: block;
    top: -44px;
    top: -2.75rem;
    right: -1px;
    right: -0.0625rem;
    left: -1px;
    left: -0.0625rem;
    content: "Escenic artikler";
    padding: 8px 21px 0;
    padding: 0.5rem 1.3125rem 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 44px;
    height: 2.75rem;
    background-color: #f5f8fb;
    border: 1px solid rgba(59, 101, 163, 0.5);
    border: 0.0625rem solid rgba(59, 101, 163, 0.5);
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0; }

.editor-article-list > .escenic-artikkel-sammendrag ~ .escenic-artikkel-sammendrag {
  margin-top: 0; }
  .editor-article-list > .escenic-artikkel-sammendrag ~ .escenic-artikkel-sammendrag:before {
    display: none; }

.editor-article-list .escenic-artikkel-sammendrag:last-child {
  border-bottom: 1px solid rgba(59, 101, 163, 0.5);
  border-bottom: 0.0625rem solid rgba(59, 101, 163, 0.5);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px; }
  .editor-article-list .escenic-artikkel-sammendrag:last-child:after {
    display: none; }

.editor-article-list__sort {
  display: block;
  padding: 0 0 0 21px;
  padding: 0 0 0 1.3125rem;
  background-color: #f5f8fb;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem; }

.input--title {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.47368;
  border-color: #3b65a3;
  width: 100%; }

.input--title-error {
  color: #cc0000;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.64706; }

.textarea--excerpt {
  padding: 21px 18px 46px;
  padding: 1.3125rem 1.125rem 2.875rem;
  border-color: #727272;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  overflow: hidden; }

.edit-article-authors {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.33333;
  font-weight: 600;
  font-style: normal;
  position: relative; }
  .edit-article-authors__input {
    display: block;
    width: 300px;
    width: 18.75rem;
    margin: 7px 0;
    margin: 0.4375rem 0; }
    @media (min-width: 700px) {
      .edit-article-authors__input {
        display: inline-block;
        width: 240px;
        width: 15rem;
        margin: 0 2px 0 4px;
        margin: 0 0.125rem 0 0.25rem; } }
    @media (min-width: 1020px) {
      .edit-article-authors__input {
        width: 226px;
        width: 14.125rem; } }
    @media (min-width: 1270px) {
      .edit-article-authors__input {
        width: 300px;
        width: 18.75rem; } }
  .edit-article-authors__error {
    color: #cc0000;
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 1.64706;
    font-weight: 400;
    font-style: normal; }
    @media (min-width: 700px) {
      .edit-article-authors__error {
        position: absolute;
        top: 48px;
        top: 3rem;
        left: 108px;
        left: 6.75rem; } }

.excerpt_counter__area {
  position: relative; }

.excerpt_counter {
  color: #727272;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.41176;
  position: absolute;
  right: 12px;
  right: 0.75rem;
  bottom: 38px;
  bottom: 2.375rem; }
  .excerpt_counter.warn {
    color: #000; }
  .excerpt_counter.super_warn {
    color: #cc0000; }

.add_helper_content_link {
  border: 2px solid #f5f5f5;
  border: 0.125rem solid #f5f5f5;
  border-left-width: 4px;
  border-left-width: 0.25rem;
  position: relative;
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0; }
  .add_helper_content_link a {
    display: block;
    border-left-color: #f5f5f5;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 400;
    font-style: italic;
    color: #727272;
    padding: 3px 16px 7px 27px;
    padding: 0.1875rem 1rem 0.4375rem 1.6875rem; }
    .add_helper_content_link a .plus_icon {
      position: absolute;
      top: 4px;
      top: 0.25rem;
      left: -2px;
      left: -0.125rem;
      height: 32px;
      height: 2rem;
      width: 32px;
      width: 2rem; }
    .add_helper_content_link a:hover, .add_helper_content_link a:active {
      color: #727272;
      text-decoration: underline; }

.add_helper_content_form {
  position: relative;
  z-index: 0;
  margin-bottom: 4px;
  margin-bottom: 0.25rem; }
  .add_helper_content_form .plus_icon {
    position: absolute;
    top: 6px;
    top: 0.375rem;
    left: 2px;
    left: 0.125rem;
    height: 32px;
    height: 2rem;
    width: 32px;
    width: 2rem; }
  .add_helper_content_form .title_input {
    border-width: 2px;
    border-width: 0.125rem;
    border-left-width: 4px;
    border-left-width: 0.25rem;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    -webkit-box-shadow: 0 1px 6px rgba(59, 101, 163, 0.15) inset;
    -webkit-box-shadow: 0 0.0625rem 0.375rem rgba(59, 101, 163, 0.15) inset;
    -moz-box-shadow: 0 1px 6px rgba(59, 101, 163, 0.15) inset;
    -moz-box-shadow: 0 0.0625rem 0.375rem rgba(59, 101, 163, 0.15) inset;
    box-shadow: 0 1px 6px rgba(59, 101, 163, 0.15) inset;
    box-shadow: 0 0.0625rem 0.375rem rgba(59, 101, 163, 0.15) inset;
    margin: 0;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
    padding: 3px 10px 7px 27px;
    padding: 0.1875rem 0.625rem 0.4375rem 1.6875rem;
    width: 100%; }
    .add_helper_content_form .title_input::-webkit-input-placeholder {
      font-weight: 400;
      font-style: italic; }
    .add_helper_content_form .title_input:-moz-placeholder {
      font-weight: 400;
      font-style: italic; }
    .add_helper_content_form .title_input::-moz-placeholder {
      font-weight: 400;
      font-style: italic; }
    .add_helper_content_form .title_input:-ms-input-placeholder {
      font-weight: 400;
      font-style: italic; }
  .add_helper_content_form .error_message {
    position: absolute;
    color: #000;
    background-color: #fff;
    top: 7px;
    top: 0.4375rem;
    right: 84px;
    right: 5.25rem;
    padding: 3px 6px;
    padding: 0.1875rem 0.375rem;
    z-index: 2; }
  .add_helper_content_form .submit_button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    color: #fff;
    height: 100%;
    padding: 0;
    padding: 0 6px;
    padding: 0 0.375rem;
    width: 44px;
    width: 2.75rem;
    background-color: #15ab29;
    border-color: #0f7e1e;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0; }
    .add_helper_content_form .submit_button:disabled .check_icon {
      background-position: -64px -416px; }
  .add_helper_content_form .cancel_link {
    position: absolute;
    top: 6px;
    top: 0.375rem;
    right: 50px;
    right: 3.125rem; }

.add_accordion_item {
  display: block;
  color: #727272;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 400;
  font-style: italic;
  background-color: #f5f5f5;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  padding: 11px 12px;
  padding: 0.6875rem 0.75rem; }

.accordion_header_button_editable {
  position: relative; }
  .accordion_header_button_editable label {
    cursor: pointer;
    position: absolute;
    top: 8px;
    top: 0.5rem;
    left: -32px;
    left: -2rem; }
  .accordion_header_button_editable input {
    color: #333;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    background-color: #e0e0e0;
    border: 1px solid #d7272d;
    border: 0.0625rem solid #d7272d;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    padding: 2px 10px 4px;
    padding: 0.125rem 0.625rem 0.25rem;
    margin: 0; }
  .accordion_header_button_editable .error_message {
    position: absolute;
    color: #cc0000;
    z-index: 2;
    top: 11px;
    top: 0.6875rem;
    right: 19px;
    right: 1.1875rem; }

.accordion_content_editable {
  position: relative;
  min-height: 132px;
  min-height: 8.25rem;
  border: 1px solid #727272;
  border: 0.0625rem solid #727272;
  border-top: 0 none;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }

.active .accordion_content_editable {
  display: inherit; }

.move_section_link {
  display: inline-block;
  float: right;
  color: #333;
  padding: 6px 10px;
  padding: 0.375rem 0.625rem;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 400;
  font-style: italic; }
  .move_section_link .icon {
    height: 22px;
    height: 1.375rem; }
  .move_section_link:first-child {
    margin-top: 6px;
    margin-top: 0.375rem; }

.delete_section_link {
  display: inline-block;
  float: left;
  color: #333;
  padding: 15px 10px;
  padding: 0.9375rem 0.625rem;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 400;
  font-style: italic; }
  .delete_section_link .simple_delete_icon {
    background-position: -384px -289px;
    height: 20px;
    height: 1.25rem; }

@media (min-width: 1020px) {
  .delete_section_link {
    position: absolute;
    right: 0;
    bottom: 0; } }

.edit_important_button_container {
  position: relative; }
  .edit_important_button_container .button {
    padding-right: 55px;
    padding-right: 3.4375rem; }
  .edit_important_button_container .edit_important_button_link {
    background-color: #d7272d;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 6px 10px 0;
    padding: 0.375rem 0.625rem 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0; }
    .edit_important_button_container .edit_important_button_link:hover, .edit_important_button_container .edit_important_button_link:focus, .edit_important_button_container .edit_important_button_link:active {
      background-color: #c12328; }

.additional_features {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #fff;
  padding-left: 8px;
  padding-left: 0.5rem; }
  .additional_features tilgang {
    float: left; }

.additional_features_link {
  display: inline-block;
  margin: 11px 0 0 4px;
  margin: 0.6875rem 0 0 0.25rem;
  padding: 1px 1px 0;
  padding: 0.0625rem 0.0625rem 0; }
  .additional_features_link:hover, .additional_features_link:focus, .additional_features_link:active {
    text-decoration: none; }
  .additional_features_link .icon {
    float: left;
    display: inline-block;
    height: 30px;
    height: 1.875rem;
    width: 28px;
    width: 1.75rem; }
  .additional_features_link .useradmin_icon {
    background-image: url("../images/editModeSprite.svg");
    background-position: 1px -33px; }
  .additional_features_link .position_icon {
    background-image: url("../images/editModeSprite.svg");
    background-position: -30px -33px; }
  .additional_features_link .single_arrow_down_small_icon {
    background-position: -322px -157px; }
  .additional_features_link .trash_icon {
    background-image: url("../images/editModeSprite.svg");
    background-position: -66px -33px; }
  .additional_features_link .icon_text {
    float: left;
    margin: 4px 2px 0 7px;
    margin: 0.25rem 0.125rem 0 0.4375rem; }

.position_feature .additional_features_link,
.useradmin_feature .additional_features_link {
  border: 1px solid transparent;
  border: 0.0625rem solid transparent;
  border-bottom: 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }
  .position_feature .additional_features_link:hover, .position_feature .additional_features_link:focus, .position_feature .additional_features_link:active, .position_feature .additional_features_link.active,
  .useradmin_feature .additional_features_link:hover,
  .useradmin_feature .additional_features_link:focus,
  .useradmin_feature .additional_features_link:active,
  .useradmin_feature .additional_features_link.active {
    background-color: #edf5f9; }
  .position_feature .additional_features_link.active,
  .useradmin_feature .additional_features_link.active {
    border-color: #d7272d; }
    .position_feature .additional_features_link.active .single_arrow_down_small_icon,
    .useradmin_feature .additional_features_link.active .single_arrow_down_small_icon {
      background-position: -354px -157px; }

.dropdown_container {
  position: absolute;
  right: 0;
  top: 45px;
  top: 2.8125rem;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #727272;
  border: 0.0625rem solid #727272;
  border-top: 0 none;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.16); }
  @media (min-width: 700px) {
    .dropdown_container {
      width: 350px;
      width: 21.875rem; } }

.position_feature .dropdown_container .position_info {
  color: #727272;
  padding: 5px 19px 6px;
  padding: 0.3125rem 1.1875rem 0.375rem;
  background-color: #f5f5f5;
  font-weight: 400;
  font-style: italic;
  border-bottom: 1px solid #727272;
  border-bottom: 0.0625rem solid #727272; }

.position_feature .dropdown_container ul {
  padding: 0 10px 0 18px;
  padding: 0 0.625rem 0 1.125rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem; }
  .position_feature .dropdown_container ul li {
    position: relative;
    list-style-image: none; }
    .position_feature .dropdown_container ul li a {
      display: inline-block;
      margin-left: -7px;
      margin-left: -0.4375rem;
      padding: 0 7px 1px;
      padding: 0 0.4375rem 0.0625rem;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid transparent;
      border: 0.0625rem solid transparent;
      cursor: pointer;
      -webkit-transition: border-color 100ms ease 0ms;
      -moz-transition: border-color 100ms ease 0ms;
      -ms-transition: border-color 100ms ease 0ms;
      -o-transition: border-color 100ms ease 0ms;
      transition: border-color 100ms ease 0ms; }
      .position_feature .dropdown_container ul li a:hover, .position_feature .dropdown_container ul li a:active, .position_feature .dropdown_container ul li a:focus {
        text-decoration: none; }
      .position_feature .dropdown_container ul li a:hover, .position_feature .dropdown_container ul li a:active {
        border-color: #d7272d; }
    .position_feature .dropdown_container ul li.current > a {
      cursor: text;
      font-weight: 400;
      font-style: normal;
      border-color: #d7272d; }
    .position_feature .dropdown_container ul li ul {
      margin-bottom: 0;
      padding-right: 0;
      padding-left: 20px;
      padding-left: 1.25rem; }
      .position_feature .dropdown_container ul li ul li:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        bottom: 0;
        left: -17px;
        left: -1.0625rem;
        width: 1px;
        width: 0.0625rem;
        background-color: #d7272d; }
      .position_feature .dropdown_container ul li ul li:after {
        content: "";
        position: absolute;
        top: 12px;
        top: 0.75rem;
        left: -17px;
        left: -1.0625rem;
        height: 1px;
        height: 0.0625rem;
        width: 5px;
        width: 0.3125rem;
        background-color: #d7272d; }
      .position_feature .dropdown_container ul li ul li:last-child:before {
        bottom: 14px;
        bottom: 0.875rem; }

.position_feature .dropdown_container > ul {
  padding-bottom: 0;
  max-height: 380px;
  max-height: 23.75rem;
  padding-top: 12px;
  padding-top: 0.75rem;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 0; }

.position_feature .dropdown_container > ul > li {
  padding-bottom: 6px;
  padding-bottom: 0.375rem; }
  .position_feature .dropdown_container > ul > li:last-child {
    padding-bottom: 18px;
    padding-bottom: 1.125rem; }

.position_feature .dropdown_container ul ul {
  padding-top: 2px;
  padding-top: 0.125rem; }

.position_feature .dropdown_container .position_submit {
  width: 100%;
  margin: 0;
  border-color: #0f7a1d;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.32) inset;
  -webkit-box-shadow: 0 -0.0625rem 0.125rem rgba(0, 0, 0, 0.32) inset;
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.32) inset;
  -moz-box-shadow: 0 -0.0625rem 0.125rem rgba(0, 0, 0, 0.32) inset;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.32) inset;
  box-shadow: 0 -0.0625rem 0.125rem rgba(0, 0, 0, 0.32) inset; }

.useradmin_feature .dropdown_container ul {
  padding-left: 0;
  margin: 12px 18px 18px;
  margin: 0.75rem 1.125rem 1.125rem; }
  .useradmin_feature .dropdown_container ul li {
    position: relative;
    padding: 6px 0 7px;
    padding: 0.375rem 0 0.4375rem;
    border-bottom: 1px solid #f5f5f5;
    border-bottom: 0.0625rem solid #f5f5f5;
    list-style-image: none;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto; }
    .useradmin_feature .dropdown_container ul li.can_remove_user {
      padding-right: 34px;
      padding-right: 2.125rem; }
    .useradmin_feature .dropdown_container ul li .icon {
      position: absolute;
      right: -6px;
      right: -0.375rem;
      top: 3px;
      top: 0.1875rem; }
    .useradmin_feature .dropdown_container ul li .arrow_up_icon {
      background-image: url("../images/editModeSprite.svg");
      background-position: -64px 0px; }

.useradmin_feature .dropdown_container ul li.add_user {
  padding: 0;
  border-bottom: 0 none; }
  .useradmin_feature .dropdown_container ul li.add_user input {
    display: block;
    color: #3b65a3;
    padding: 3px 0 4px;
    padding: 0.1875rem 0 0.25rem;
    font-weight: 400;
    font-style: italic;
    border: 0 none;
    border-bottom: 1px solid #f5f5f5;
    border-bottom: 0.0625rem solid #f5f5f5;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.66667;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer; }
    .useradmin_feature .dropdown_container ul li.add_user input:focus, .useradmin_feature .dropdown_container ul li.add_user input:active {
      cursor: text;
      border-bottom: 1px solid #d7272d;
      border-bottom: 0.0625rem solid #d7272d; }
  .useradmin_feature .dropdown_container ul li.add_user button {
    border: 0 none;
    margin-bottom: 0;
    background-color: #fff !important; }
    .useradmin_feature .dropdown_container ul li.add_user button:hover, .useradmin_feature .dropdown_container ul li.add_user button:active, .useradmin_feature .dropdown_container ul li.add_user button:focus {
      background-color: transparent; }
    .useradmin_feature .dropdown_container ul li.add_user button[disabled] {
      opacity: 1;
      background-image: none;
      background-position: -352px -288px; }

.frontpage_edit_mode_container {
  position: relative;
  height: 32px;
  height: 2rem;
  *zoom: 1; }
  .frontpage_edit_mode_container:before, .frontpage_edit_mode_container:after {
    content: "";
    display: table;
    line-height: 0; }
  .frontpage_edit_mode_container:after {
    clear: both; }

.preview_article_edit_menu_container {
  position: absolute;
  z-index: 1;
  top: -1px;
  top: -0.0625rem;
  right: 8px;
  right: 0.5rem; }
  .preview_article_edit_menu_container .icon {
    cursor: pointer;
    position: relative;
    z-index: 2;
    height: 22px;
    height: 1.375rem;
    width: 23px;
    width: 1.4375rem;
    background-color: #fff;
    background-position: -165px -164px;
    border: 1px solid transparent;
    border: 0.0625rem solid transparent;
    border-bottom: 0 none; }
    .preview_article_edit_menu_container .icon:hover {
      background-position: -325px -164px;
      border: 1px solid #e0e0e0;
      border: 0.0625rem solid #e0e0e0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
  .preview_article_edit_menu_container .edit_menu {
    display: none;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 23px;
    top: 1.4375rem;
    margin: 0;
    padding: 0;
    width: 185px;
    width: 11.5625rem;
    min-height: 36px;
    min-height: 2.25rem;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border: 0.0625rem solid #e0e0e0;
    -webkit-border-radius: 3px 0 3px 3px;
    -moz-border-radius: 3px 0 3px 3px;
    border-radius: 3px 0 3px 3px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.08); }
    .preview_article_edit_menu_container .edit_menu li {
      list-style-image: none;
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.5;
      border-bottom: 1px solid #e0e0e0;
      border-bottom: 0.0625rem solid #e0e0e0; }
      .preview_article_edit_menu_container .edit_menu li:last-child {
        border-bottom: 0 none; }
    .preview_article_edit_menu_container .edit_menu a {
      word-wrap: break-word;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      -o-hyphens: none;
      hyphens: none;
      color: #3b65a3;
      display: block;
      text-decoration: none;
      padding: 5px 0 7px 15px;
      padding: 0.3125rem 0 0.4375rem 0.9375rem; }
      .preview_article_edit_menu_container .edit_menu a:hover {
        text-decoration: underline; }
    .preview_article_edit_menu_container .edit_menu .meta_info {
      color: #727272;
      display: block;
      padding: 5px 0 7px 15px;
      padding: 0.3125rem 0 0.4375rem 0.9375rem; }
    @media (min-width: 1510px) {
      .preview_article_edit_menu_container .edit_menu {
        right: inherit;
        left: 0;
        -webkit-border-radius: 0 3px 3px 3px;
        -moz-border-radius: 0 3px 3px 3px;
        border-radius: 0 3px 3px 3px; } }

.active.preview_article {
  background-color: #ebf8ff;
  border-top: 1px solid rgba(215, 39, 45, 0.5);
  border-top: 0.0625rem solid rgba(215, 39, 45, 0.5);
  border-bottom: 1px solid rgba(215, 39, 45, 0.5);
  border-bottom: 0.0625rem solid rgba(215, 39, 45, 0.5);
  margin-top: -18px;
  margin-top: -1.125rem;
  padding-top: 17px;
  padding-top: 1.0625rem; }
  .active.preview_article .preview_article_edit_menu_container {
    top: 16px;
    top: 1rem;
    z-index: 4; }
    .active.preview_article .preview_article_edit_menu_container .icon {
      background-position: -357px -164px;
      border-color: #e0e0e0;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0; }
    .active.preview_article .preview_article_edit_menu_container .edit_menu {
      display: inherit; }
  .active.preview_article:first-child {
    margin-top: -8px;
    margin-top: -0.5rem;
    padding-top: 7px;
    padding-top: 0.4375rem; }
    .active.preview_article:first-child .preview_article_edit_menu_container {
      top: 6px;
      top: 0.375rem; }

.upload_image_area {
  display: block;
  text-align: center;
  height: 240px;
  height: 15rem;
  border: 1px dashed #d7272d;
  border: 0.0625rem dashed #d7272d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 24px;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 18px;
  margin: 0 0 1.125rem;
  background-color: #d92f35;
  -webkit-transition: background-color 100ms ease 0ms;
  -moz-transition: background-color 100ms ease 0ms;
  -ms-transition: background-color 100ms ease 0ms;
  -o-transition: background-color 100ms ease 0ms;
  transition: background-color 100ms ease 0ms; }
  .upload_image_area .image_icon {
    display: inline-block;
    background-image: url("../images/editModeSprite.svg");
    background-position: -96px 0;
    height: 64px;
    height: 4rem;
    width: 64px;
    width: 4rem; }
  .upload_image_area:hover, .upload_image_area:active {
    background-color: #d7272d;
    text-decoration: none; }
  .upload_image_area:hover .upload_image_link_text, .upload_image_area:active .upload_image_link_text {
    text-decoration: underline; }

.preview_article_image_edit {
  margin-bottom: 18px;
  margin-bottom: 1.125rem; }
  .preview_article_image_edit .change_image_area a {
    text-align: center; }
  .preview_article_image_edit .change_image_area img {
    max-width: 270px;
    max-width: 16.875rem; }

.expiration_date {
  position: relative;
  z-index: 0; }
  .expiration_date label {
    position: relative;
    z-index: 2;
    margin-right: 6px;
    margin-right: 0.375rem; }
    .expiration_date label:after {
      content: "";
      cursor: pointer;
      position: absolute;
      top: 0;
      right: -37px;
      right: -2.3125rem;
      height: 18px;
      height: 1.125rem;
      width: 18px;
      width: 1.125rem;
      background: url("../images/editModeSprite.svg") -71px -71px no-repeat transparent; }
  .expiration_date input {
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-size: 1.125rem;
    padding: 5px 10px 3px 40px;
    padding: 0.3125rem 0.625rem 0.1875rem 2.5rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .expiration_date input.ng-pristine {
      border-color: #727272;
      cursor: pointer;
      opacity: .8; }
      .expiration_date input.ng-pristine:focus {
        border-color: #d7272d;
        cursor: text;
        opacity: inherit; }

.edit_news_author {
  margin-top: 3px;
  margin-top: 0.1875rem; }
  .edit_news_author input {
    font-size: 16px;
    font-size: 1rem;
    padding-top: 6px;
    padding-top: 0.375rem;
    padding-bottom: 5px;
    padding-bottom: 0.3125rem;
    margin-right: 6px;
    margin-right: 0.375rem;
    margin-left: 6px;
    margin-left: 0.375rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .edit_news_author input.ng-pristine {
      border-color: #727272;
      cursor: pointer;
      opacity: .8; }
      .edit_news_author input.ng-pristine:focus {
        border-color: #d7272d;
        cursor: text;
        opacity: inherit; }

.update_published_date {
  margin-top: 42px;
  margin-top: 2.625rem; }

.mbs {
  margin-bottom: 7px;
  margin-bottom: 0.4375rem; }

.mbm {
  margin-bottom: 14px;
  margin-bottom: 0.875rem; }

.mbml {
  margin-bottom: 21px;
  margin-bottom: 1.3125rem; }

.mbl {
  margin-bottom: 28px;
  margin-bottom: 1.75rem; }

.mbxl {
  margin-bottom: 35px;
  margin-bottom: 2.1875rem; }

.mbxxl {
  margin-bottom: 42px;
  margin-bottom: 2.625rem; }

.mbj {
  margin-bottom: 56px;
  margin-bottom: 3.5rem; }

.mbn {
  margin-bottom: 0; }

@media (max-width: 699px) {
  .mbs--mob {
    margin-bottom: 7px;
    margin-bottom: 0.4375rem; }
  .mbm--mob {
    margin-bottom: 14px;
    margin-bottom: 0.875rem; }
  .mbml--mob {
    margin-bottom: 21px;
    margin-bottom: 1.3125rem; }
  .mbl--mob {
    margin-bottom: 28px;
    margin-bottom: 1.75rem; }
  .mbxl--mob {
    margin-bottom: 35px;
    margin-bottom: 2.1875rem; }
  .mbxxl--mob {
    margin-bottom: 42px;
    margin-bottom: 2.625rem; }
  .mbj--mob {
    margin-bottom: 56px;
    margin-bottom: 3.5rem; }
  .mbn--mob {
    margin-bottom: 0; } }

@media (max-width: 1019px) {
  .page_header_container_with_org_menu .page_header,
  .page_header_container_with_org_menu .h2_page_header_with_link {
    margin-bottom: 0; } }

@media (min-width: 700px) {
  .mbl .read_more_link_container {
    margin-bottom: -28px;
    margin-bottom: -1.75rem; }
  .mbxl .read_more_link_container {
    margin-bottom: -28px;
    margin-bottom: -1.75rem; }
  .mbxxl .read_more_link_container {
    margin-bottom: -28px;
    margin-bottom: -1.75rem; }
  .mbj .read_more_link_container {
    margin-bottom: -21px;
    margin-bottom: -1.3125rem; } }

.mts {
  margin-top: 7px;
  margin-top: 0.4375rem; }

.mtm {
  margin-top: 14px;
  margin-top: 0.875rem; }

.mtml {
  margin-top: 21px;
  margin-top: 1.3125rem; }

.mtl {
  margin-top: 28px;
  margin-top: 1.75rem; }

.mtxl {
  margin-top: 35px;
  margin-top: 2.1875rem; }

.mtxxl {
  margin-top: 42px;
  margin-top: 2.625rem; }

.mtj {
  margin-top: 56px;
  margin-top: 3.5rem; }

.mtn {
  margin-top: 0; }

@media (max-width: 699px) {
  .mts--mob {
    margin-top: 7px;
    margin-top: 0.4375rem; }
  .mtm--mob {
    margin-top: 14px;
    margin-top: 0.875rem; }
  .mtml--mob {
    margin-top: 21px;
    margin-top: 1.3125rem; }
  .mtl--mob {
    margin-top: 28px;
    margin-top: 1.75rem; }
  .mtxl--mob {
    margin-top: 35px;
    margin-top: 2.1875rem; }
  .mtxxl--mob {
    margin-top: 42px;
    margin-top: 2.625rem; }
  .mtj--mob {
    margin-top: 56px;
    margin-top: 3.5rem; }
  .mtn--mob {
    margin-bottom: 0; } }

.neg-mts {
  margin-top: -7px;
  margin-top: -0.4375rem; }

.neg-mtm {
  margin-top: -14px;
  margin-top: -0.875rem; }

.neg-mtml {
  margin-top: -21px;
  margin-top: -1.3125rem; }

.neg-mtl {
  margin-top: -28px;
  margin-top: -1.75rem; }

.neg-mtxl {
  margin-top: -35px;
  margin-top: -2.1875rem; }

.neg-mtxxl {
  margin-top: -42px;
  margin-top: -2.625rem; }

.neg-mtj {
  margin-top: -56px;
  margin-top: -3.5rem; }
