<div class="mbxxl">
    <h2 class="sidebar-header sidebar-header--open mbm js_sidebar-accordion">
        <a href="#" class="sidebar-header__toggle">
            Gyldighet
            <span class="arrow-icon"></span>
        </a>
    </h2>
    <div style="display: block;">
        {{# utlopsdato }}
            {{> atoms-datofelt }}
        {{/ utlopsdato }}
        {{# resetDato }}
            {{#hjelpetekst}}
                {{> atoms-hjelpetekst:mtm}}
            {{/ hjelpetekst}}

            {{> atoms-avkryssingsboks }}
        {{/ resetDato }}
    </div>
</div>
