<section>
    <h2 class="module_header">
        <a href="{{ link.pages-tjenestetilbud }}" title="Tjenestetilbud">
            Tjenester
        </a>
    </h2>
    <div class="row_no_clearfix equal_height_container">
        {{# tjeneste }}
            <div class="col_md_6 col_lg_4 clear_col_md_6 clear_col_lg_4 equal_height_item mbl">
                {{> molecules-lenkeboks-med-lenker }}
            </div>
        {{/ tjeneste }}
    </div>
    <div class="read_more_link_container read_more_link_container--top-border mbj">
        <a href="{{ link.pages-tjenestetilbud }}" title="Tjenestetilbud">
            <span class="read_more_link_medium">
                Finn flere tjenester
            </span>
        </a>
    </div>
</section>