<section class="mbj">
    
    {{> molecules-moduloverskrift-h2-med-lenke(url: "{{ link.pages-tjenester }}", tittel: "Tjenester") }}
    
    <div class="row_no_clearfix equal_height_container">
        {{# tjeneste }}
            <div class="col_md_6 col_lg_4 clear_col_md_6 clear_col_lg_4 equal_height_item mbl">
                {{> molecules-lenkeboks-med-lenker }}
            </div>
        {{/ tjeneste }}
    </div>
    
    {{> molecules-les-mer:read_more_link_container--top-border(lesMerTekst: "Finn flere tjenester", url: "{{ link.pages-tjenester }}", antall: false) }}
    
</section>