{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    {{> molecules-sideoverskrift-h1(sidetittel: "{{ sidetittel }}") }}
    
    <div class="row">        
        <div class="col_md_12 col_lg_6">
    
            <p>
                {{ stilling }}                
                {{# organisasjonsenhet }}
                    - <a href="{{ organisasjonsenhet.url }}" title="{{ organisasjonsenhet.tittel }}">
                        {{ organisasjonsenhet.tittel }}
                    </a>
                {{/ organisasjonsenhet }}                
                {{# arbeidsoppgave }}
                    <br>{{ arbeidsoppgave }}                    
                {{/ arbeidsoppgave }}  
            </p>

            <dl class="contact_content contact_content_employee_page_dl mbj">

                <dt class="screen-reader-text">Telefon:</dt>
                <dd class="with_icon">
                    <a href="tel:55566000">
                        <span class="icon-phone grunt-icon grunt-icon--32"></span>
                        55566322
                    </a>
                </dd>

                <dt class="screen-reader-text">Mobil:</dt>
                <dd class="with_icon">
                    <a href="tel:55566000">
                        <span class="icon-cellphone grunt-icon grunt-icon--32"></span>
                        94527376
                    </a>
                </dd>

                <dt class="screen-reader-text">E-post:</dt>
                <dd class="with_icon">
                    <a href="mailto:Oddbjorn.Andersen@bergen.kommune.no" title="Oddbjorn.Andersen@bergen.kommune.no">
                        <span class="icon-email grunt-icon grunt-icon--32"></span>
                        Oddbjorn.Andersen@bergen.kommune.no
                    </a>
                </dd>

            </dl>
            
        </div>
    </div>


</main>
{{> organisms-footer }}