{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    <div class="page_header_container_with_org_menu">
        
        {{# forInnbygger }}
        {{> molecules-sideoverskrift-med-lenke(sidetittel: "{{ innbygger.tittel }}", url: "{{ innbygger.url }}") }}
        {{/ forInnbygger }}
        
    </div>

    <div class="row">
        <div class="col_md_12 col_lg_4">
            
            {{# meny }}
            {{> molecules-org-meny }}
            {{/ meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
            
            {{> molecules-moduloverskrift-h1:mbxl(tittel: "Fakturaer") }}
            
            {{# fakturaNotis }}
            {{> molecules-notis }}
            {{/ fakturaNotis }}
            
            <div class="form-element__helptext hidden">
                Tabellene er satt opp med 50% / 25% / 25%
            </div>

            <h3 class="flex-table__title flex-table__title--results mbm" id="ubetalte-fakturaer">Ubetalte fakturaer</h3>
            {{# tableUbetalt }}
                <div class="{{tableModifier}}">
                    {{> atoms-flex-tabell }}
                </div>
            {{/ tableUbetalt }}
            
            <h3 class="flex-table__title flex-table__title--results mbm" id="betalte-fakturaer">Betalte fakturaer</h3>
            {{> atoms-nedtrekksliste:mbl }}
            {{# tableBetalt }}
                <div class="{{tableModifier}}">
                    {{> atoms-flex-tabell }}
                </div>
            {{/ tableBetalt }}

        </div>
    </div>
  
</main>
{{> organisms-footer }}