{{> organisms-header-ih }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    {{# panel }}
        <div class="panel_container">
            {{> molecules-panel }}
        </div>
    {{/ panel }}
    {{> molecules-sideoverskrift-h1:mbxl }}

    {{# tjenestekategoriNavigasjon }}
        {{^ rediger }}
        {{> molecules-tjenestekategori-navigasjon }}
        {{/ rediger }}
        {{# rediger }}
            {{> molecules-tjenestekategori-navigasjon--redigering }}
        {{/ rediger }}
    {{/ tjenestekategoriNavigasjon }}

    <div class="row">
        
        {{# jobb }}
            <div class="col_md_6 col_lg_6">    
                {{> organisms-service-snarvei:mbj }}
            </div>
        {{/ jobb }}
        
        <div class="col_md_6 col_lg_6">
            {{# eksempel }}
            {{> organisms-service-snarvei:mbj }}
            {{/ eksempel }}
        </div>
        
    </div>

</main>
{{> organisms-footer }}
