<div class="module_container module_box_style module_equal_heights">
    {{# bilde }}
    <div class="module_image_container">
        <a href="{{ url }}" title="{{ tittel }}" class="module_image_link">
            <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" class="module_image" />
        </a>
    </div>
    {{/ bilde }}
    <div class="module_content_container">
        <a href="{{ url }}" class="module_content_title">
            <span class="read_more_link read_more_link--22">{{ tittel }}</span>
        </a>
        <div class="module_content_date">
            {{ dato }}
        </div>
        <div class="module_content_excerpt">
            <p>
                {{ ingress }}
            </p>
        </div>
    </div>
</div>