{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{# actionLine }}
        {{> molecules-action-line }}
    {{/ actionLine }}
        
    {{> molecules-sideoverskrift-h2-med-lenke:h2_page_header_with_link--inactive(sidetittel: "{{ sidetittel }}", url: "{{ sideURL }}") }}

    <div class="row">

        {{# meny }}
            <div class="col_md_12 col_lg_4">
                {{> molecules-org-meny:org_menu_container--inactive }}
            </div>
        {{/ meny }}

        {{# menyRedigering }}
            <div class="col_md_12 col_lg_4">
                {{> molecules-org-meny--redigering:org_menu_container--inactive }}
            </div>
        {{/ menyRedigering }}
        
        <!--
        ORIGINAL:
        https://www.bergen.kommune.no/omkommunen/avdelinger/vannog-avlopsetaten/9081/article-129920
        -->
        
        <div class="col_md_12 col_lg_8 org_main_col">
            <div class="article">
                <h1 class="article__header">Slik kan du avverge oversvømmelser</h1>
                <p class="article__excerpt">Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas.</p>
                <div class="article__content">
                    <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim.</p>
                    <p>Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc.</p>
                    
                    <div class="youtube-thumb-container" data-id="8WSUBaNMcj0" style="background-image: url(http://i.ytimg.com/vi/8WSUBaNMcj0/maxresdefault.jpg);"><a href="#" class="js-youtube-thumb youtube-thumb-link" title="Velkommen til Bergen kommune"></a></div>
                </div>

                <div class="article_footer_print_link_container">
                    <a href="unsafe:javascript:window.print()" title="Skriv ut">
                        <span class="icon-print grunt-icon grunt-icon--32"></span>
                        <span class="print_link_txt">Skriv ut</span>
                    </a>
                </div>

                <div class="articleinfo">
                    <div class="date">
            <span>
                Publisert: <span>07.10.2014</span>
                <span class="separator">|</span>
                Oppdatert: <span>01.08.2017</span>
            </span>
                    </div>
                    <div class="author">
                        <span>Tekst:</span>
                        <a href="#">Ola Nordmann</a>
                        <span class="separator">|</span>
                        <a href="#">Kari Nordmann</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


</main>
{{> organisms-footer }}