<div class="mbxxl">
    <h2 class="sidebar-header sidebar-header--open mbm js_sidebar-accordion">
        <a href="#" class="sidebar-header__toggle">
            Status
            <span class="arrow-icon"></span>
        </a>
    </h2>
    <div style="display: block;">
        {{#sideoversikt}}
        <div class="form-element__helptext mbs">
            Artikkelen er {{ status-hjelpetekst }}. <a href="{{ link.pages-sidehistorikk }}">Se sidehistorikk</a>
        </div>
        {{/sideoversikt}}
        {{# avpubliserKnapp }}
            <button class="button mrm mbn">Avpubliser</button>
        {{/ avpubliserKnapp }}
        <button class="button button--danger mbn">{{sletteTekst}}</button>
    </div>
</div>
