<div class="invoice_table {{ styleModifier }}">
    <div class="invoice_table_caption">
        Faktura for 2018
    </div>
    
    <div class="div_table_desktop_header_row">
        <div class="div_table_cell div_table_row_title">Faktura</div>
        <div class="div_table_cell div_table_row_content">Fakturanr.</div>
        <div class="div_table_cell div_table_row_content">Forfallsdato</div>
        <div class="div_table_cell div_table_row_content">Beløp</div>
    </div>
    
    {{# gammelFakturaTabell }}
    <div class="div_table_row">
        <div class="div_table_cell div_table_row_title">
            <a href="{{ url }}" title="Faktura" class="invoice_link" target="_blank">
                <span class="file_icon {{ filikon }}">
                    <span class="screen-reader-text">{{ filtype }}</span>
                </span>
                {{ tittel }}
            </a>
        </div>
        <div class="div_table_cell div_table_row_content">
            <span class="div_table_mobile_header">Fakturanr.</span>
            {{ nummer }}
        </div>
        <div class="div_table_cell div_table_row_content">
            <span class="div_table_mobile_header">Forfallsdato</span>
            {{ dato }}
        </div>
        <div class="div_table_cell div_table_row_content">
            <span class="div_table_mobile_header">Beløp</span>
            {{ belop }}
        </div>
    </div>
    {{/ gammelFakturaTabell }}
    {{# gammelFakturaTabellIkkeTilgjengelig }}
    <div class="div_table_row">
        <div class="div_table_cell div_table_row_title">
            <span class="invoice_link invoice_link--disabled">
                <span class="file_icon {{ filikon }}">
                    <span class="screen-reader-text">{{ filtype }}</span>
                </span>
                {{ tittel }}
            </span>
        </div>
        <div class="div_table_cell div_table_row_content">
            <span class="div_table_mobile_header">Fakturanr.</span>
            {{ nummer }}
        </div>
        <div class="div_table_cell div_table_row_content">
            <span class="div_table_mobile_header">Forfallsdato</span>
            {{ dato }}
        </div>
        <div class="div_table_cell div_table_row_content">
            <span class="div_table_mobile_header">Beløp</span>
            {{ belop }}
        </div>
    </div>
    {{/ gammelFakturaTabellIkkeTilgjengelig }}
</div>