<div class="search-checkbox-filter mbl">
    <span class="search-checkbox-filter__title mbm">Avgrens søket:</span>
    <button class="search-checkbox-filter__button mbm">Avgrens søket</button>
    <div class="search-checkbox-filter__content">
        {{> atoms-avkryssingsboks}}
    </div>
</div>