<div class="search-checkbox-filter">
    <span class="search-checkbox-filter__title mbms">Avgrens søket:</span>
    <button class="search-checkbox-filter__button mbms">Avgrens søket:</button>
    <div class="search-checkbox-filter__content">
        {{> atoms-avkryssingsboks}}
    </div>
</div>