{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    {{> molecules-sideoverskrift-h1:mbxl(sidetittel: "{{ sidetittel }}") }}

    <div class="row">
        
        {{# innbyggerhjelpBilde }}
        <div class="col_md_12 col_lg_4 float_change">
            <figure class="mtn mbl">
                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}">
            </figure>
        </div>
        {{/ innbyggerhjelpBilde }}
        
        <div class="col_md_12 col_lg_8">

            {{# notis }}
            {{> molecules-notis }}
            {{/ notis }}

            {{# kortIntro }}
                <div class="article__content mbn">
                    {{{ kortIntro }}}
                </div>
            {{/ kortIntro }}

            {{> molecules-trekkspill-innbyggerhjelp }}

            {{# digitaltSkjema }}
                <a href="{{ url }}" title="{{ tittel }}" class="button important active button--digital-form mbj">
                    {{ tittel }}
                </a>
            {{/ digitaltSkjema }}
            
            {{# nyttigInnhold }}
            <div class="tout-box-style">
                <h2 class="mtn mbml">Nyttig innhold</h2>
                <div class="row_no_clearfix equal_height_container">
                    {{# touts }}
                        <div class="col_md_6 col_lg_6 equal_height_item">
                            {{> molecules-tout }}
                        </div>
                    {{/ touts }}
                </div>
            </div>
            {{/ nyttigInnhold }}

            {{# footer }}
                {{> organisms-tjeneste-footer:mbj }}
            {{/ footer }}

            {{> molecules-tilbakemelding }}

        </div>
    </div>
        
</main>
{{> organisms-footer }}