{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    {{> molecules-sideoverskrift-h1:mbxl(sidetittel: "{{ sidetittel }}") }}

    <div class="row">
        
        {{# imgLandscape }}
        <div class="col_md_12 col_lg_4 float_change">
            <figure class="mtn mbl">
                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}">
            </figure>
        </div>
        {{/ imgLandscape }}
        
        <div class="col_md_12 col_lg_8">

            {{# notis }}
            {{> molecules-notis }}
            {{/ notis }}

            {{# kortIntro }}
                <div class="article__content mbn">
                    {{{ kortIntro }}}
                </div>
            {{/ kortIntro }}

            {{> molecules-trekkspill-innbyggerhjelp }}

            {{# digitaltSkjema }}
                <a href="{{ url }}" title="{{ tittel }}" class="button important active mbj">
                    {{ tittel }}
                </a>
            {{/ digitaltSkjema }}

            {{# footer }}
                {{> organisms-tjeneste-footer:mbj }}
            {{/ footer }}

            {{> molecules-tilbakemelding }}

        </div>
    </div>
        
</main>
{{> organisms-footer }}