<div class="module_header_with_error_link {{ styleModifier }}">
    <h2 class=" {{ styleModifier }}">
        {{ tittel }}
    </h2>
    {{# feillenke }}
    <div class="error_link_container">
        <a href="{{ url }}" title="{{ tittel }}">
            {{ tittel }}
        </a>
    </div>
    {{/ feillenke }}
</div>