<nav id="js_mob_menu_container" class="mob_menu_container hvaskjer_menu_container">
    <a href="" class="mob_menu_header">
        Meny
        <span class="arrow-icon"></span>
    </a>
    <ul class="mob_menu hvaskjer_menu">
        {{# underkategoriListe }}
            <li class="{{# isActive }}active{{/ isActive }}">
                <a href="{{ url }}" class="menu_link">
                    {{ tittel }}
                </a>
            </li>
        {{/ underkategoriListe }}
            <li id="js_hvaskjer_additional_menu_container" class="hvaskjer_additional_menu_container">
                <a href="" class="toggle_additional_menu_link">
                    Mer<span class="arrow-icon"></span>
                </a>
                <ul class="hvaskjer_additional_menu">
                    {{# merListe }}
                        <li class="{{# isActive }}active{{/ isActive }}">
                            <a href="{{ url }}" class="menu_link">
                                {{ tittel }}
                            </a>
                        </li>
                    {{/ merListe }}
                </ul>
            </li>
    </ul>
</nav>