<div class="editor-article-list__item">

    {{#peker}}
        <div class="editor-article-list__menu-bar mbml">
            <span class="editor-article-list__title"><span class="screen-reader-text"> Artikkeltype </span>PEKER</span>
            <div class="editor-article-list__menu">
                <a href="#" class="editor-article-list__menu-button"> Endre <span class="arrow-icon" onclick=""></span> </a>
                <ul class="editor-article-list__menu-list">
                    <li class="editor-article-list__menu-list-item ">
                      <a href="#{{ pekerID }}" class="js_openModal">Rediger</a>
                    </li>
                    <li class="editor-article-list__menu-list-item editor-article-list__menu-list-item--danger">
                      <a href="#aapneSlettPeker" class="js_openModal" href="">Slett peker</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="{{ pekerID }}">
          {{> molecules-modal }}
        </div>
    {{/peker}}
    
    <div class="ece_module_container{{# imgLandscape }} has_image{{/ imgLandscape }} {{ styleModifier }}">
        
        {{# imgLandscape }}
            <div class="ece_module_image_container">
                <a href="{{ url }}" title="{{ tittel }}" class="ece_module_image_link">
                    <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" class="ece_module_image">
                </a>
            </div>
        {{/ imgLandscape }}
        
        <div class="ece_module_content_container">
            
            <h3 class="ece_module_title">
                <a href="{{ url }}" title="{{ tittel }}">
                    <span class="read_more_link read_more_link--24">
                        {{ tittel }}
                    </span>
                </a>
            </h3>
        
            {{# ingress }}
            <div class="ece_module_excerpt">
                <p>		
                    {{ ingress }}
                </p>
            </div>
            {{/ ingress }}
        
            {{# meta }}
            <div class="ece_module_meta">
                <p>
                    {{# lesmertekst }}
                        <a href="{{ url }}" class="read_more_link">{{ lesmertekst }}</a>
                    {{/ lesmertekst }}

                    {{# seksjonslenke }}
                        <a href="{{ url }}" class="section_link read_more_link">{{ seksjonslenke }}</a>
                    {{/ seksjonslenke }}

                    {{# dato }}
                        <span class="date">({{ dato }})</span>
                    {{/ dato }}
                </p>
            </div>
            {{/ meta }}
            
        </div>
    </div>
    
    <div class="editor-article-list__sort mbml">
        Flytt artikkelen:
        {{# flyttOpp }}
        <a class="editor-article-list__sort__link-up" href="#">
          <span class="icon-arrow-ordering"></span>Opp
        </a>
        {{/ flyttOpp }}
        {{# flyttNed }}
        <a class="editor-article-list__sort__link-down" href="#">
          <span class="icon-arrow-ordering"></span>Ned
        </a>
        {{/ flyttNed }}
    </div>

</div>