{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    <div class="mbl">
        {{> molecules-sideoverskrift-h1(sidetittel: "{{ sidetittel }}") }}
    </div>
        
    <div class="row">
        <div class="col_md_12 col_lg_8">
            
            {{# tabs }}
                {{> molecules-tabs:mbl }}
            {{/ tabs }}

            {{# searchFilter }}
                {{> atoms-filterboks:mbml }}
            {{/ searchFilter }}

            <p class="js_empty_filter_search no_results mtml" style="display: none;">
                Ingenting funnet
            </p>

            {{# antallOverskrift }}
                {{> molecules-moduloverskrift-h2:mbs }}
            {{/ antallOverskrift }}

            {{> molecules-link-liste-filter-soek:mbj }}
            {{# lastFlere }}
                {{> molecules-last-inn-flere:neg-mtxl }}
            {{/ lastFlere }}
            
        </div>
        <div class="col_md_12 col_lg_4">
        
            {{# touts }}
                {{> molecules-tout:mbj|mtm|mtn--mob }}
            {{/ touts }}
            
        </div>
    </div>
</main>
{{> organisms-footer }}