{{> organisms-header-4 }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    {{> molecules-sideoverskrift-h1:mbl(sidetittel: "Postjournal") }}

    <div class="row mbj">

        <div class="col_md_12 col_lg_8 mbxxl">
            <div class="notice_container {{ styleModifier }}">
                <div class="notice_inner">
                    <div>
                        <p>Kort og presist tekst om at det eksisterer to løsninger for tiden. Aliquam sed iaculis nibh, laoreet laoreet lorem. Vestibulum massa dui, facilisis at tristique eu, convallis et nisi. In malesuada non ante id mattis.</p>
                    </div>
                </div>
                <div class="notice_inner__actions">
                    <p><a href="#"> Mer informasjon</a></p>
                    <button class="button"> Til den eldre løsningen</button>
                </div>
            </div>
        </div>

        <div class="col_md_12 col_lg_4 clear_left">
            {{#sok}} {{> molecules-sokefilter}} {{/sok}}
        </div>

        <div class="col_md_12 col_lg_12">
            {{> molecules-flex-tabell}}
        </div>
    </div>

</main>
{{> organisms-footer }}