<h3 class="helpers_header">Ingress</h3>
<div class="helpers_info mbs">Maks 400 tegn</div>
<div class="excerpt_counter__area mbl">
    <textarea class="textarea--excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis pellentesque ex sed venenatis. Vivamus id rutrum purus. Aliquam auctor pretium iaculis.</textarea>
    <div id="ingress_counter" class="excerpt_counter">
        <span> 160 av 200 tegn </span>
    </div>
</div>