<h3 class="helpers_header">Ingress</h3>
<div class="helpers_info mbs">Maks 400 tegn</div>
<div class="excerpt_counter__area">
    <textarea class="textarea--excerpt"></textarea>
    <div id="ingress_counter" class="excerpt_counter">
        <span> 0 av 400 tegn </span>
    </div>
</div>