<h3 class="helpers_header" id="ingress_tittel">Ingress</h3>
<p class="helpers_info mbs">Maks 200 tegn</p>

{{# redigerIngress }}
    <div class="excerpt_counter__area {{styleModifier}}">
        <textarea aria-labelledby="ingress_tittel"
                  id="ingress"
                  draggable="false"
                  class="textarea--excerpt mbn"
                  name="ingress">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>
        <div id="ingress_counter" class="excerpt_counter">
            <span> 124 av 200 tegn </span>
        </div>
    </div>
{{/ redigerIngress }}

{{# redigerIngressFeil }}
    <div class="excerpt_counter__area {{styleModifier}}">
        <textarea aria-labelledby="ingress_tittel"
                  id="ingress"
                  draggable="false"
                  class="textarea--excerpt mbn error-input"
                  name="ingress"
                  style="height: 151px;">{{ingress}}</textarea>
        <div id="ingress_counter" class="excerpt_counter super_warn">
            <span> 232 av 200 tegn </span>
        </div>
    </div>
    <div class="error-text neg-mtxl mbxxl">
        <span>Ingressen er for lang</span>
    </div>
{{/ redigerIngressFeil }}