{{> organisms-header-varianter }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    {{> molecules-sideoverskrift-h1(sidetittel: "Min side - Samtykke") }}

    <div class="content_max_width mbj">

        <p>For at Min side skal fungere best mulig, må vi hente persondata fra ulike datasystemer. Enkelte av disse dataene mellomlagres - caches - slik at Min side lastes inn raskt. Disse dataene er det ikke mulig for utenforstående å hente ut.</p>

        <p>Vi henter navnet og fødselsnummeret ditt. Er du ansatt i kommunen henter vi også ansattnummeret. Har du eiendommer i Bergen, henter vi i tillegg gårds- og bruksnummer for eiendommene dine med tilhørende informasjon om saker (id og type).</p>

        <p>Dataene lagres for 6 måneder om gangen.</p>

        <p>Hvis du IKKE samtykker til dette vil Min side ikke kunne brukes. Dataene vi har om deg vil da bli slettet.</p>

        <p>
            <a href="{{ link.pages-forside }}" class="button button--danger mrm">NEI, jeg samtykker ikke</a>
            <a href="{{ link.pages-minside-velger }}" class="button button--success active">JA, jeg samtykker</a>
        </p>

    </div>
</main>
{{> organisms-footer }}