<div class="clearfix"></div>
<div class="row_no_clearfix service_link_container equal_height_container">
    {{# sideliste }}
        <div class="col_md_4 col_lg_4 clear_col_md_4 clear_col_lg_4 equal_height_item">
            <div class="cat_1_big_link_container">
                <h2 class="cat_1_header">
                    <a href="{{ url }}" title="{{ headline.short }}" class="cat_1_link">
                        {{ headline.short }}
                    </a>
                </h2>

                <a href="{{ url }}" title="{{ headline.short }}" id="skole-og-utdanning" class="service_icon"></a>
                <!--        
                    <ul class="cat_1_shortcuts_list">
                        <li><a href="" title="Tittel">Tittel</a></li>
                    </ul>
                -->
            </div>
        </div>
    {{/ sideliste }}
</div>