<div class="tout_container etjeneste">
    <h2 class="tout_header">
        <a href="https://www.bergen.kommune.no/aktuelt/tema/sykkel-vm" title="Sykkel-VM">Sykkel-VM</a>
    </h2>
    <a href="https://www.bergen.kommune.no/aktuelt/tema/sykkel-vm" title="Sykkel-VM" class="tout_img_link">
        <img class="tout_img" src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00293/Sykkel-VM___Tour_de_293221n.jpg" alt="sykkel-wm">
    </a>
    <div class="tout_excerpt">
        <p><a href="https://www.bergen.kommune.no/aktuelt/tema/sykkel-vm" title="Sykkel-VM">Sykkel-VM 16.-24. september</a> &ndash; om trafikk, helsetilbud, skoler og nyttig publikumsinfo.</p>
    </div>
</div>