/* Custom styles
/* ************************** */

#patternlab-html {
    background: #333 url("../../examples/pattern-dark.svg") repeat 0 0;
}

.sg-sub-nav.active {
    border-left: 6px solid #24890d;
    border-bottom: 2px solid #24890d;
}
.sg-header a {
    color: #fff;
}
.sg-header a:hover,
.sg-header a:focus {
    color: #55d737;
    background-color: #000;
}
.sg-header a.active {
    color: #fff;
    background: #24890d;
}
.sg-acc-handle:focus::after,
.sg-acc-handle:hover::after {
    color: #55d737;
}
.sg-acc-handle::after,
.sg-acc-handle.active::after {
    color: #fff;
}

.sg-current-size {
    color: #55d737;
}
.sg-input {
    color: #55d737;
}

.sg-input:hover,
.sg-input:active,
.sg-input:focus {
    color: #000 !important;
    background-color: #fff !important;
}
.sg-input:hover {
    color: #55d737;
}
label {
    color: #fff;
}

.typeahead {
    color: #fff;
    background-color: #24890d;
}
.typeahead::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
}
.typeahead:-moz-placeholder {
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
}
.typeahead::-moz-placeholder {
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
}
.typeahead:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
}


.typeahead:focus::-webkit-input-placeholder {
    opacity: 0;
}
.typeahead:focus:-moz-placeholder {
    opacity: 0;
}
.typeahead:focus::-moz-placeholder {
    opacity: 0;
}
.typeahead:focus:-ms-input-placeholder {
    opacity: 0;
}


