
/* Font: Source Sans Pro */
/* ************************************************ */

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: local("SourceSansPro-Light"), local("Source Sans Pro"), url("../font/sourcesanspro/EOT/SourceSansPro-Light.eot") format("embedded-opentype"), url("../font/sourcesanspro/WOFF/OTF/SourceSansPro-Light.otf.woff") format("woff"), url("../font/sourcesanspro/OTF/SourceSansPro-Light.otf") format("opentype"), url("../font/sourcesanspro/TTF/SourceSansPro-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: local("SourceSansPro-LightIt"), local("Source Sans Pro"), url("../font/sourcesanspro/EOT/SourceSansPro-LightIt.eot") format("embedded-opentype"), url("../font/sourcesanspro/WOFF/OTF/SourceSansPro-LightIt.otf.woff") format("woff"), url("../font/sourcesanspro/OTF/SourceSansPro-LightIt.otf") format("opentype"), url("../font/sourcesanspro/TTF/SourceSansPro-LightIt.ttf") format("truetype"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: local("SourceSansPro-Regular"), local("Source Sans Pro"), url("../font/sourcesanspro/EOT/SourceSansPro-Regular.eot") format("embedded-opentype"), url("../font/sourcesanspro/WOFF/OTF/SourceSansPro-Regular.otf.woff") format("woff"), url("../font/sourcesanspro/OTF/SourceSansPro-Regular.otf") format("opentype"), url("../font/sourcesanspro/TTF/SourceSansPro-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: local("SourceSansPro-It"), local("Source Sans Pro"), url("../font/sourcesanspro/EOT/SourceSansPro-It.eot") format("embedded-opentype"), url("../font/sourcesanspro/WOFF/OTF/SourceSansPro-It.otf.woff") format("woff"), url("../font/sourcesanspro/OTF/SourceSansPro-It.otf") format("opentype"), url("../font/sourcesanspro/TTF/SourceSansPro-It.ttf") format("truetype"); }
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: local("SourceSansPro-Semibold"), local("Source Sans Pro Semibold"), url("../font/sourcesanspro/EOT/SourceSansPro-Semibold.eot") format("embedded-opentype"), url("../font/sourcesanspro/WOFF/OTF/SourceSansPro-Semibold.otf.woff") format("woff"), url("../font/sourcesanspro/OTF/SourceSansPro-Semibold.otf") format("opentype"), url("../font/sourcesanspro/TTF/SourceSansPro-Semibold.ttf") format("truetype"); }


/* Patternlab header */
/* ************************************************ */

.sg-header {
    color: #333;
    background-color: #f5edd8;
    border-bottom: .1em solid #e7d5a6;
    text-transform: inherit;
    font-family: 'Source Sans Pro', Verdana, sans-serif;
    font-weight: 300;
}

.sg-header .sg-nav {
    margin-left: .5em;
}

.sg-header .sg-nav > li > ol {
    top: 2.05em;
}

.sg-header a {
    color: #3b65a3;
    font-size: 90%;
    padding: .6em .7em;
}

.sg-header a:hover,
.sg-header a:focus {
    color: #2d4e7e;
    background-color: transparent;
    text-decoration: underline;
}

.sg-header a.active {
    color: #3b65a3;
    background-color: #e7d5a6;
}

/* Handle icon */
.sg-header .sg-acc-handle::after {
    color: #3b65a3;
    font-size: 8px;
}

.sg-header .sg-acc-handle:hover::after,
.sg-header .sg-acc-handle:focus::after {
    color: #2d4e7e;
}

.sg-header .sg-acc-handle.active::after {
    color: #3b65a3;
}

/* Submenu */
.sg-header .sg-acc-panel li {
    background-color: #f5edd8;
}

/* Size options */
.sg-header .sg-current-size {
    padding-top: .45em;
    padding-bottom: .45em;
}

/* Labels */
.sg-header .sg-current-size {
    color: #333;
    font-size: 90%;
}

/* Inputs */
.sg-header .sg-input {
    color: #333;
    background-color: #fbf7ed;
}

.sg-header .sg-input:hover,
.sg-header .sg-input:active,
.sg-header .sg-input:focus {
    color: #333;
    background-color: #fff;
}

/* Size links */
.sg-header .sg-size-options a:active,
.sg-header .sg-size-options a:focus {
    background-color: #e7d5a6;
}

/* Settings button */
.sg-header .sg-tools-toggle {
    background-color: #f5edd8;
    border-bottom: .15em solid #e7d5a6;
    padding: 0.75em 0.7em 0.5em;
}

.sg-header .sg-acc-handle.active {
    background-color: #e7d5a6;
}

.sg-header .sg-tools-toggle svg path {
  fill: #3b65a3;
}

/* Search input */
.sg-header .sg-tools input {
    color: #333;
    background-color: #fbf7ed;
}
.sg-header .sg-tools input:focus {
    color: #333;
}