<div class="promo_box">
    <span class="{{ promoIkon }} grunt-icon grunt-icon--64"></span>
    <h4 class="promo_header">{{ seksjonsTittel }}</h4>
    <p>
         {{# linkliste }}
            <a href="{{ url }}">
                {{ tittel }}</a>{{# visTegn }}&nbsp;&#8226;{{/ visTegn }}
        {{/ linkliste }}
    </p>
</div>