<div class="promo_box">
    <div class="icon promo_box_icon {{ storIkon }}"></div>
    <h4 class="promo_header">{{ seksjonsTittel }}</h4>
    <p>
         {{# linkliste }}
            <a href="{{ url }}" title="{{ tittel }}">
                {{ tittel }}</a>{{# visTegn }}&nbsp;&#8226;{{/ visTegn }}
        {{/ linkliste }}
    </p>
</div>