{{> organisms-header-2 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    <div class="page_header_container_with_org_menu">
        {{> molecules-sideoverskrift-h2-med-lenke(sidetittel: "{{ organisasjonsenhet.tittel }}", url: "{{ organisasjonsenhet.url }}") }}
    </div>

    <div class="row">
        <div class="col_md_12 col_lg_4">

            {{> molecules-org-meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
            
            <div class="module">
                <div id="article_multipurpose">
                    <div id="newsDetail">
                        <div class="module">
                            
                            <h1 class="article_header">Overvann i byer og tettsteder — Som problem og ressurs</h1>
                            
                            <p class="ingress">Overvannsutvalgets utredning, NOU 2015:16, vurderer at klimautviklingen med mer nedbør og samfunnsutviklingen med økt fortetting, vil øke skadevirkningene fra overvann i byer og tettsteder.</p>
                              
<div class="relatedContent related_image_container first_image_container">
    <div class="relatedImage related_image">
        <a class="lightbox image_link" href="https://www.bergen.kommune.no/bk/multimedia/dynamic/00261/rain-4-1520316_261097n.jpg" title="Vi får mer regn og mildere klima, dersom forskernes prognoser er riktige." id="bilde-0db6e725-68c1-4163-8b9d-13a70808ec1e" data-rel="lightcase:lightbox">
            <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00261/rain-4-1520316_261097n.jpg" alt="Overvann i byer og tettsteder &amp;mdash; Som problem og ressurs ">
        </a>
        <div class="imageset">
            <a href="#" onclick="return startBildeserie(&quot;bilde-0db6e725-68c1-4163-8b9d-13a70808ec1e&quot;)" title="Stort bilde">
                <img src="/internet/images/bigPicEyeGlass.png" alt="Forstørrelsesglass">
                Stort bilde
            </a>
        </div>
        <div class="imgtext">Vi får mer regn og mildere klima, dersom forskernes prognoser er riktige.</div>
    </div>
</div>
                            
                            
                            
                            

<script type="text/javascript">
$(function() {
    $('a.lightbox').each(function() {
      $(this).attr("href", $(this).attr("name"));
    });
  $('a.lightbox').lightBox(); // Select all links with lightbox class
});
</script>

                            
    
<div class="article_body_content">
    <p> Både klimautviklingen og samfunnsutviklingen med økt fortetting, kan hver for    seg øke intensiteten i overvannsavrenningen. Uten forbyggende tiltak    forventes at kostnadene ved overvannsskade på bebyggelse, infrastruktur,    helse og miljø vil følge samme utvikling.</p>
    <h3>Foreslår virkemidler for å hindre skader fra overvann</h3>
    <p>Utvalget har gjennomgått gjeldende lovgivning og rammebetingelser for    kommunenes håndtering av overvann i byer og tettsteder. Utvalget foreslår en    pakke av ulike virkemidler for å gi kommunen gode rammebetingelser og tilstrekkelige virkemidler for å forebygge overvannsskader, og samtidig    utnytte overvann som en ressurs. </p>
    <p>Vi ønsker å kartlegge mengder og kilder til mikroplast i Byfjorden, der vi både analyserer eldre og nye prøver fra sedimenter i Byfjorden, samt eventuelle kilder (sandfang) på land.<br>
Verken i norske eller internasjonale farvann er mikroplast på havbunnen godt nok kartlagt.<br>
– Plast som forurensningsproblem vil fortsette å øke. Dermed blir det også nødvendig å kartlegge omfanget og effekter av mikroplast, for eksempel opptak av mikroplast i næringskjeden, sier forsker og toksikolog Marte Haave i Uni Research Miljø, SAM-Marin.<br>
– Når EUs direktiv for marin strategi skal implementeres i løpet av 2016, må også vi i Norge få oversikt over alle miljøtrusler i havet, mikroplast inkludert, fortsetter hun.</p>
</div>



    

                                
                            <div class="article_footer_print_link_container">
                                <a href="javascript:window.print()" title="Skriv ut">
                                    <span class="icon print_icon"></span>
                                    <span class="print_link_txt">Skriv ut</span>
                                </a>
                            </div>
    
    
                                
                            <div class="articleinfo">
                                <div class="date">
                                    <span>
                                        Publisert: 27.03.2015
                                        <span class="separator">|</span>
                                        Oppdatert: 12.09.2016
                                    </span>
                                </div>
                                <div class="author">
                                    <span>Tekst:</span>
                                <a href="">Anne Magrete Markestad</a>
                                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                <a href="">Bjørn Vindenes</a>
                                </div>
                            </div>
                        
                        
                        </div>
                    </div>
                </div>
            
            </div>

        </div>
    </div>
</main>
{{> organisms-footer }}