{{> organisms-header-2 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    <style>
        .vr_cccc {
            padding-top: 7px;
        }
        @media (min-width: 700px) {
            .vr_cccc {
                padding-top: 7px;
            }
        }
    </style>

    <div class="vr">

        <p>Vanlig tekst har tekststørrelse 19px og linjehøyde 28px. Chaoyangosaurus Stegopelta Suchosaurus Oxalaia Amargasaurus Tyrannotitan Cerasinops Megaraptor Kuszholia Rhabdodon Muyelensaurus Sauropelta Astrodonius Omeisaurus Owenodon Venaticosuchus Bistahieversor Qingxiusaurus.</p>
        
        {{> molecules-moduloverskrift-h2-med-lenke }}

        <p>Vanlig tekst har tekststørrelse 19px og linjehøyde 28px. Chaoyangosaurus Stegopelta Suchosaurus Oxalaia Amargasaurus Tyrannotitan Cerasinops Megaraptor Kuszholia Rhabdodon Muyelensaurus Sauropelta Astrodonius Omeisaurus Owenodon Venaticosuchus Bistahieversor Qingxiusaurus.</p>
        
        {{> molecules-sideoverskrift-h1(sidetittel: "Chaoyangosaurus Stegopelta Suchosaurus Oxalaia Amargasaurus Tyrannotitan Cerasinops Megaraptor Kuszholia Rhabdodon Muyelensaurus Sauropelta Astrodonius Omeisaurus Owenodon Venaticosuchus Bistahieversor Qingxiusaurus") }}

        <p>Vanlig tekst har tekststørrelse 19px og linjehøyde 28px. Chaoyangosaurus Stegopelta Suchosaurus Oxalaia Amargasaurus Tyrannotitan Cerasinops Megaraptor Kuszholia Rhabdodon Muyelensaurus Sauropelta Astrodonius Omeisaurus Owenodon Venaticosuchus Bistahieversor Qingxiusaurus.</p>
        
        {{> molecules-sideoverskrift-h2-med-lenke(sidetittel: "Chaoyangosaurus Stegopelta Suchosaurus Oxalaia Amargasaurus Tyrannotitan Cerasinops Megaraptor Kuszholia Rhabdodon Muyelensaurus Sauropelta Astrodonius Omeisaurus Owenodon Venaticosuchus Bistahieversor Qingxiusaurus") }}

        <h1 class="article_header">Eiendomsskatt</h1>

        <p>Vanlig tekst har tekststørrelse 19px og linjehøyde 28px. Chaoyangosaurus Stegopelta Suchosaurus Oxalaia Amargasaurus Tyrannotitan Cerasinops Megaraptor Kuszholia Rhabdodon Muyelensaurus Sauropelta Astrodonius Omeisaurus Owenodon Venaticosuchus Bistahieversor Qingxiusaurus.</p>

        <h1>Overskrift 1 har tekststørrelse 30px .. Muyelensaurus <small> &ndash; Linjehøyde: 42px, Avstand: 31px 0 11px</small></h1>
        <p>Vanlig tekst har tekststørrelse 19px og linjehøyde 28px. Chaoyangosaurus Stegopelta Suchosaurus Oxalaia Amargasaurus Tyrannotitan Cerasinops Megaraptor Kuszholia Rhabdodon Muyelensaurus Sauropelta Astrodonius Omeisaurus Owenodon Venaticosuchus Bistahieversor Qingxiusaurus.</p>

        <h2>Overskrift 2 har tekststørrelse 24px .. Muyelensaurus Sauropelta Astrodonius <small> &ndash; Linjehøyde: 35px, Avstand: 37px 0 5px</small></h2>
        <p>Vanlig tekst har tekststørrelse 19px og linjehøyde 28px. Chaoyangosaurus Stegopelta Suchosaurus Oxalaia Amargasaurus Tyrannotitan Cerasinops Megaraptor Kuszholia Rhabdodon Muyelensaurus Sauropelta Astrodonius Omeisaurus Owenodon Venaticosuchus Bistahieversor Qingxiusaurus.</p>

        <h3>Overskrift 3 har tekststørrelse 22px .. Muyelensaurus Sauropelta <small> &ndash; Linjehøyde: 28px, Avstand: 34px 0 1px</small></h3>
        <p>Vanlig tekst har tekststørrelse 19px og linjehøyde 28px. Chaoyangosaurus Stegopelta Suchosaurus Oxalaia Amargasaurus Tyrannotitan Cerasinops Megaraptor Kuszholia Rhabdodon Muyelensaurus Sauropelta Astrodonius Omeisaurus Owenodon Venaticosuchus Bistahieversor Qingxiusaurus.</p>

        <h4>Overskrift 4 har tekststørrelse 21px .. Muyelensaurus Sauropelta Astrodonius <small> &ndash; Linjehøyde: 28px, Avstand: 28px 0 0</small></h4>
        <p>Vanlig tekst har tekststørrelse 19px og linjehøyde 28px. Chaoyangosaurus Stegopelta Suchosaurus Oxalaia Amargasaurus Tyrannotitan Cerasinops Megaraptor Kuszholia Rhabdodon Muyelensaurus Sauropelta Astrodonius Omeisaurus Owenodon Venaticosuchus Bistahieversor Qingxiusaurus.</p>

        <h5>Overskrift 5 har tekststørrelse 20px .. Muyelensaurus Sauropelta Astrodonius <small> &ndash; Linjehøyde: 28px, Avstand: 28px 0 0</small></h5>
        <p>Vanlig tekst har tekststørrelse 19px og linjehøyde 28px. Chaoyangosaurus Stegopelta Suchosaurus Oxalaia Amargasaurus Tyrannotitan Cerasinops Megaraptor Kuszholia Rhabdodon Muyelensaurus Sauropelta Astrodonius Omeisaurus Owenodon Venaticosuchus Bistahieversor Qingxiusaurus.</p>

        <h6>Overskrift 6 har tekststørrelse 19px .. Muyelensaurus Sauropelta Astrodonius <small> &ndash; Linjehøyde: 28px, Avstand: 28px 0 0</small></h6>
        <p>Vanlig tekst har tekststørrelse 19px og linjehøyde 28px. Chaoyangosaurus Stegopelta Suchosaurus Oxalaia Amargasaurus Tyrannotitan Cerasinops Megaraptor Kuszholia Rhabdodon Muyelensaurus Sauropelta Astrodonius Omeisaurus Owenodon Venaticosuchus Bistahieversor Qingxiusaurus.</p>
    </div>

</main>
{{> organisms-footer }}