.icon-10-sheet { background-image: url('png/10-sheet.png'); background-repeat: no-repeat; }

.icon-20-sheet--white { background-image: url('png/20-sheet--white.png'); background-repeat: no-repeat; }

.icon-7-fjell { background-image: url('png/7-fjell.png'); background-repeat: no-repeat; }

.icon-arrow-down { background-image: url('png/arrow-down.png'); background-repeat: no-repeat; }

.icon-bluearrow-down { background-image: url('png/bluearrow-down.png'); background-repeat: no-repeat; }

.icon-checkmark { background-image: url('png/checkmark.png'); background-repeat: no-repeat; }

.icon-doc { background-image: url('png/doc.png'); background-repeat: no-repeat; }

.icon-greencheck-16 { background-image: url('png/greencheck-16.png'); background-repeat: no-repeat; }

.icon-greencheck-60 { background-image: url('png/greencheck-60.png'); background-repeat: no-repeat; }

.icon-itslearning_logo { background-image: url('png/itslearning_logo.png'); background-repeat: no-repeat; }

.icon-list_arrows_grey { background-image: url('png/list_arrows_grey.png'); background-repeat: no-repeat; }

.icon-list_arrows_red_down_single { background-image: url('png/list_arrows_red_down_single.png'); background-repeat: no-repeat; }

.icon-list_arrows_red_right_double { background-image: url('png/list_arrows_red_right_double.png'); background-repeat: no-repeat; }

.icon-notice-16 { background-image: url('png/notice-16.png'); background-repeat: no-repeat; }

.icon-notice-60 { background-image: url('png/notice-60.png'); background-repeat: no-repeat; }

.icon-pdf { background-image: url('png/pdf.png'); background-repeat: no-repeat; }

.icon-rednotice-16 { background-image: url('png/rednotice-16.png'); background-repeat: no-repeat; }

.icon-rednotice-60 { background-image: url('png/rednotice-60.png'); background-repeat: no-repeat; }

.icon-single_arrow_blue_right { background-image: url('png/single_arrow_blue_right.png'); background-repeat: no-repeat; }

.icon-small-grey-close-button { background-image: url('png/small-grey-close-button.png'); background-repeat: no-repeat; }

.icon-small-grey-searchglass { background-image: url('png/small-grey-searchglass.png'); background-repeat: no-repeat; }

.icon-xls { background-image: url('png/xls.png'); background-repeat: no-repeat; }

