.icon-10-sheet { background-image: url('png/10-sheet.png'); background-repeat: no-repeat; }

.icon-20-sheet--white { background-image: url('png/20-sheet--white.png'); background-repeat: no-repeat; }

.icon-7-fjell { background-image: url('png/7-fjell.png'); background-repeat: no-repeat; }

.icon-aligncenter--white { background-image: url('png/aligncenter--white.png'); background-repeat: no-repeat; }

.icon-aligncenter { background-image: url('png/aligncenter.png'); background-repeat: no-repeat; }

.icon-alignright--white { background-image: url('png/alignright--white.png'); background-repeat: no-repeat; }

.icon-alignright { background-image: url('png/alignright.png'); background-repeat: no-repeat; }

.icon-arrow-left-bow { background-image: url('png/arrow-left-bow.png'); background-repeat: no-repeat; }

.icon-arrow-ordering { background-image: url('png/arrow-ordering.png'); background-repeat: no-repeat; }

.icon-arrow-right-bow { background-image: url('png/arrow-right-bow.png'); background-repeat: no-repeat; }

.icon-calendar-dark { background-image: url('png/calendar-dark.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

.icon-cellphone { background-image: url('png/cellphone.png'); background-repeat: no-repeat; }

.icon-chat--blue { background-image: url('png/chat--blue.png'); background-repeat: no-repeat; }

.icon-chat { background-image: url('png/chat.png'); background-repeat: no-repeat; }

.icon-checkmark { background-image: url('png/checkmark.png'); background-repeat: no-repeat; }

.icon-clock { background-image: url('png/clock.png'); background-repeat: no-repeat; }

.icon-close--small { background-image: url('png/close--small.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-department { background-image: url('png/department.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.icon-employee { background-image: url('png/employee.png'); background-repeat: no-repeat; }

.icon-en { background-image: url('png/en.png'); background-repeat: no-repeat; }

.icon-english { background-image: url('png/english.png'); background-repeat: no-repeat; }

.icon-external--white { background-image: url('png/external--white.png'); background-repeat: no-repeat; }

.icon-external { background-image: url('png/external.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-greencheck { background-image: url('png/greencheck.png'); background-repeat: no-repeat; }

.icon-helper { background-image: url('png/helper.png'); background-repeat: no-repeat; }

.icon-idporten { background-image: url('png/idporten.png'); background-repeat: no-repeat; }

.icon-info { background-image: url('png/info.png'); background-repeat: no-repeat; }

.icon-innbyggerservice { background-image: url('png/innbyggerservice.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-lightbox { background-image: url('png/lightbox.png'); background-repeat: no-repeat; }

.icon-logo-itslearning { background-image: url('png/logo-itslearning.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-logout { background-image: url('png/logout.png'); background-repeat: no-repeat; }

.icon-map { background-image: url('png/map.png'); background-repeat: no-repeat; }

.icon-minside--active { background-image: url('png/minside--active.png'); background-repeat: no-repeat; }

.icon-minside { background-image: url('png/minside.png'); background-repeat: no-repeat; }

.icon-nav_toggle { background-image: url('png/nav_toggle.png'); background-repeat: no-repeat; }

.icon-norsk { background-image: url('png/norsk.png'); background-repeat: no-repeat; }

.icon-notice { background-image: url('png/notice.png'); background-repeat: no-repeat; }

.icon-offline { background-image: url('png/offline.png'); background-repeat: no-repeat; }

.icon-online { background-image: url('png/online.png'); background-repeat: no-repeat; }

.icon-organisation { background-image: url('png/organisation.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon-press { background-image: url('png/press.png'); background-repeat: no-repeat; }

.icon-preview { background-image: url('png/preview.png'); background-repeat: no-repeat; }

.icon-print { background-image: url('png/print.png'); background-repeat: no-repeat; }

.icon-profile { background-image: url('png/profile.png'); background-repeat: no-repeat; }

.icon-rss { background-image: url('png/rss.png'); background-repeat: no-repeat; }

.icon-searchglass--small { background-image: url('png/searchglass--small.png'); background-repeat: no-repeat; }

.icon-searchglass { background-image: url('png/searchglass.png'); background-repeat: no-repeat; }

.icon-send-email { background-image: url('png/send-email.png'); background-repeat: no-repeat; }

.icon-service-activity { background-image: url('png/service-activity.png'); background-repeat: no-repeat; }

.icon-service-arrow { background-image: url('png/service-arrow.png'); background-repeat: no-repeat; }

.icon-service-building { background-image: url('png/service-building.png'); background-repeat: no-repeat; }

.icon-service-child { background-image: url('png/service-child.png'); background-repeat: no-repeat; }

.icon-service-clock { background-image: url('png/service-clock.png'); background-repeat: no-repeat; }

.icon-service-court { background-image: url('png/service-court.png'); background-repeat: no-repeat; }

.icon-service-education { background-image: url('png/service-education.png'); background-repeat: no-repeat; }

.icon-service-employee { background-image: url('png/service-employee.png'); background-repeat: no-repeat; }

.icon-service-family { background-image: url('png/service-family.png'); background-repeat: no-repeat; }

.icon-service-hands { background-image: url('png/service-hands.png'); background-repeat: no-repeat; }

.icon-service-health { background-image: url('png/service-health.png'); background-repeat: no-repeat; }

.icon-service-hearth { background-image: url('png/service-hearth.png'); background-repeat: no-repeat; }

.icon-service-home { background-image: url('png/service-home.png'); background-repeat: no-repeat; }

.icon-service-industry { background-image: url('png/service-industry.png'); background-repeat: no-repeat; }

.icon-service-nature { background-image: url('png/service-nature.png'); background-repeat: no-repeat; }

.icon-service-plan { background-image: url('png/service-plan.png'); background-repeat: no-repeat; }

.icon-service-school { background-image: url('png/service-school.png'); background-repeat: no-repeat; }

.icon-service-search { background-image: url('png/service-search.png'); background-repeat: no-repeat; }

.icon-service-sections { background-image: url('png/service-sections.png'); background-repeat: no-repeat; }

.icon-service-shopping { background-image: url('png/service-shopping.png'); background-repeat: no-repeat; }

.icon-service-society { background-image: url('png/service-society.png'); background-repeat: no-repeat; }

.icon-service-sport { background-image: url('png/service-sport.png'); background-repeat: no-repeat; }

.icon-service-tax { background-image: url('png/service-tax.png'); background-repeat: no-repeat; }

.icon-service-tool { background-image: url('png/service-tool.png'); background-repeat: no-repeat; }

.icon-service-traffic { background-image: url('png/service-traffic.png'); background-repeat: no-repeat; }

.icon-service-work { background-image: url('png/service-work.png'); background-repeat: no-repeat; }

.icon-slideshow { background-image: url('png/slideshow.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-warning--circle { background-image: url('png/warning--circle.png'); background-repeat: no-repeat; }

.icon-warning--triangle { background-image: url('png/warning--triangle.png'); background-repeat: no-repeat; }

.icon-world { background-image: url('png/world.png'); background-repeat: no-repeat; }

