<div class="grunticon-preview-list">
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-10-sheet</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-10-sheet" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-20-sheet--white</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-20-sheet--white" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-7-fjell</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-7-fjell" style="width: 300px; height: 25px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-arrow-down</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-arrow-down" style="width: 22px; height: 12px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-bluearrow-down</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-bluearrow-down" style="width: 22px; height: 12px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-checkmark</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-checkmark" style="width: 16px; height: 15px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-doc</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-doc" style="width: 18px; height: 24px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-greencheck-16</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-greencheck-16" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-greencheck-60</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-greencheck-60" style="width: 60px; height: 60px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-itslearning_logo</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-itslearning_logo" style="width: 96px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-list_arrows_grey</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-list_arrows_grey" style="width: 14px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-list_arrows_red_down_single</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-list_arrows_red_down_single" style="width: 14px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-list_arrows_red_right_double</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-list_arrows_red_right_double" style="width: 14px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-notice-16</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-notice-16" style="width: 16px; height: 16px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-notice-60</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-notice-60" style="width: 60px; height: 60px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-pdf</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-pdf" style="width: 18px; height: 24px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-rednotice-16</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-rednotice-16" style="width: 16px; height: 16px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-rednotice-60</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-rednotice-60" style="width: 60px; height: 60px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-single_arrow_blue_right</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-single_arrow_blue_right" style="width: 12px; height: 22px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-small-grey-close-button</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-small-grey-close-button" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-small-grey-searchglass</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-small-grey-searchglass" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-xls</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-xls" style="width: 18px; height: 24px;" data-grunticon-embed></div>
                </div>
            </div>
</div>