<div class="grunticon-preview-list">
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-10-sheet</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-10-sheet" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-20-sheet--white</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-20-sheet--white" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-7-fjell</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-7-fjell" style="width: 300px; height: 25px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-aligncenter</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-aligncenter" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-alignleft</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-alignleft" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-alignright</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-alignright" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-arrow-down--blue</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-arrow-down--blue" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-arrow-down--grey</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-arrow-down--grey" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-arrow-left-bow</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-arrow-left-bow" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-arrow-ordering</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-arrow-ordering" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-arrow-right-bow</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-arrow-right-bow" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-calendar</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-calendar" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-cellphone</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-cellphone" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-chat--blue</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-chat--blue" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-chat</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-chat" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-checkmark</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-checkmark" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-clock</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-clock" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-close-18</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-close-18" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-close</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-close" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-department</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-department" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-email</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-email" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-employee--20</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-employee--20" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-english</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-english" style="width: 64px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-event</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-event" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-external--white</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-external--white" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-external</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-external" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-facebook</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-facebook" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-fana_kulturhus_logo</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-fana_kulturhus_logo" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-greencheck</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-greencheck" style="width: 64px; height: 64px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-helper</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-helper" style="width: 64px; height: 64px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-idporten</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-idporten" style="width: 64px; height: 64px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-info</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-info" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-innbyggerservice</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-innbyggerservice" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-instagram</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-instagram" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-itslearning_logo</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-itslearning_logo" style="width: 96px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-lightbox</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-lightbox" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-login</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-login" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-logo</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-logo" style="width: 164px; height: 64px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-logout--white</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-logout--white" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-map</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-map" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-minside--active</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-minside--active" style="width: 64px; height: 64px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-minside</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-minside" style="width: 64px; height: 64px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-nav_toggle</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-nav_toggle" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-norsk</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-norsk" style="width: 64px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-notice-large</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-notice-large" style="width: 64px; height: 64px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-notice</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-notice" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-offline</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-offline" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-online</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-online" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-organisation</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-organisation" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-phone</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-phone" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-press</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-press" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-print</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-print" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-profile</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-profile" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-rss</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-rss" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-searchglass-18</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-searchglass-18" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-searchglass</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-searchglass" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-slideshow</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-slideshow" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-twitter</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-twitter" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-warning-circle</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-warning-circle" style="width: 64px; height: 64px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-warning-large</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-warning-large" style="width: 96px; height: 64px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-warning</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-warning" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
            <div class="grunticon-preview mbs">
                <p class="grunticon-preview__label mbs"><code>icon-world</code></p>
                <div class="grunticon-preview__container">
                    <div class="grunticon-preview__icon icon-world" style="width: 32px; height: 32px;" data-grunticon-embed></div>
                </div>
            </div>
</div>