<section class="mbj">
    {{> molecules-moduloverskrift-h2-med-lenke(url: "{{ link.pages-kontakt }}", tittel: "Kontakt") }}
    <div class="contact_box">
        
        <dl class="contact_content">
            
            <dt></dt>
            <dd class="with_icon">
                <a href="">
                    <span class="icon chat_icon_blue medium_size"></span>
                    Chat med oss
                </a>
            </dd>
            
            <dt class="screen-reader-text">E-post:</dt>
            <dd class="with_icon">
                <a href="mailto:va-kundeservice@bergen.kommune.no" title="va-kundeservice@bergen.kommune.no">
                    <span class="icon email_icon medium_size"></span>
                    va-kundeservice@bergen.kommune.no
                </a>
            </dd>
            
            <dt class="screen-reader-text">Telefon:</dt>
            <dd class="with_icon">
                <a href="tel:55566000" title="Ring oss">
                    <span class="icon phone_icon medium_size"></span>
                    55 56 60 00
                </a>
                - fra kl. 08:00 til 15:00 
            </dd>
        
        </dl>
        
        <a href="{{ link.pages-kontakt }}" title="Mer kontaktinfo" class="read_more_contact_button"><span class="read_more_link">Mer kontaktinfo</span></a>
    </div>
</section>