<a href="{{ link.pages-forside }}" title="Gå til forsiden" class="logo-link" rel="home" accesskey="1">
    <span class="icon-logo"></span>
    <span class="screen-reader-text">Bergen kommune</span>
</a>
<img class="share_and_print_logo" src="../../images/logo_320x320.png" alt="Logo Bergen kommune">