<a href="{{ forside.url }}" title="Gå til forsiden" class="logo" rel="home" accesskey="1">
    <span>Bergen kommune</span>
</a>
<img class="share_and_print_logo" src="../../images/logo_320x320.png" alt="Logo Bergen kommune">