<div class="page_header {{ styleModifier }}">
    {{# visParent }}
        <div class="page_header_parent">
            {{ title }}
        </div>
    {{/ visParent }}
    <h1>
        {{# avdelingsIkon }}
            <img src="{{ avdelingsIkon }}" alt="Avdelingslogo" class="page_header_logo hidden-on-print">
        {{/ avdelingsIkon }}
        {{ sidetittel }}
    </h1>
</div>