<div class="page_header {{ styleModifier }}">
    {{# visH2 }}
        <h2 class="page_header_parent">
            {{ title }}
        </h2>
    {{/ visH2 }}
    <h1>
        {{# avdelingsIkon }}
            <img src="{{ avdelingsIkon }}" alt="Avdelingslogo" class="page_header_logo">
        {{/ avdelingsIkon }}
        {{ sidetittel }}
    </h1>
</div>