<div class="page_header_with_link {{ styleModifier }}">
    <a href="{{ url }}" class="page_header_link">
        {{# avdelingsIkon }}
            <img src="{{ avdelingsIkon }}" alt="Avdelingslogo" class="page_header_logo hidden-on-print">
        {{/ avdelingsIkon }}
        <span class="arrow-icon"></span>{{ sidetittel }}
    </a>
</div>