<div class="mbxxl">
    
    <h3 class="sidebar-header mbm">
      <a href="#" title="" class="sidebar-header__toggle">
        Listebilde
        <span class="arrow-icon"></span>
      </a>
    </h3>
    <div class="image-upload-link">
        {{# startLink }}
            <a href="" title="" class="image-upload-link__start-link">
                Valgfritt listebilde<br>Minimum 680 piksler bredde
            </a>
        {{/ startLink }}
        {{# changeLink }}
            <a href="" title="Endre listebilde" class="image-upload-link__change-link">
                {{# imgLandscape }}
                    <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}">
                {{/ imgLandscape }}
                <span class="figcaption"></span>
            </a>
            <a href="" title="Slett listebilde" class="image-upload-link__delete-link">
                Slett listebilde
            </a>
        {{/ changeLink }}
    </div>
    
</div>