<div class="ece_module_list mbj">

    {{# artikkelListeRedigering }}
        <div class="sp_article_list_edit">
            <p>
                <a href="#" target="_blank" title="Ny artikkel - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/simple-editor/icons/redigerblyant_ny.gif" alt="Ny artikkel"></a>
                <a href="#" target="_blank" title="Kladdeliste - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/simple-editor/icons/kladdliste_liten.gif" alt="Kladdeliste"></a>
                <a href="#" target="_blank" title="Sletteliste - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/simple-editor/icons/bossbotte_liten.gif" alt="Sletteliste"></a>
                <a href="#" target="_blank" title="Artikler utgått på dato - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/simple-editor/icons/expired.jpg" alt="Artikler utgått på dato"></a>
                <a href="#" target="_blank" title="Endre rekkefølge - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/simple-editor/icons/rekkefolge_liten.gif" alt="Endre rekkefølge"></a>
            </p>
        </div>
    {{/ artikkelListeRedigering }}

    {{# listesak }}
        {{> molecules-escenic-teaser }}
    {{/ listesak }}




</div>
