{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}


<main id="innhold" tabindex="-1" class="smMa desktop_centered" style="opacity: .5;">

    <div class="page_header_container_with_org_menu">
        
        {{# forInnbygger }}
        {{> molecules-sideoverskrift-med-lenke(sidetittel: "{{ innbygger.tittel }}", url: "{{ innbygger.url }}") }}
        {{/ forInnbygger }}
        
        {{# forOrganisasjon }}
        {{> molecules-sideoverskrift-med-lenke(sidetittel: "{{ organisasjon.tittel }}", url: "{{ organisasjon.url }}") }}
        {{/ forOrganisasjon }}
        
    </div>

    <div class="row">
        <div class="col_md_12 col_lg_4">
            
            {{# meny }}
            {{> molecules-org-meny }}
            {{/ meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
            
            {{> molecules-moduloverskrift-h1:mbm(tittel: "BOL1 - 15 GNR 662 SNR 2 Saksdato 05.07.2005") }}
            
            <ul class="braarkiv_case_list">
                <li>
                    <a class="braarkiv_document_link" href="testdokument.pdf" title="Ikke skannet - 22.08.2012" target="_blank">
                        <span class="document_title">Ikke skannet</span>
                        <span class="unseen">Ulest</span>
                        <span class="date">22.08.2012</span>
                    </a>
                </li>
                <li>
                    <a class="braarkiv_document_link" href="testdokument.pdf" title="Søknad - 05.07.2005" target="_blank">
                        <span class="document_title">Søknad med en tittel som er veldig lang slik at dette også fungerer, lorem ipsum dolorem, lorem ipsum dolorem</span>
                        <span class="unseen">Ulest</span>
                        <span class="date">05.07.2005</span>
                    </a>
                </li>
                <li>
                    <a class="braarkiv_document_link" href="testdokument.pdf" title="Søknad - 05.07.2005" target="_blank">
                        <span class="document_title">Søknad med en annen tittel som er veldig lang slik at dette også fungerer, lorem ipsum dolorem, lorem ipsum dolorem</span>
                        <span class="date">05.07.2005</span>
                    </a>
                </li>
                <li>
                    <a class="braarkiv_document_link" href="testdokument.pdf" title="Søknad - 05.07.2005" target="_blank">
                        <span class="document_title">Søknad</span>
                        <span class="unseen">Ulest</span>
                        <span class="date">05.07.2005</span>
                    </a>
                </li>
                <li>
                    <a class="braarkiv_document_link" href="testdokument.pdf" title="Vedtak - 05.07.2005" target="_blank">
                        <span class="document_title">Vedtak</span>
                        <span class="unseen">Ulest</span>
                        <span class="date">05.07.2005</span>
                    </a>
                </li>
                <li>
                    <a class="braarkiv_document_link" href="testdokument.pdf" title="Kart, skisse - 05.07.2005" target="_blank">
                        <span class="document_title">Kart, skisse</span>
                        <span class="unseen">Ulest</span>
                        <span class="date">05.07.2005</span>
                    </a>
                </li>
                <li>
                    <a class="braarkiv_document_link" href="testdokument.pdf" title="Tegning - 05.07.2005" target="_blank">
                        <span class="document_title">Tegning</span>
                        <span class="unseen">Ulest</span>
                        <span class="date">05.07.2005</span>
                    </a>
                </li>
            </ul>





        </div>
    </div>




</main>
{{> organisms-footer }}