{{# kladdIkkeLagret }}
    <div class="action-line">
        <div class="action-line__left-info">KLADD</div>
        <div class="align_right">
            <a href="#" title="Forhåndsvisning" class="disabled">Forhåndsvisning</a>
            <button class="button button--success" disabled>Lagre kladd</button>
            <button class="button" disabled>Publiser</button>
        </div>
    </div>
{{/ kladdIkkeLagret }}
{{# kladdLagret }}
    <div class="action-line">
        <div class="action-line__left-info">KLADD</div>
        <div class="align_right">
            <a href="#" title="Forhåndsvisning" class="disabled">Forhåndsvisning</a>
            <button class="button button--success active">Lagre kladd</button>
            <button class="button">Publiser</button>
        </div>
    </div>
{{/ kladdLagret }}
{{# publisert }}
    <div class="action-line">
        <div class="action-line__left-info">PUBLISERT</div>
        <div class="align_right">
            <a href="#" title="Forhåndsvisning" class="disabled">Forhåndsvisning</a>
            <button class="button button--success active">Oppdater</button>
        </div>
    </div>
{{/ publisert }}
{{# forhandsvisning }}
    <div class="action-line">
        <div class="action-line__left-info">FORHÅNDSVISNING</div>
        <div class="align_right">
            <button class="button">Lukk forhåndsvisning</button>
        </div>
    </div>
{{/ forhandsvisning }}
{{# utgatt }}
    <div class="action-line">
        <div class="action-line__left-info">UTGÅTT</div>
        <div class="align_right">
            <button class="button button--success active">Lagre</button>
            <button class="button">Publiser</button>
        </div>
    </div>
{{/ utgatt }}
{{# escenicArtikkel }}
    <div class="action-line">
        <div class="action-line__left-info">ESCENIC-ARTIKKEL</div>
        <div class="align_right">
            <button class="button button--danger">Slett</button>
            <button class="button button--success active">Behold</button>
        </div>
    </div>
{{/ escenicArtikkel }}