{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}


<main id="innhold" tabindex="-1" class="smMa desktop_centered"> 

    <div class="page_header_container_with_org_menu">
        
        {{# forInnbygger }}
        {{> molecules-sideoverskrift-med-lenke(sidetittel: "{{ innbygger.tittel }}", url: "{{ innbygger.url }}") }}
        {{/ forInnbygger }}
        
        {{# forOrganisasjon }}
        {{> molecules-sideoverskrift-med-lenke(sidetittel: "{{ organisasjon.tittel }}", url: "{{ organisasjon.url }}") }}
        {{/ forOrganisasjon }}
        
    </div>

    <div class="row">
        <div class="col_md_12 col_lg_4">
            
            {{# meny }}
            {{> molecules-org-meny }}
            {{/ meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
            
            {{> molecules-moduloverskrift-h1:mbm(tittel: "Laksevåg gnr 141 bnr 22 Olsvikveien 168. Anlegging mur og ledninger") }}

            <p>Saksnummer: 201335063</p>
            
            <div class="case_shortcut_link_container">
                <p>
                    <a href="" title="Legg inn kommentar til saken" class="case_shortcut_link">
                        <span class="icon-arrow-left-bow grunt-icon grunt-icon--32 grunt-icon--link_color" data-grunticon-embed></span>
                        Legg inn kommentar til saken
                    </a>
                </p>
                <p>
                    <a href="" title="Send klage på vedtak" class="case_shortcut_link">
                        <span class="icon-arrow-left-bow grunt-icon grunt-icon--32 grunt-icon--link_color" data-grunticon-embed></span>
                        Send klage på vedtak
                    </a>
                </p>
            </div>

<div style="opacity: .5;">
            {{> molecules-moduloverskrift-h2:mbs(tittel: "Påbegynte skjema") }}
            <ul class="element_list mbj">
                <li>
                    <a href="#" title="Skjema" class="title_cell">Påbegynt utfylling av skjema</a>
                    <span class="meta_info_container">
                        <span class="meta_info_cell form_date" title="Dato opprettet">01.10.2015</span>
                        <span class="meta_info_cell last_cell_right">
                            <a href="#" title="Slett skjema" class="delete_form">Slett</a>
                        </span>
                    </span>
                </li>
            </ul>
</div>            
            
            {{> molecules-moduloverskrift-h2(tittel: "Dokumenter i saken") }}

            <div class="case_document_container">
                <span class="case_document_date received" title="Mottatt 28.11.2013">28.11.2013</span>
                <h3 class="case_document_header">
                    Orientering. Laksevåg gnr 141 bnr 22 Olsvikveien 168. Anlegging mur og ledninger
                </h3>
                <ul class="case_document_list">
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="E-postmelding" target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                E-postmelding
                            </span>
                            <span class="unseen">Ulest</span>
                        </a>
                    </li>
                </ul>
              </div>

              <div class="case_document_container">
                <span class="case_document_date received" title="Mottatt 27.11.2013">27.11.2013</span>
                <h3 class="case_document_header">
                    Ønsker tilbakemelding på utfall av sak. Gnr 141 bnr 22 Olsvikveien 168. Anlegging mur og ledninger
                </h3>
                <ul class="case_document_list">
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="E-postmelding" target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                E-postmelding.pdf
                            </span>
                            <span class="unseen">Ulest</span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="E-postmelding" target="_blank">
                            <span class="icon PDF">PDF</span>
                            <span class="document_title">
                                tegning.PDF
                            </span>
                            <span class="unseen">Ulest</span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="E-postmelding" target="_blank">
                            <span class="icon DOC">doc</span>
                            <span class="document_title">
                                tegning.doc
                            </span>
                            <span class="unseen">Ulest</span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="E-postmelding" target="_blank">
                            <span class="icon docx">docx</span>
                            <span class="document_title">
                                tegning.docx
                            </span>
                            <span class="unseen">Ulest</span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="E-postmelding" target="_blank">
                            <span class="icon txt">txt</span>
                            <span class="document_title">
                                tegning.txt
                            </span>
                            <span class="unseen">Ulest</span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="E-postmelding" target="_blank">
                            <span class="icon jpg">jpg</span>
                            <span class="document_title">
                                tegning.jpg
                            </span>
                            <span class="unseen">Ulest</span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="E-postmelding" target="_blank">
                            <span class="icon gif">gif</span>
                            <span class="document_title">
                                tegning.gif
                            </span>
                            <span class="unseen">Ulest</span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="E-postmelding" target="_blank">
                            <span class="icon xml">xml</span>
                            <span class="document_title">
                                tegning.xml
                            </span>
                            <span class="unseen">Ulest</span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="E-postmelding" target="_blank">
                            <span class="icon png">png</span>
                            <span class="document_title">
                                tegning.png
                            </span>
                            <span class="unseen">Ulest</span>
                        </a>
                    </li>
                </ul>
              </div>

              <div class="case_document_container">
                <span class="case_document_date sent" title="Sendt 25.11.2013">25.11.2013</span>
                <h3 class="case_document_header">
                    E-postkorrespondanse vedrørende godkjenning. Gnr 141 bnr 22 Olsvikveien 168. Anlegging mur og ledninger
                </h3>
                <ul class="case_document_list">
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="E-postmelding" target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                E-postmelding
                            </span>
                        </a>
                    </li>
                </ul>
              </div>

              <div class="case_document_container">
                <span class="case_document_date sent" title="Sendt 20.11.2013">20.11.2013</span>
                <h3 class="case_document_header">
                    E-postkorrespondanse vedrørende igangsettingstillatelse til vann- og 
    spillvannsledning. Gnr 141 bnr 22 Olsvikveien 168. Anlegging mur og ledninger
                </h3>
                <ul class="case_document_list">
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="E-postmelding" target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                E-postmelding
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="Cras purus ligula" target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                Cras purus ligula
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="Morbi lobortis ex eu sem vehicula" target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                Morbi lobortis ex eu sem vehicula
                            </span>
                        </a>
                    </li>
                </ul>
              </div>

              <div class="case_document_container">
                <span class="case_document_date received" title="Mottatt 14.11.2013">14.11.2013</span>
                <h3 class="case_document_header">
                    Søknaden arkiveres ubehandlet da den er ufullstendig. Gnr 141 bnr 22, Olsvikveien 168.
                </h3>
                <ul class="case_document_list">
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="Søknaden arkiveres ubehandlet da den er ufullstendig. Gnr 141 bnr 22, Olsvikveien 168." target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                Søknaden arkiveres ubehandlet da den er ufullstendig. Gnr 141 bnr 22, Olsvikveien 168.
                            </span>
                        </a>
                    </li>
                </ul>
              </div>

              <div class="case_document_container">
                <span class="case_document_date received" title="Mottatt 08.11.2013">08.11.2013</span>
                <h3 class="case_document_header">
                    Mottakskontroll. Gnr 141 bnr 22, Olsvikveien 168.
                </h3>
                <ul class="case_document_list">
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="Søknaden arkiveres ubehandlet da den er ufullstendig. Gnr 141 bnr 22, Olsvikveien 168." target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                Mottakskontroll. Gnr 141 bnr 22, Olsvikveien 168.
                            </span>
                            <span class="unseen">Ulest</span>
                        </a>
                    </li>
                </ul>
              </div>

              <div class="case_document_container">
                <span class="case_document_date received" title="Mottatt 10.10.2013">10.10.2013</span>
                <h3 class="case_document_header">
                    Laksevåg gnr 141 bnr 22 Olsvikveien 168. Anlegging mur og ledninger
                </h3>
                <ul class="case_document_list">
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="Søknad. Laksevåg Gnr 141 Bnr 22 Olsvikveien 168. Anlegging Mur Og Ledninger" target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                Søknad. Laksevåg Gnr 141 Bnr 22 Olsvikveien 168. Anlegging Mur Og Ledninger
                            </span>
                            <span class="unseen">Ulest</span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="Kontrollansvar" target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                Kontrollansvar
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="Nabovarsel" target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                Nabovarsel
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="#" title="Plan, snitt og fasade" target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                Plan, snitt og fasade
                            </span>
                            <span class="unseen">Ulest</span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="Situasjonsplan" target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                Situasjonsplan
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="case_document_link" href="testdokument.pdf" title="Tilleggsdokumentasjon" target="_blank">
                            <span class="icon pdf">pdf</span>
                            <span class="document_title">
                                Tilleggsdokumentasjon
                            </span>
                        </a>
                    </li>
                </ul>
              </div>




        </div>
      </div>
   
</main>
{{> organisms-footer }}