<p>
    <a href="#" title="" class="read_more_link read_more_link--16 font-size-16">
        Lenke med tekst 16px, linjehøyde 21px
    </a><br>
    
    <a href="#" title="" class="read_more_link read_more_link--17 font-size-17">
        Lenke med tekst 17px, linjehøyde 21px
    </a><br>
    
    <a href="#" title="" class="read_more_link read_more_link--18 font-size-18">
        Lenke med tekst 18px, linjehøyde 21px
    </a><br>
    
    <a href="#" title="" class="read_more_link font-size-19">
        Lenke med tekst 19px, linjehøyde 28px
    </a>&nbsp;&nbsp; &ndash; standard tekst<br>

    <a href="#" title="" class="read_more_link read_more_link--20 font-size-20">
        Lenke med tekst 20px, linjehøyde 28px
    </a><br>

    <a href="#" title="" class="read_more_link read_more_link--21 font-size-21">
        Lenke med tekst 21px, linjehøyde 28px
    </a><br>

    <a href="#" title="" class="read_more_link read_more_link--22 font-size-22">
        Lenke med tekst 22px, linjehøyde 28px
    </a><br>

    <a href="#" title="" class="read_more_link read_more_link--24 font-size-24">
        Lenke med tekst 24px, linjehøyde 28px
    </a><br>

    <a href="#" title="" class="read_more_link read_more_link--26 font-size-26">
        Lenke med tekst 26px, linjehøyde 28px
    </a><br>

    <a href="#" title="" class="read_more_link read_more_link--28 font-size-28">
        Lenke med tekst 28px, linjehøyde 35px
    </a><br>

    <a href="#" title="" class="read_more_link read_more_link--30 font-size-30">
        Lenke med tekst 30px, linjehøyde 35px
    </a><br>

    <a href="#" title="" class="read_more_link read_more_link--32 font-size-32">
        Lenke med tekst 32px, linjehøyde 35px
    </a>
</p>

{{> molecules-sideoverskrift-h2-med-lenke(sidetittel: "Avdeling (mob: 26px, desktop: 32px)", url: "#") }}
<br>

<a href="#" title="" class="link link--two-arrows">
    Lenke med to piler
</a>

<br>
<br>

<a href="#" class="link link--external">
    Ekstern lenke
</a>

<br>
<br>

<a href="#" class="link link--external link--underline">
    Ekstern lenke
</a>