{{> organisms-header-1 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    

    <div class="row">
        <div class="col_md_12 col_lg_8 org_main_col">



                    <div id="article_multipurpose" class="mbxxl">

                        <div id="topPicture" class="related_image">
                            <a href='#' class='lightbox image_link' title='Dette er en testartikkel bildeteksten. &lt;div class=&quot;photographer&quot;&gt;BILDE: KRISTIN HAUGE KLEMSDAL&lt;/div&gt;'>
                                <img src="../../images/examples/Groenevika_83873s.jpg" alt="Dette er en testartikkel alt.teksten.">
                            </a>
                            <div class="imgtext">
                                Arboretet på Milde
                            </div>
                        </div>

                        <div id="newsDetail">
                            <div class="module">

                                <h1 class="article_header">KulTur 28. mai</h1>

                                <p class="ingress">I helgene går de kule på tur - bli med på KulTur du også!</p>
                                
                                
                                <div class="articleinfo articleinfo_top">
                                    <div class="date">
                                        <span>
                                            Publisert: 15.06.2016
                                            <span class="separator">|</span>
                                            Oppdatert: 07.07.2016
                                        </span>
                                    </div>
                                    <div class="author">
                                        <span>Tekst:</span>
                                        <a href="#">Ola Nordmann</a>
                                        <span class="separator">|</span>
                                        <a href="#">Kari Nordmann</a>
                                    </div>
                                </div>



                                <div class="article_body_content">
                                    <p> KulTur er friluftsturer med kulturelle innslag. I 2017 arrangerer vi 6 turer -    3 på våren og 3 på høsten.  </p> <p> Turene går på grusveier/gangveier i lett terreng, og har en lengde på 2-4    kilometer.  </p> <p> Deltakerne får utdelt motivasjonskort, og får premie når de har deltatt på et    visst antall turer. De som deltar på minst 5 turer får medalje på siste tur.  28. mai: Arboretet på Milde  <br><br> Påmelding sender du på epost til: <a href="synneve.kultur@gmail.com">Synnøve</a>  <br><br> Vet du om en tursti som kunne være fin å besøke i høst, eller har du forslag    til kulturinnslag? Send en epost til <a href="ann.jenssen@bergen.kommune.no">Ann    Christin</a>   </p>

                                    <div class="video">
                                        <a href=""></a>
                                    </div>
                                </div>

                                
                                <div class="article_footer_print_link_container">
                                    <a href="javascript:window.print()" title="Skriv ut">
                                        <span class="icon print_icon"></span>
                                        <span class="print_link_txt">Skriv ut</span>
                                    </a>
                                </div>
                                
                                <div class="articleinfo">
                                    <div class="date">
                                        <span>
                                            Publisert:&nbsp;19.04.2017
                                            <span class="separator">|</span>
                                            Oppdatert:&nbsp;02.08.2017
                                        </span>
                                    </div>
                                    <div class="author">
                                        <span>Tekst:</span>	
                                        <a href="javascript:void(0)" onclick="var a='bjorn.vindenes';var b='bergen.kommune.no';window.location='mail'+'to'+String.fromCharCode(58)+a+String.fromCharCode(64)+b">Bjørn&nbsp;Vindenes</a>
                                    </div>
                                </div>
                                
                                


                                <!-- End article_multipurpose: -->



                            </div><!-- end module -->
                        </div><!-- end newsDetail -->
                    </div><!-- end article_multipurpose -->
            
                    
            
                    <div class="row_no_clearfix equal_height_container mbxl">

                    </div>
            
                    <div class="page_footer">
                        <div class="meta_info">
                            <p>
                                Ansvarlig avdeling:
                                <a href="/omkommunen/avdelinger/seksjon-informasjon" title="Seksjon informasjon">Seksjon informasjon</a>
                            </p>
                        </div>
                    </div>


                    <a href="{{ link.pages-kultur-og-idrett }}" title="" class="button" style="opacity: .5;">
                        Tilbake til Kultur og idrett
                    </a>



        </div>
    </div>
</main>
{{> organisms-footer }}