<section class="mbj">
    
    {{> molecules-moduloverskrift-h2-med-lenke:mbm(tittel: "Siste nytt", url: "{{ link.pages-artikkelliste }}") }}
    
    {{> molecules-link-liste-nyheter:mbm }}
    
    {{# sisteNyttLesMer}}
    {{> molecules-les-mer }}
    {{/ sisteNyttLesMer}}
</section>