<div class="holidays_container">
    <h3 class="holidays_header">
        <time datetime="{{ datetime_MaanedAar }}">{{ maanedAar }}</time>
    </h3>
    <ul class="holidays_list">
        {{# ferieListe }}
            <li class="holidays_list_item">
                <div class="holiday_date">
                    {{# fraDato }}
                    <time datetime="{{ datetime_fraDato }}">{{ fraDato }}</time>
                    {{/ fraDato }}
                    {{# tilDato }}
                        - 
                        <time datetime="{{ datetime_tilDato }}">{{ tilDato }}</time>
                    {{/ tilDato }}
                </div>
                <div class="holiday_title_container">
                    <div class="holiday_title">
                        {{ ferietittel }}
                    </div>
                    {{# HarFerieExtraInfo }}
                        <ul class="holiday_additional_info_list">
                        {{# ferieExtraInfo }}
                            <li>
                                {{ ekstraInfo }}
                                <time datetime="{{ datetime_fraDato }}">{{ fraDato }}</time>{{# tilDato }}-<time datetime="{{ datetime_tilDato }}">{{ tilDato }}</time>{{/ tilDato }}
                            </li>
                        {{/ ferieExtraInfo }}
                        </ul>
                    {{/ HarFerieExtraInfo }}
                </div>
            </li>
        {{/ ferieListe }}
    </ul>
</div>