<ul class="link_list link_list--with_meta {{ styleModifier }}">
    
    {{# fremhevetNyhet }}
        <li class="important_news_item">
            {{> molecules-modul-viktig-nyhet }}
        </li>
    {{/ fremhevetNyhet }}
    
    {{# linkliste }}
        <li>
            <a href="{{ url }}">
                <span class="title">{{ tittel }}</span>
                {{# meta }}
                    <span class="meta">{{ meta }}</span>
                {{/ meta }}
            </a>
        </li>
    {{/ linkliste }}
    
</ul>