{{#avkryssingsbokser}}
<div class="search-checkbox-filter {{styleModifier}}">
    <button class="js_search-checkbox-filter__toggle search-checkbox-filter__button">Avgrens søket</button>
    <div class="search-checkbox-filter__content">
        <fieldset>
             <legend class="search-checkbox-filter__title">{{ legend }}</legend>
             {{> atoms-avkryssingsboks}}
        </fieldset>
    </div>
    <a href="#" class="js_search-checkbox-filter__toggle search-checkbox-filter__close-button">Lukk</a>
</div>
{{/avkryssingsbokser}}