<div class="form-element {{styleModifier}}">
    {{#etikett}}<label class="form-element__label {{#skjultEtikett}} screen-reader-text{{/skjultEtikett}}"> {{etikett}} </label> {{/etikett}}
    <input class="form-element__number {{#skjultSpinner}}form-element__number--without-spinner {{/skjultSpinner}}" type="number" placeholder="{{placeholder}}">
</div>

