<div class="form-element {{styleModifier}}">
    {{#nummerfelt.etikett}}<label class="form-element__label {{#nummerfelt.skjultEtikett}} screen-reader-text{{/nummerfelt.skjultEtikett}}"> {{nummerfelt.etikett}} </label> {{/nummerfelt.etikett}}
    <input class="form-element__number" type="number" placeholder="{{nummerfelt.placeholder}}">
</div>

<div class="form-element {{styleModifier}}">
    {{#nummerfelt.etikett}}<label class="form-element__label {{#nummerfelt.skjultEtikett}} screen-reader-text{{/nummerfelt.skjultEtikett}}"> {{nummerfelt.etikett}} </label> {{/nummerfelt.etikett}}
    <input class="form-element__number form-element__number--without-spinner" type="number" placeholder="{{nummerfelt.placeholder}}">
</div>

