<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
            $white <br />
            #ffffff
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f5f5f5;"></span>
		<span class="sg-label">
			$white_sand <br />
			#f5f5f5
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e0e0e0;"></span>
		<span class="sg-label">
			$alto <br />
			#e0e0e0
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #a3a3a3;"></span>
		<span class="sg-label">
			$silver <br />
			#a3a3a3
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #777;"></span>
		<span class="sg-label">
			$grey7 <br />
			#777
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333;"></span>
		<span class="sg-label">
			$grey3 <br />
			#333
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">
			$black <br />
			#000
		</span>
	</li>
</ul>

