<div class="row_no_clearfix equal_height_container {{ styleModifier }}">
    {{# navSider }}
        <div class="col_md_6 col_lg_4 clear_col_md_6 clear_col_lg_4 equal_height_item mbl">
            {{> molecules-lenkeboks }}
        </div>
    {{/ navSider }}
    {{#redigeringsmodus}}
    <div class="col_md_6 col_lg_4 clear_col_md_6 clear_col_lg_4 equal_height_item mbl">
        <div class="linkbox--create">
                <a href="#">
                    <span class="plus-arrow-icon"></span>
                    Lag ny
                </a>
        </div>
    </div>
    {{/redigeringsmodus}}
</div>
