{{> organisms-header-3 }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h1:mbxl(sidetittel: "Betaling av skatt") }}

    <div class="row">
        <div class="col_lg_6 col_md_12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla repellendus ut voluptatibus? Assumenda cupiditate debitis dicta doloremque, error eveniet facere facilis ipsam iste iure nam natus perspiciatis porro soluta veritatis?</p>
            {{> molecules-kemner-betalingsinformasjon}}
        </div>
    </div>

</main>
{{> organisms-footer }}