{{> organisms-header-6 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">    
    <article>
        {{> molecules-sideoverskrift-h1(visH2: "true", title: "{{ organisasjon.tittel }}", sidetittel: "Eiendommer") }}
        <div class="row">
            <div class="col_md_12 col_lg_9">
                <div class="article_content">
                    {{> molecules-element-liste-eiendommer }}
                </div>
                {{> molecules-tilbakemelding }}
            </div>
        </div>
    </article>    
</main>
{{> organisms-footer }}