{{> organisms-header-varianter }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    {{> molecules-sideoverskrift-h1:mbs(sidetittel: "Min side - Hvem representerer du?") }}

    <div class="row">
        <div class="col_md_12 col_lg_8">

            {{> molecules-representasjonsliste:mbj }}

            
            {{> molecules-moduloverskrift-h2-med-lenke:mbs(url: "{{ link.pages-org-uten-rettighet }}", tittel: "Organisasjoner hvor du ikke har tilstrekkelige rettigheter") }}
            <p>Tilgang tildeles av rettighetshaver på <a href="http://www.altinn.no">altinn.no</a>.</p>

            {{> molecules-representasjonsliste-enkel:mbj }}
            {{> molecules-last-inn-flere-minside:neg-mtxl }}


        </div>
    </div>
</main>
{{> organisms-footer }}