{{# los1Element }}
<div class="{{#navStyle}}{{navStyle}}{{/navStyle}}
    {{^navStyle}}col_md_6 col_lg_6 clear_col_md_6 clear_col_lg_6{{/navStyle}}">
    <h2 class="cat_1_header">
        <a href="{{ url }}" title="{{ tittel }}" class="cat_1_link">{{ tittel }}</a>
    </h2>
</div>
{{/ los1Element }}