<ul class="tabs {{styleModifier}}">
    {{#tab}}
        <li class="tabs__tab {{#aktiv}}tabs__tab--active{{/aktiv}}">
            <a href="{{ url }}" title="{{ tittel }}">
                {{ tittel }}<span class="hidden_on_small_screens">{{ tittelUtvidet }}</span>
            </a>
        </li>
    {{/tab}}
</ul>