{{> organisms-header-varianter }}

<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h1 }}

    {{> organisms-sideliste }}
    
</main>
{{> organisms-footer }}