{{#flexTable}}

<div class="flex-table {{styleModifier}} {{#tableStyleModifier}} flex-table--{{tableStyleModifier}}{{/tableStyleModifier}}" role="grid" aria-labelledby="{{title}} {{resultsTitle}}">

    {{#title}}<h2 id="{{#title}}{{/title}}" class="flex-table__title {{titleModifier}}"> {{title}}</h2>{{/title}}
    {{#resultsTitle}}<h2 class="flex-table__title flex-table__title--results" aria-live="assertive"> {{resultsTitle}}</h2>{{/resultsTitle}}

    {{#desktopTitles}}
    <div class="flex-table__desktop-headerarea {{#headerareaModifier}}flex-table__desktop-header--{{headerareaModifier}}{{/headerareaModifier}}" role="row">
        {{#desktopTitle}}<span class="flex-table__desktop-header {{#styleModifier}} flex-table__desktop-header--{{styleModifier}}{{/styleModifier}}" role="columnheader"> {{desktopTitle}} </span>{{/desktopTitle}}
    </div>
    {{/desktopTitles}}

    {{#row}}
    <div class="flex-table__row {{#styleModifier}}flex-table__row--{{styleModifier}}{{/styleModifier}}" role="row">
        {{#cell}}
        <div class="flex-table__cell {{#styleModifier}} flex-table__cell--{{styleModifier}}{{/styleModifier}}" role="gridcell">
            {{#mobileHeader}}<span class="flex-table__cell-item flex-table__cell-item--mobile-header">{{mobileHeader}}</span>{{/mobileHeader}}
            {{#content}}<span class="flex-table__cell-item flex-table__cell-item--text {{#contentModifier}} flex-table__cell-item--{{contentModifier}}{{/contentModifier}}">{{{content}}}</span>{{/content}}
            {{#twoitemscontent}}<span class="flex-table__cell-item">{{{twoitemscontent}}}</span>{{/twoitemscontent}}
        </div>
        {{/cell}}
    </div>
    {{/row}}
</div>

{{/flexTable}}