<button>Lagre</button>
<button>Avbryt</button>


<div class="warning_container mbxl redigering" id="feilmelding-container">
    <div class="warning_inner">
        <div style="" class="redigering antall-tegn" id="feilmelding-tegn">200</div>
        <textarea id="feilmelding-input" class="redigering"></textarea>        
    </div>
</div>
  

<div class="notice_container mbxl redigering" style="" id="varsel-container">
    <div class="notice_inner">
        <div style="" class="redigering antall-tegn" id="varsel-tegn">200</div>
        <textarea id="varsel-input" class="redigering"></textarea>                
    </div>
</div>