<ul class="bk360_meeting_calendar">
    {{# enkelliste }}
        <li>
            <a href="{{ url }}" class="meeting_title_link">
                <strong>{{ tittel }}</strong>
            </a>
            
            <div class="status"><strong>Status:</strong> ferdig</div>
            <div class="id"><strong>ID:</strong> 52</div>
            <div class="date"><strong>Dato:</strong> 05.03.2017</div>
        </li>
    {{/ enkelliste }}
</ul>