<ul class="representation_list">
    {{# representasjonsliste }}
    <li class="{{ li_class }}">
        <a href="{{ url }}" title="{{ navn }}">
            <span class="icon {{ icon_class }}"></span>
            {{ navn }}
        </a>
    </li>
    {{/ representasjonsliste }}
</ul>