<ul class="representation_list {{ styleModifier }}">
    {{# representasjonsliste }}
    <li class="{{ li_class }}">
        <a href="{{ url }}" title="{{ navn }}">
            <span class="{{ icon_class }} grunt-icon grunt-icon--32"></span>
            {{ navn }}
        </a>
    </li>
    {{/ representasjonsliste }}
</ul>