<div class="box_link_with_icon_container {{ styleModifier }}">
    <a href="{{ url }}" title="{{ tittel }}" class="box_link_with_icon department_link_icon">
        <span class="read_more_link_28">Vis alle underavdelinger</span>
    </a>
</div>