<div class="sg-spacer-content mbn"><code>class = mbn</code> &mdash; Vertikal avstand mellom elementer. 0 pixler</div>

<div class="sg-spacer-content mbs"><code>class = mbs</code> &mdash; Vertikal avstand mellom elementer. 7 pixler</div>

<div class="sg-spacer-content mbm"><code>class = mbm</code> &mdash; Vertikal avstand mellom elementer. 14 pixler</div>

<div class="sg-spacer-content mbl"><code>class = mbl</code> &mdash; Vertikal avstand mellom elementer. 28 pixler</div>

<div class="sg-spacer-content mbxl"><code>class = mbxl</code> &mdash; Vertikal avstand mellom elementer. 35 pixler</div>

<div class="sg-spacer-content mbxxl"><code>class = mbxxl</code> &mdash; Vertikal avstand mellom elementer. 42 pixler</div>

<div class="sg-spacer-content mbj"><code>class = mbj</code> &mdash; Vertikal avstand mellom elementer. 56 pixler &mdash; standard avstand for moduler</div>

<p class="sg-spacer-content"><code>&#60;p&#62;</code> &mdash; Vertikal avstand mellom elementer. 28 pixler &mdash; standard avstand for avsnitt</p>