<div class="load-more-container load-more-container--20 {{ styleModifier }}">
    <a href="javascript:lastFlere()" id="js_lastflere" class="read_more_link read_more_link--20">
        {{ lesMerTekst }}
    </a>
</div>
