<p class="mbxl">
    Alle datoer gjelder fra og med til og med.
    <br>
    <span id="vis_passerte" class="toggle_passerte">
        Oversikten viser kommende ferier og fridager.
        <a href="#" title="Vis passerte ferie og fridager" class="toggle_holidays_link">Vis passerte ferie og fridager.</a>
    </span>
</p>

{{# skoleruten }}
    <div class="holidays_section mbj">
        <h3 class="module_header holidays_section_header mbm">
            <time datetime="2016">2016</time> - <time datetime="2017">2017</time>
        </h3>

        <a href="{{ url }}" title="Legg Ferie og fridager for 2016 - 2017” i kalenderen din" class="important_link hidden-on-print mbm" role="button">
            <span class="icon-calendar grunt-icon grunt-icon--32"></span>
            Legg &quot;Ferie og fridager for
            <time datetime="2016">2016</time> - <time datetime="2017">2017</time>&quot;
            i kalenderen din
        </a>
        
        {{# ferieMaaned }}
            {{> molecules-skoleruten }}
        {{/ ferieMaaned }}
        
    </div>
{{/ skoleruten }}