{{#checkbox}}
<div class="form-element {{styleModifier}}">
    <input type="checkbox" id="{{name}}" class="form-element__checkbox" {{#checked}}checked{{/checked}}>
    <label for="{{name}}" class="form-element__label form-element__label--checkbox"><span></span> {{label}} </label>
</div>
{{/checkbox}}