<div class="row category_navigation_container js_categories">
    <div class="col_md_6 col_lg_4">

        <ul class="category_navigation_1 js_cat_1">
            {{# cat_liste_1 }}
            <li class="los {{# active1 }}active{{/ active1 }}">
                <a href="#" title="{{ tittel }}">
                    {{ tittel }}
                    <span class="arrow-icon"></span>
                    <span class="arrow-icon--2"></span>
                </a>
                {{# active1 }}
                <ul class="category_navigation_2 js_cat_2 active">
                    {{# cat_liste_2 }}
                    <li class="los2 {{# active2 }}active{{/ active2 }}">
                        <a title="{{ tittel }}" href="#!">
                            {{ tittel }}
                            <span class="arrow-icon"></span>
                        </a>
                        {{# active2 }}
                        <ul class="category_navigation_3 js_cat_3 active">
                            {{# tjenesteliste }}
                            <li class="tjenestebeskrivelse">
                                <a title="{{ tittel }}" href="{{ url }}">
                                    {{ tittel }}
                                    <span class="arrow-icon"></span>
                                    <span class="arrow-icon--2"></span>
                                </a>
                            </li>
                            {{/ tjenesteliste }}
                        </ul>
                        {{/ active2 }}
                    </li>
                    {{/ cat_liste_2 }}
                </ul>
                {{/ active1 }}
            </li>
            {{/ cat_liste_1 }}
        </ul>

    </div>
</div>