<div class="row category_navigation_container js_categories">
    <div class="col_md_6 col_lg_4">

        <ul class="category_navigation_1 js_cat_1">
            <li><a href="#" title="Arbeidsliv">Arbeidsliv<span class="arrow-icon"></span><span class="arrow-icon--2"></span></a></li>
            <li class="active">
                <a href="#" title="Arbeidssøking og rekruttering">
                    Arbeidssøking og rekruttering
                    <span class="arrow-icon"></span>
                    <span class="arrow-icon--2"></span>
                </a>
                <ul class="category_navigation_2 js_cat_2 active">
                    <li><a title="Arbeidsmarkedstiltak" href="#!">Arbeidsmarkedstiltak<span class="arrow-icon"></span></a></li>
                    <li><a title="Arbeidssøking" href="#!">Arbeidssøking<span class="arrow-icon"></span></a></li>
                    <li class="active">
                        <a title="Arbeidstillatelse" href="#!">
                            Arbeidstillatelse
                            <span class="arrow-icon"></span>
                        </a>
                        <ul class="category_navigation_3 js_cat_3 active">
                            <li>
                                <a title="Introduksjonsordning for nyankomne flyktninger" href="{{ link.pages-tjenestebeskrivelse }}">
                                    Introduksjonsordning for nyankomne flyktninger
                                    <span class="arrow-icon"></span>
                                    <span class="arrow-icon--2"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a title="CV" href="#!">CV<span class="arrow-icon"></span></a></li>
                    <li><a title="Rekruttering" href="#!">Rekruttering<span class="arrow-icon"></span></a></li>
                </ul>
            </li>
            <li><a href="#" title="Inntekt">Inntekt<span class="arrow-icon"></span><span class="arrow-icon--2"></span></a></li>
        </ul>

    </div>
</div>