<div class="page_header page_header_with_flag {{ styleModifier }}">
    <h1>{{ sidetittel }}</h1>
    <div class="flag_link_container">
        <a href="?language=en" title="English" hreflang="en_GB" lang="en_GB" class="active">
            <span class="icon-english grunt-icon grunt-icon--32-64"></span>
            <span class="lang">English</span>
        </a>
        <a href="?language=no" title="Norsk" hreflang="no_NO" lang="no_NO">
            <span class="icon-norsk grunt-icon grunt-icon--32-64"></span>
            <span class="lang">Norsk</span>
        </a>
    </div>
</div>