<h3 class="helpers_header mbs">Hovedtekst</h3>
<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<div class="mbxxl">
    <textarea name="editor1" class="mbn"></textarea>
    <script>
        CKEDITOR.replace( 'editor1' );
    </script>
</div>