<h3 class="helpers_header">Hovedtekst</h3>
<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<div class="mbl">
    <textarea name="editor1"></textarea>
    <script>
        CKEDITOR.replace( 'editor1' );
    </script>
</div>