<div class="service_shortcut_container {{ styleModifier }}">
    <a href="{{ serviceSnarvei.url }}" title="{{ serviceSnarvei.tittel }}" class="service_icon {{ serviceSnarvei.storIkon }}"></a>
    <h3 class="service_shortcut_title">
        <a href="{{ serviceSnarvei.url }}" title="{{ serviceSnarvei.tittel }}">
            {{ serviceSnarvei.tittel }}
        </a>
    </h3>
    <p class="service_shortcut_text">{{ serviceSnarvei.tekst }}</p>
    <p class="service_shortcut_link_container">
        <a href="{{ serviceSnarvei.url }}" title="{{ serviceSnarvei.tittel }}" class="button large">{{ serviceSnarvei.knappTittel }}</a>
    </p>
</div>

