<section class="service_shortcut_container {{ styleModifier }}">
    <a href="{{ serviceSnarvei.url }}" title="{{ serviceSnarvei.tittel }}" class="service_shortcut_icon_link">
        <span class="{{ serviceSnarvei.serviceSnarveiIkon }} grunt-icon grunt-icon--64"></span>
        <span class="screen-reader-text">{{ serviceSnarvei.tittel }}</span>
    </a>
    <h2 class="service_shortcut_title">
        {{ serviceSnarvei.tittel }}
    </h2>
    <p>{{{ serviceSnarvei.tekst }}}</p>
    <p class="mbn">
        <a href="{{ serviceSnarvei.url }}" title="{{ serviceSnarvei.tittel }}" class="button mbn">{{ serviceSnarvei.knappTittel }}</a>
    </p>
</section>

