<div class="tout_container schedules_tout {{ styleModifier }}">
    <h2 class="tout_header">
        <a href="{{ link.pages-arbeidsplaner }}" title="Arbeidsplaner">Arbeidsplaner</a>
    </h2>
    <div class="tout_excerpt">
        <a href="{{ link.pages-arbeidsplaner }}" title="Finn arbeidsplan" class="read_more_link">Finn arbeidsplanen for ditt trinn</a>
    </div>
</div>