<div class="col_md_6 col_lg_6 equal_height_item">
    <div class="tout_container schedules_tout mbxxl mbl--m">
        <h2 class="tout_header">
            <a href="{{ link.pages-arbeidsplaner }}" title="Arbeidsplaner">Arbeidsplaner</a>
        </h2>
        <div class="tout_excerpt">
            <a href="{{ link.pages-arbeidsplaner }}" title="Finn arbeidsplan" class="read_more_link_medium">
                Finn arbeidsplanen for ditt trinn
            </a>
        </div>
    </div>
</div>