<div class="module_container">
    <div class="module_content_container">
        <div class="module_content_excerpt">
            <p>Lenken nedenfor tar deg til en side hvor du både kan søke barnehageplass og få nyttige fakta om denne og andre barnehager, for eksempel:</p>
            <ul>
                <li>antall barn</li>
                <li>fordelingen av gutter og jenter</li>
                <li>halv- eller heldagsplasser</li>
            </ul>
            <a href="https://bergen.ist-asp.com/bergenpub/public/flow/eos.wf.childcare.application.xml" title="Gå til søknadsskjema og faktasider" class="external_link">Se tall og fakta om barnehagen<span class="external_icon">&nbsp;</span></a>
        </div>
    </div>
</div>
