<div class="mbxxl">
    <h2 class="sidebar-header sidebar-header--open mbm js_sidebar-accordion">
        <a class="sidebar-header__toggle" href="#">
            Kategori
            <span class="arrow-icon"></span>
        </a>
    </h2>
    
    <div class="category-selector">
        {{# valgtKategori }}
            <h3 class="helpers_header mbs">Valgt kategori</h3>
            <div class="category-selector__flex">
                {{valgtKategori}}
                <a href="#" title="Endre">Endre</a>
            </div>
        {{/ valgtKategori }}
        
        {{# avstandsholder }}
            <div class="mbl"></div>
        {{/ avstandsholder }}
        
        {{# velgNyKategori }}
            <div class="category-selector__flex">
                <h3 class="helpers_header mbs">Velg ny kategori</h3>
                <a href="#" title="Avbryt">Avbryt</a>
            </div>
            <ul>
            {{# kategorier }}
                <li><span>{{tittel}}</span>
                    <ul>
                    {{# barn }}
                        <li><span>{{tittel}}</span>
                            <ul>
                            {{# barn }}
                                <li {{# opprinneligKategori}}class="current"{{/ opprinneligKategori}}>
                                    <a href="#" title="">{{ tittel }}</a>
                                </li>
                            {{/ barn }}
                            </ul>
                        </li>
                    {{/ barn }}
                    </ul>
                </li>
            {{/ kategorier }}
            </ul>
        {{/ velgNyKategori }}
    </div>
</div>