<div class="mbxxl">
    <h2 class="sidebar-header sidebar-header--open mbm js_sidebar-accordion">
        <a href="#" class="sidebar-header__toggle">
            Sidetype
            <span class="arrow-icon"></span>
        </a>
    </h2>
    <div style="display: block;">
        {{#type}}
            <div class="form-element">
                {{> atoms-radioknapp }}
            </div>
        {{/type}}

        {{#url}}
            {{> atoms-tekstfelt:mbl }}
        {{/url}}
    </div>
</div>
