<div class="linkbox {{ styleModifier }}">
    <h2 class="linkbox__header">
        <a href="{{ url }}" title="{{ tittel }}" class="linkbox__header-link">
            {{ tittel }}
        </a>
    </h2>
    <div class="linkbox__content">
        {{ ingress }}
    </div>
</div>