<section class="mbj">
    {{> molecules-moduloverskrift-h2-med-lenke:mbs(tittel: "Tjenester og skjema") }}
    
    {{> molecules-link-liste:mbs }}  
    
    {{# tjenesterLesMer }}
    {{> molecules-les-mer }}
    {{/ tjenesterLesMer }}
</section>