<div class="form-element {{styleModifier}}">
    {{#tekstomrade.etikett}}<label class="form-element__label"> {{tekstomrade.etikett}} </label> {{/tekstomrade.etikett}}
    <textarea class="form-element__textarea" name="comment" placeholder="{{^tekstomrade.placeholder}}Tekstområde...{{/tekstomrade.placeholder}}{{#tekstomrade.placeholder}}{{tekstomrade.placeholder}}{{/tekstomrade.placeholder}}"> </textarea>
</div>
