<div class="rssicon_floatRight">
    <a href="#" type="application/rss+xml" rel="alternate" title="Abonner med RSS">RSS - abonner</a>
</div>


<div class="">

    <div class="toppsak">                  
        {{# sakerSak1 }}
            {{> organisms-escenic-elementmal }}
        {{/ sakerSak1 }}
    </div>
    
</div>



<div class="frontpage inngangsside_pf">
    
        
        <!-- TEMPLATE:   fp_005finngangsside_005ftoppsak_jsp -->
        <div class="toppsak">
            <a href="#" title="Følg med på luftkvaliteten" class="image_link">
                <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00261/250216_luft_261224n.jpg" alt="Danmarks plass">
            </a>
            <h5 class="teaser_kicker">Renere Bergen</h5>
            <h2 class="teaser_title">
                <a href="#"><span class="read_more_link read_more_link--24">Følg med på luftkvaliteten</span></a>
            </h2>    
            <p class="story_excerpt">		
                Torsdag 30. mars ventes det lite forurenset luft, i sterkt trafikkerte strøk kan forurensningsnivået være høyere.
            </p>
            <p class="story_readmore">
                <a href="#" class="read_more_link">Her får du mer info</a>
                <span class="section_link_seperator">|</span>
                <a href="" class="section_link read_more_link">Siste nytt</a>
            </p>
        </div>
        
        <div class="saker_container">
            <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
            <div class="sak inngangsside_sak_pf"> 
                <div class="excerpt_image_container_ruu">
                    <a href="#" title="Slik fyrer du riktig" class="image_link">
                        <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00225/IMG_1913_225056n.jpg" alt="Slik fyrer du riktig">
                    </a>
                </div>
                <div class="excerpt_story_container_ruu">
                    <!-- <h5 class="teaser_kicker">Stikktittel</h5> -->
                    <h3 class="teaser_title">
                        <a href="#"><span class="read_more_link read_more_link--22">Slik fyrer du riktig</span></a>
                    </h3>
                    <p class="story_excerpt">		
                    Fyrer du riktig, unngår du brann. I tillegg ivaretar du miljøet og sparer penger.
                    </p>
                    <p class="story_readmore">
                    </p>
                </div>
            </div>

            <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
            <div class="sak inngangsside_sak_pf">
                <div class="excerpt_image_container_ruu">
                    <a href="#" title="Slik samkjører du " class="image_link">
                        <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00166/Spontan_samkjoring_166061n.jpg" alt="Slik samkjører du ">
                    </a>
                </div>
                <div class="excerpt_story_container_ruu">
                    <!-- <h5 class="teaser_kicker">Stikktittel</h5> -->
                    <h3 class="teaser_title">                
                        <a href="#"><span class="read_more_link read_more_link--22">Slik samkjører du</span></a>
                    </h3>
                    <p class="story_excerpt">		
                    Det  er enkelt å starte med samkjøring &ndash; enten du ønsker å sitte på eller tilby skyss.
                    </p>
                    <p class="story_readmore">
                        <a href="#" class="read_more_link">Les tipsene her</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="bunnsaker">
            <div class="venstrebunn">
                <!-- TEMPLATE:   fp_005finngangsside_005fbunnsak_005futen_005fingress_005fpf_jsp -->
                <div class="sak inngangsside_bunnsak_uten_ingress_pf">
                    <a href="#" title="Hvor og hvordan måles luftkvaliteten i Bergen?" class="image_link">	
                        <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00255/Rolland__10__kappet_255724n.jpg" alt="Målebod">
                    </a>
                    <!-- <h5 class="teaser_kicker">Stikktittel</h5> -->
                    <h3 class="teaser_title">                
                        <a href="#"><span class="read_more_link read_more_link--22">Hvor og hvordan måles luftkvaliteten i Bergen?</span></a>
                    </h3>
                    <p class="story_readmore">
                    </p>
                </div>
            </div>

            <div class="hoyrebunn">
                <!-- TEMPLATE:   fp_005finngangsside_005fbunnsak_005futen_005fingress_005fpf_jsp -->
                <div class="sak inngangsside_bunnsak_uten_ingress_pf">
                    <a href="#" title="Sykkelsjefens beste råd for vintersykling" class="image_link">				
                        <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00254/Sykkelsjef_Einar_Jo_254371n.jpg" alt="Sykkelsjefens beste råd for vintersykling">
                    </a>
                    <!-- <h5 class="teaser_kicker">Stikktittel</h5> -->
                    <h3 class="teaser_title">    
                        <a href="#"><span class="read_more_link read_more_link--22">Sykle året rundt?</span></a>            
                    </h3>       
                    <p class="story_readmore">
                        <a href="#" class="read_more_link">Sykkelsjefens beste råd for vintersykling</a>
                    </p>
                </div>
            </div>
        </div>
        
        
        <div class="saker_container">
            <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
            <div class="sak inngangsside_sak_pf">                
                <div class="excerpt_image_container_ruu">
                    <a href="#" title="Nye fargekoder for luftmåling" class="image_link">
                        <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00249/301015_varsling_249676n.jpg" alt="Nye fargekoder for luftmåling">
                    </a>
                </div>
                <div class="excerpt_story_container_ruu">
                    <!-- <h5 class="teaser_kicker">Stikktittel</h5> -->
                    <h3 class="teaser_title">
                        <a href="#"><span class="read_more_link read_more_link--22">Nye fargekoder for luftmåling</span></a>
                    </h3> 
                    <p class="story_excerpt">
                        Miljødirektoratet, Vegdirektoratet og Folkehelseinstituttet har revidert varslingsklassene for luftkvalitet og endret fargekodene. 
                    </p> 
                    <p class="story_readmore">
                    </p>
                </div>
            </div>
        </div>
        
        
        <!-- TEMPLATE:   archiveLink_jsp -->
        {{> molecules-les-mer:toarchive|read_more_link_container--larger-font(lesMerTekst: "Arkiv", url: "{{ link.pages-arkivliste }}", antall: false) }}
        
</div>



