<ol>
    <li>Listeelement 1</li>
    <li>
        Listeelement 2
        <ol>
            <li>Underelement 1</li>
            <li>
                Underelement 2
                <ol>
                    <li>Underelement 1</li>
                    <li>Underelement 2</li>
                </ol>
            </li>
            <li>Underelement 3</li>
            <li>Underelement 4</li>
        </ol>
    </li>
    <li>Listeelement 3</li>
    <li>Listeelement 4</li>
    <li><a href="#">Listeelement 5 - som lenke</a></li>
    <li><a href="#">Listeelement 6 - som lenke</a></li>
    <li><a href="#">Listeelement 7 - som lenke</a></li>
    <li><a href="#">Listeelement 8 - som lenke</a></li>
</ol>