{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    <div class="page_header_container_with_org_menu">
        {{> molecules-sideoverskrift-h2-med-lenke(sidetittel: "{{ innbygger.tittel }}", url: "{{ innbygger.url }}") }}
    </div>
    
    <div class="row">
        <div class="col_md_12 col_lg_4">
            
            {{# meny }}
            {{> molecules-org-meny }}
            {{/ meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
            
            {{> molecules-moduloverskrift-h1:mbm(tittel: "Mindeveien 10") }}
            
            <p>
                Gårdsnummer: 124
                &nbsp;&#8226;&nbsp;
                Bruksnummer: 144
                <span>
                    &nbsp;&#8226;&nbsp;
                    Festenummer: 2
                </span>
                <span>
                    &nbsp;&#8226;&nbsp;
                    Seksjonsnummer: 4
                </span>
                &nbsp;&#8226;&nbsp;
                <a href="http://www.seeiendom.no/services/Matrikkel.svc/GetDetailPage?type=property&knr=1201&gnr=13&bnr=582&fnr=0&snr=0&showpwm=true&customer=kartverket&pagename" title="Vis eiendomsinformasjon" target="_blank" class="external_link">Vis eiendomsinformasjon</a>
            </p>
            
            <p>
                <a href="http://www.bergenskart.no/braplan/api/matrikkelsok/?kildeId=1201&gnr=141&bnr=22&fnr=0" title="Vis kommunale planer for eiendommen" target="_blank" class="external_link">Vis kommunale planer for eiendommen</a>
            </p>

            {{> molecules-moduloverskrift-h2(tittel: "Saker") }} 
            {{> molecules-saker-liste:mbj }}

            {{# eiendomPromo }}
            {{> molecules-promo }}
            {{/ eiendomPromo }}


        </div>
      </div>
    
</main>
{{> organisms-footer }}