<ul class="application-link-list {{ styleModifier }}">
    {{# importantlinkliste }}
        <li>
            <a href="{{ url }}" class="application-link application-link--important">
                {{ tittel }}
            </a>
        </li>
    {{/ importantlinkliste }}
    {{# linkliste }}
        <li>
            <a href="{{ url }}" class="application-link application-link--large">
                {{ tittel }}
            </a>
        </li>
    {{/ linkliste }}
</ul>