<div class="min_side_read_more_container">
    {{ viserAntallTekst }}
    <span class="last_cell">
        <a href="{{ url }}" title="{{ lesMerTekst }}" class="read_more_link">{{ lesMerTekst }}</a>
    </span>
</div>