<div class="tout_container">
    <h2 class="tout_header">
        <a href="#" title="Visjon for bergensbarnehagene">
            Visjon for bergensbarnehagene
        </a>
    </h2>
    <a href="#" title="Booking" class="tout_img_link">
        <img src="https://www.bergen.kommune.no/bk/multimedia/archive/00108/barnehage_visjon_108909a.gif" alt="Visjon logo" class="tout_img">
    </a>
    <div class="tout_excerpt">
        <p>Bergen skal bli Norges beste by å vokse opp i. De kommunale barnehagene i Bergen skal gi alle barn et mangfoldig tilbud av høy faglig kvalitet.</p>
<p><a href="/omkommunen/avdelinger/seksjon-barnehage/9100">Våre verdier</a></p>
    </div>
</div>