<ul class="service-application-list {{ styleModifier }}">
    {{# tjenesteListe }}
        <li class="{{# harSkjemaSubListe }} has-children{{/ harSkjemaSubListe }}">
            <a href="{{ url }}" title="{{ tittel }}" class="header-link">
                <span class="read_more_link read_more_link--20">
                    {{ tittel }}
                </span>
            </a>
            {{# harSkjemaSubListe }}        
                <div class="screen-reader-text">Skjema:</div>
                <ul class="application-link-list">
                    {{# skjemaSubListe }}
                        <li>
                            <a href="{{ url }}" title="{{ tittel }}" class="application-link application-link--small">
                                {{ tittel }}
                            </a>
                        </li>
                    {{/ skjemaSubListe }}
                </ul>
            {{/ harSkjemaSubListe }}
        </li>
    {{/ tjenesteListe }}
</ul>