{{> organisms-header }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    <h1 class="screen-reader-text">Bergen kommune - Forside</h1>
    
    <div class="frontpage_news mbj">
        <div class="row">
            <div class="col_md_6 col_lg_6 float_change">
                <h2 class="module_header frontpage_news_header">
                    <a href="{{ link.pages-hva-skjer }}" title="Hva skjer i kommunen">
                        Hva skjer i kommunen
                    </a>
                </h2>
            </div>
            <div class="col_md_6 col_lg_6">
                        
                {{# toppsak }}
                    <a href="{{ url }}" title="{{ tittel }}" class="frontpage_news_promo module_box_style">
                        {{# imgLandscape }}                            
                            <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}">
                        {{/ imgLandscape }} 
                        <h3 class="promo_title">
                            {{ tittel }}
                        </h3>
                        {{# ingress }}
                        <p class="promo_excerpt">		
                            {{ ingress }}
                        </p>
                        {{/ ingress }}
                    </a>
                {{/ toppsak }}
                
            </div>
            <div class="col_md_6 col_lg_6"> 
                
                <ul class="link_list frontpage_news_link_list">
                    <li>
                        <h3 class="frontpage_news_list_header">
                            <a href="{{ link.pages-hs-uk-artikkel }}" title="">Husk vannflaske til skolestart!</a>
                        </h3>
                    </li>
                    <li>
                        <h3 class="frontpage_news_list_header">
                            <a href="{{ link.pages-artikkel }}" title="">Vann er den beste tørstedrikken- også for studenter! </a>
                        </h3>
                    </li>
                    <li><h3 class="frontpage_news_list_header">
                        <a href="{{ link.pages-artikkel-2 }}" title="">Inviterer til sjømatdag på Nøstetorget</a>
                        </h3>
                    </li>
                </ul>
                
                <div class="read_more_link_container frontpage_news_read_more_link_container">
                    <a href="{{ link.pages-hva-skjer }}" title="Hva skjer">
                        <span class="read_more_link_medium">
                            Gå til Hva skjer
                        </span>
                    </a>
                </div>
                
                
            </div>
        </div>
    </div>
    
    

    <div class="row_no_clearfix service_link_container equal_height_container">
        {{# navigasjonStor }}
        {{> molecules-navigasjonsboks-stor:col_md_6|col_lg_4|clear_col_md_6|clear_col_lg_4 }}
        {{/ navigasjonStor }}
    </div>

    {{# feilmelding }}
    {{> organisms-service-snarvei }}
    {{/ feilmelding }}
            
     

   
</main>
{{> organisms-footer }}