{{> organisms-header-1 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h1:mbl(sidetittel: "{{ sidetittel }}") }}

    <div class="row">
        <div class="col_md_12 col_lg_4">
            
            {{# meny }}
            {{> molecules-org-meny }}
            {{/ meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
            
            
            <!--
                Dette er en kopi fra template tema-sidemal
            -->

            {{# escenic }}
            {{> organisms-escenic-personalrommet }}
            {{/ escenic }}
                        
            {{# tjenester }}
            {{> organisms-tjenester-og-skjema-liten }}
            {{/ tjenester }}

            {{# etjenester100 }}
            {{> organisms-modul-med-overskrift }}
            {{/ etjenester100 }}
                        
            <div class="row_no_clearfix equal_height_container mbxl">
                
                {{# touts }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout }}
                    </div>
                {{/ touts }}
                
            </div>
            
            {{# kontaktbyline }}
            {{> organisms-kontakt-byline }}
            {{/ kontaktbyline }}

            {{# tilbakemelding }}
            {{> molecules-tilbakemelding }}
            {{/ tilbakemelding }}
            
        </div>
    </div>
    
</main>
{{> organisms-footer }}