<ul class="case_list {{ styleModifier }}">
    {{# sakerliste }}
        <li>
            <h3 class="case_title">
                <a href="{{ url }}">
                    {{ tittel }}<span class="arrow-icon"></span>
                </a>
            </h3>
            <span class="case_id_container">
                <span class="case_id_label">Saksnr.:</span>
                <span class="case_id {{ saksnummer_finnes_ikke_stil }}">{{ saksnummer }}</span>
            </span>
            <span class="case_date_container">
                <span class="case_last_updated_label">Oppdatert:</span>
                <span class="case_last_updated">{{ oppdatertDato }}</span>
            </span>
        </li>
    {{/ sakerliste }}
</ul>