<div class="vannmaal">
    
    <ul> 
       <li class="bade_kvalitet">          
            <span class="bade_attributt">Vannkvalitet: </span>
            <span class="bade_verdi">Bra</span>
           <span class="bade_tidspkt">Sist målt: 25. mai</span>
           
        </li> 
            
       <li class="bade_temperatur">   
       
           <span class="bade_attributt">Sjøtemperatur:</span>           
           <span class="bade_verdi">6.8°C</span> 
           <span class="bade_tidspkt">Sist målt: 2. juni klokken 12:45</span>        
               
        </li>
    </ul></div>