<div class="mbxxl">
    <h3 class="sidebar-header sidebar-header--open mbm js_sidebar-accordion">
        <a class="sidebar-header__toggle" href="#">
            Flytt
            <span class="arrow-icon"></span>
        </a>
    </h3>

    <div style="display: block;">
        <div class="move-article form-element" *ngIf="flytteTreNoder && visPlassering">
            <label for="plassering" class="form-element__label form-element__label--dropdown-icon form">
                <span class="screen-reader-text">Plassering i menyen</span>
                <span class="arrow-icon"></span>
                {{> atoms-hjelpetekst:mbs(hjelpetekst: "Flytt artikkelen til nytt menypunkt") }}
                <select id="plassering" name="Etikett" class="form-element__dropdown">
                    {{# flyttTilKategori }}
                    <option {{#disabled}}disabled{{/disabled}}> {{{ tittel }}}</option>
                    {{/ flyttTilKategori }}
                </select>
            </label>
        </div>
    </div>
</div>
