{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h1:mbl(sidetittel: "{{ sidetittel }}") }}

    <div class="row">
        <div class="col_md_12 col_lg_4">
            
            {{# meny }}
            {{> molecules-org-meny }}
            {{/ meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
            
            {{# varsel }}
            {{> molecules-varsel:mbxxl }}
            {{/ varsel }}
            
            {{# notis }}
            {{> molecules-notis:mbxxl }}
            {{/ notis }}
            
            {{# eksternURL }}
            {{> molecules-ekstern-url(label: "Privat barnehage - se egen side:") }}
            {{/ eksternURL }}
            
            {{# kontaktLiten }}
            {{> organisms-kontakt-liten }}
            {{/ kontaktLiten }}
            
            {{# profil }}
            <section class="mbj">
                {{> molecules-moduloverskrift-h2-med-lenke:mbm }}
                {{# barnehageprofilartikkel }}
                    {{> molecules-modul:module_box_style|module_equal_heights }}
                {{/ barnehageprofilartikkel }}
            </section>
            {{/ profil }}
            
            {{# tallogfakta }}
            <section class="mbj">
                {{> molecules-moduloverskrift-h2:mbm(tittel: "Tall og fakta") }}
                {{> organisms-modul-tall-og-fakta }}
            </section>
            {{/ tallogfakta }}
            
            {{# sisteNytt }}
            {{> organisms-siste-nytt }}
            {{/ sisteNytt }}
            
            {{# tjenester }}
            {{> organisms-tjenester-og-skjema-liten }}
            {{/ tjenester }}

            {{# etjenester100 }}
            {{> organisms-modul-med-overskrift }}
            {{/ etjenester100 }}
                        
            <div class="row_no_clearfix equal_height_container mbxl">
                
                {{# visjon }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout-visjoner }}
                    </div>
                {{/ visjon }}
                
                {{# viktigebarnehagelenker }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout-viktige-barnehagelenker }}
                    </div>
                {{/ viktigebarnehagelenker }}
                
                {{# etjenester50 }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout }}
                    </div>
                {{/ etjenester50 }}
                
                {{# aktuelletema }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout }}
                    </div>
                {{/ aktuelletema }}
                
            </div>
            
        </div>
    </div>
</main>
{{> organisms-footer }}