{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h1:mbl(sidetittel: "{{ sidetittel }}") }}

    <div class="row">
        <div class="col_md_12 col_lg_4">
            
            {{# meny }}
            {{> molecules-org-meny }}
            {{/ meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
            
            {{# varsel }}
            {{> molecules-varsel:mbxxl }}
            {{/ varsel }}
            
            {{# notis }}
            {{> molecules-notis:mbxxl }}
            {{/ notis }}
            
            {{# eksternURL }}
            {{> molecules-ekstern-url(label: "Privat barnehage - se egen side:") }}
            {{/ eksternURL }}
            
            {{# kontaktLiten }}
            {{> organisms-kontakt-liten }}
            {{/ kontaktLiten }}
            
            {{# profil }}
            <section class="mbj">
                {{> molecules-moduloverskrift-h2-med-lenke:mbm }}
                {{# barnehageprofilartikkel }}
                    {{> molecules-modul:module_box_style|module_equal_heights }}
                {{/ barnehageprofilartikkel }}
            </section>
            {{/ profil }}
            
            {{# tallogfakta }}
            <section class="mbj">
                {{> molecules-moduloverskrift-h2:mbm(tittel: "Tall og fakta") }}
                {{> organisms-modul-tall-og-fakta }}
            </section>
            {{/ tallogfakta }}
            
            {{# sisteNytt }}
            {{> organisms-siste-nytt }}
            {{/ sisteNytt }}
            
            {{# tjenester }}
            {{> organisms-tjenester-og-skjema-liten }}
            {{/ tjenester }}

            {{# etjenester100 }}
            {{> organisms-modul-med-overskrift }}
            {{/ etjenester100 }}
                        
            <div class="clearfix"></div>
            <section class="row_no_clearfix equal_height_container mbxl">
                
                <div class="col_md_6 col_lg_6 equal_height_item">
                    <div class="tout_container">
                        <h2 class="tout_header">
                            <a href="#" title="Visjon for bergensbarnehagene">
                                Visjon for bergensbarnehagene
                            </a>
                        </h2>
                        <a href="#" title="Booking" class="tout_img_link">
                            <img src="https://www.bergen.kommune.no/bk/multimedia/archive/00108/barnehage_visjon_108909a.gif" alt="Visjon logo" class="tout_img">
                        </a>
                        <div class="tout_excerpt">
                            <p>Bergen skal bli Norges beste by å vokse opp i. De kommunale barnehagene i Bergen skal gi alle barn et mangfoldig tilbud av høy faglig kvalitet.</p>
<p><a href="/omkommunen/avdelinger/seksjon-barnehage/9100">Våre verdier</a></p>
                        </div>
                    </div>
                </div>
                
                <div class="col_md_6 col_lg_6 equal_height_item">
                    <div class="tout_container">
                        <h2 class="tout_header">
                            Viktige barnehagelenker
                        </h2>
                        <div class="tout_excerpt">
                            <ul>
                                <li>
                                    <a href="http://www.bergen.kommune.no/basic30/dldoclink.asp?docid=BKDOK-2008-00244" class="external_link">Vedtekter for kommunale barnehager i Bergen<span class="external_icon">&nbsp;</span></a>
                                </li>
                                <li>
                                    <a href="http://www.bergen.kommune.no/basic30/dldoclink.asp?docid=BKDOK-2015-00155" class="external_link">Særskilte vedtekter for Søre Skogvei, Ny-Krohnborg og Solheimslien barnehager<span class="external_icon">&nbsp;</span></a>
                                </li>
                                <li>
                                    <a href="http://www.udir.no/nullmobbing/" title="Nettsted mot mobbing" class="external_link">Nullmobbing.no<span class="external_icon">&nbsp;</span></a>
                                </li>
                                <li>
                                    <a href="https://www.bufdir.no/foreldrehverdag/" class="external_link">Foreldrehverdag.no<span class="external_icon">&nbsp;</span></a>
                                </li>
                                <li>
                                    <a href="/personalrommet">Personalrommet, nettsted for ansatte i skole og barnehage</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                {{# etjenester50 }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout }}
                    </div>
                {{/ etjenester50 }}
                
                {{# aktuelletema }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout }}
                    </div>
                {{/ aktuelletema }}
                
            </section>
            
        </div>
    </div>
</main>
{{> organisms-footer }}