<div class="read_more_link_container {{ styleModifier }}">
    <a title="{{ lesMerTekst }}" class="read_more_link read_more_link--17" href="{{ url }}">
        {{ lesMerTekst }}
        {{# antall }}
        ({{ antall }})
        {{/ antall }}
    </a>
</div>