{{#tekstfelt}}{{> atoms-tekstfelt:mbl }}{{/tekstfelt}}
{{#tekstfelt-hjelpetekst}} {{> atoms-hjelpetekst}} {{/tekstfelt-hjelpetekst}}

{{#nedtrekksliste}}{{> atoms-nedtrekksliste:mbl }} {{/nedtrekksliste}}
{{#nedtrekksliste-hjelpetekst}} {{> atoms-hjelpetekst}} {{/nedtrekksliste-hjelpetekst}}