<div class="search-checkbox-filter {{styleModifier}}">
    <button id="js_search-checkbox-filter__button" class="search-checkbox-filter__button">Avgrens søket</button>
    <div class="search-checkbox-filter__content search-checkbox-filter__content--open">
        {{#avkryssingsbokser}}
            <fieldset class="search-checkbox-filter__fieldset search-checkbox-filter__fieldset--open mbml">
                <legend id="js_search-checkbox-filter__title--advanced"><a href="#" class="search-checkbox-filter__title search-checkbox-filter__title--advanced" title="Åpne {{legend}} filter">{{legend}} </a></legend>
                <div class="search-checkbox-filter__group">
                    {{> atoms-avkryssingsboks}}
                </div>
            </fieldset>
        {{/avkryssingsbokser}}

        {{#radioknapper}}
            <fieldset class="search-checkbox-filter__fieldset mbml">
                <legend id="js_search-checkbox-filter__title--advanced"><a href="#" class="search-checkbox-filter__title search-checkbox-filter__title--advanced" title="Åpne {{legend}} filter">{{legend}} </a></legend>
                <div class="search-checkbox-filter__group">
                    {{> atoms-radioknapp}}
                </div>
            </fieldset>
        {{/radioknapper}}
        <div class="mbml">
            <a class="search-checkbox-filter__reset-link" href="#">Nullstill filtre</a>
        </div>
    </div>
    <a href="#" class="search-checkbox-filter__close">Lukk</a>
</div>
