{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    <div class="page_header_container_with_org_menu">
        {{> molecules-sideoverskrift-h1 }}
    </div>

    <div class="row">
        <div class="col_md_12 col_lg_4">
            
            {{# meny }}
            {{> molecules-org-meny }}
            {{/ meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
        
            {{# notis }}
            {{> molecules-notis }}
            {{/ notis }}
            
            {{# eksternURL }}
            {{> molecules-ekstern-url }}
            {{/ eksternURL }}
            
            {{# kontaktLiten }}
            {{> organisms-kontakt-liten }}
            {{/ kontaktLiten }}
            
            {{# vaarProfil }}
            <section class="mbj">
                {{> molecules-moduloverskrift-h2-med-lenke:mbm }}
                {{# vaarProfilTeaser }}
                    {{> molecules-teaser-med-boks }}
                {{/ vaarProfilTeaser }}
            </section>
            {{/ vaarProfil }}
            
            {{# tallOgFakta }}
            {{> organisms-modul-med-overskrift }}
            {{/ tallOgFakta }}
            
            {{# sisteNytt }}
            {{> organisms-siste-nytt }}
            {{/ sisteNytt }}
            
            {{# innbyggerhjelp }}
            {{> organisms-modul-link-liste:mbj }}
            {{/ innbyggerhjelp }}

            {{#temaliste}}
                {{> organisms-modul-tema-liste-orgenhet:mbj }}
            {{/temaliste}}
        </div>
    </div>
</main>
{{> organisms-footer }}
