<div class="text">
    
	<p><a href="#">Dette er en lenke</a></p>

	<p><strong>Utheving/bold brukes til å indikere stor betydning</strong></p>

	<p><em>Denne teksten er i kursiv</em></p>

	<p><b>b-elementet</b> er stilistisk forskjellig fra vanlig tekst, uten noe spesiell betydning</p>

	<p><i>i-element</i> er tekst som er fremheved</p>

	<p><u>u-element</u> er tekst som har fått understrek</p>

	<p><del>Denne teksten er fjernet</del> og <ins>denne teksten er lagt til</ins></p>

	<p><s>Denne teksten er strøket over</s></p>

	<p>Hevet skrift: <sup>®</sup></p>

	<p>Senket skrift som for eksempel: H<sub>2</sub>O</p>

	<p><small>Dette er liten tekst</small></p>

	<p>Forkortelse: <abbr title="HyperText Markup Language">HTML</abbr></p>

	<p><mark>Markert tekst</mark></p>

	<p><code>Kode som er skrevet i et avsnitt</code></p>
    
</div><!--end .text-->
