<table cellpadding="2" width="100%" cellspacing="2" border="1">
    <caption>Table-caption</caption>
    <tr>
        <th>
            <p> Test  </p>
        </th>
        <th>
            <p> Test  </p>
        </th>
        <th>
            <p> Test  </p>
        </th>
    </tr>
    <tr>
        <th>
            <p> Test  </p>
        </th>
        <td>
            <p> 123  </p>
        </td>
        <td>
            <p> 123  </p>
        </td>
    </tr>
    <tr>
        <th>
            <p> Test  </p>
        </th>
        <td>
            <p> 123  </p>
        </td>
        <td>
            <p> 123  </p>
        </td>
    </tr>
</table>