{{# patterninfo }}<p class="mbn"><code>info:</code></p>{{/ patterninfo }}
{{# info }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_left">
            <div class="action-line__status">PUBLISERT</div>
        </div>
        <div class="align_right">
            <a href="{{ url }}" class="action-line__preview-link">
                <span class="icon-preview grunt-icon grunt-icon--32"></span>
                Forhåndsvis</a>
            <button class="button button--success active">Oppdater</button>
        </div>
        <div class="action-line__feedback">
            <div class="action-line__feedback-message">
                <div>{{ info }}</div>
            </div>
        </div>
    </div>
{{/ info }}
{{# patterninfo }}<p class="mbn"><code>lagret:</code></p>{{/ patterninfo }}
{{# lagret }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_left">
            <div class="action-line__status">PUBLISERT</div>
        </div>
        <div class="align_right">
            <a href="{{ url }}" class="action-line__preview-link">
                <span class="icon-preview grunt-icon grunt-icon--32"></span>
                Forhåndsvis</a>
            <button class="button button--success active">Oppdater</button>
        </div>
        <div class="action-line__feedback">
            <div class="action-line__feedback-message action-line__feedback-message--success">
                <div>{{ lagret }}</div>
            </div>
        </div>
    </div>
{{/ lagret }}
{{# patterninfo }}<p class="mbn"><code>serverfeil:</code></p>{{/ patterninfo }}
{{# serverfeil }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_left">
            <div class="action-line__status">PUBLISERT</div>
        </div>
        <div class="align_right">
            <a href="{{ url }}" class="action-line__preview-link">
                <span class="icon-preview grunt-icon grunt-icon--32"></span>
                Forhåndsvis</a>
            <button class="button button--success active">Oppdater</button>
        </div>
        <div class="action-line__feedback">
            <div class="action-line__feedback-message action-line__feedback-message--danger">
                <div>{{ serverfeil }}</div>
            </div>
        </div>
    </div>
{{/ serverfeil }}