<div style="display: flex; justify-content: space-between; max-width: 400px;">
    <button>Standard</button>
    <p><code>button</code></p>
</div>
<div style="display: flex; justify-content: space-between; max-width: 400px;">
    <button class="button active">Aktiv</button>
    <p>.button .active</p>
</div>

<div style="display: flex; justify-content: space-between; max-width: 400px;">
    <button class="button important">Viktig</button>
    <p>.button .important</p>
</div>
<div style="display: flex; justify-content: space-between; max-width: 400px;">
    <button class="small">Mindre tekststørrelse</button>
    <p>.small</p>
</div>
<div style="display: flex; justify-content: space-between; max-width: 400px;">
    <button class="large">Større tekststørrelse</button>
    <p>.large</p>
</div>
<div style="display: flex; justify-content: space-between; max-width: 400px;">
    <button disabled="disabled">Deaktivert knapp</button>
    <p><code>disabled</code></p>
</div>
<div style="display: flex; justify-content: space-between; max-width: 400px;">
    <input type="button" disabled="disabled" value="Deaktivert input">
    <p><code>input disabled</code></p>
</div>
<div style="display: flex; justify-content: space-between; max-width: 400px;">
    <a href="#" class="button" title="Lenke som knapp">Bare en lenke</a>
    <span><code>a</code> .button</span>
</div>
<div style="display: flex; justify-content: space-between; max-width: 400px;">
    <button class="button button--danger" title="Lenke som knapp">Avbryt</button>
    <span>.button .button--danger</span>
</div>
<div style="display: flex; justify-content: space-between; max-width: 400px;">
    <button class="button active button--danger " title="Lenke som knapp">Slett</button>
    <span>.button .button--danger .active</span>
</div>
<div style="display: flex; justify-content: space-between; max-width: 400px;">
    <button class="button button--success" title="Lenke som knapp">Lagre</button>
    <span>.button .button--success</span>
</div>
<div class="mbm" style="display: flex; justify-content: space-between; max-width: 400px;">
    <button class="button active button--success " title="Lenke som knapp">Mega-lagre</button>
    <span>.button .button--success .active</span>
</div>

<p class="mbs">Fra tilbakemeldingsboksen:</p>
<form class="feedback_form">
    <div class="feedback_yes_no clearfix">
        <button type="button" class="feedback_btn yes">Ja</button>
        <button type="button" class="feedback_btn no">Nei</button>
    </div>
</form>

<p>&nbsp;</p>
<p class="mbs">Fra global søkeboks:</p>
<div class="main_search_container" style="position:relative; margin: 0; right: inherit; top: inherit; padding: 0;">
    <form action="#">
        <label for="search" class="screen-reader-text">Søk:</label>
        <input placeholder="Hva leter du etter?" id="search" accesskey="4" class="search_input" type="search">
        <button><span class="icon searchglass_icon"><span class="screen-reader-text">Søk</span></span></button>
    </form>
</div>

<p>&nbsp;</p>
<p class="mbs">Fra minside-saker-søkeboks:</p>
<div class="case_search_container">
    <form action="#">
        <input type="search" class="search_input" accesskey="4" placeholder="Søk etter saker">
        <button><span class="icon searchglass_icon"><span class="screen-reader-text">Søk</span></span></button>
    </form>
</div>