{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h1:mbl(sidetittel: "{{ sidetittel }}") }}

    <div class="row">
        <div class="col_md_12 col_lg_4">
            
            {{# meny }}
            {{> molecules-org-meny }}
            {{/ meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
            
            {{# etjenester100 }}
            {{> organisms-modul-med-overskrift }}
            {{/ etjenester100 }}
            
            <h2 class="module_header mbxxl">Eksempler for etjenester og aktuelle tema:</h2>
            <div class="row_no_clearfix equal_height_container mbxl">
                {{# touts }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout }}
                    </div>
                {{/ touts }}
            </div>
        
            
            <h2 class="module_header mbxxl">Tilpassede etjenester:</h2>
            <div class="row_no_clearfix equal_height_container mbxl">
                
                {{# arbeidsplaner }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout:schedules_tout }}
                    </div>
                {{/ arbeidsplaner }}
                
                <div class="col_md_6 col_lg_6 equal_height_item">
                    {{> molecules-tout-skoleruten }}
                </div>
                
                
                <div class="col_md_6 col_lg_6 equal_height_item">
                    {{> organisms-service-snarvei:tout_container|mbl }}
                </div>
                
                <div class="col_md_6 col_lg_6 equal_height_item">
                    {{> molecules-tout-luftkvalitet }}
                </div>
                
            </div>
            
        </div>
    </div>
</main>
{{> organisms-footer }}