{{# redigeringsmodus }}
<nav id="js_org_menu_container" class="org_menu_container mbl {{styleModifier}}">
    <a href="" title="Meny" class="org_menu_mobile_header">
        Meny
        <span class="arrow-icon"></span>
    </a>
    <ul class="org_menu org_menu--editable">
        {{# orgMenyListe }}
            <li class="with_org_sub_menu{{# isActive }} active{{/ isActive }}">
                <!-- next item gets either: org_sub_menu_collapsed or org_sub_menu_expanded -->
                <span class="js_org_sub_menu_toggle {{collapsedExpanded}}">
                    <span class="org_menu--editable__flex-container">

                        <!-- Menypunkt -->
                        <a title="{{ tittel }}" href="{{ url }}" class="org_menu_link js-hide-this">
                            {{ tittel }}
                        </a>

                        <!-- Rediger-knapp -->
                        <a href="#" title="Rediger menypunktnavn" class="edit-menu__edit-button edit-menu__edit-title js-hide-and-show">
                            <span class="icon-edit--small grunt-icon grunt-icon--32"></span>
                            <span class="screen-reader-text">Rediger menypunktnavn</span>
                        </a>
                        <!-- Rediger-funksjon -->
                        <form class="form-element hidden js-show-this">
                            <label for="editItem{{id}}" class="form-element__label screen-reader-text">
                                Rediger menypunktnavn
                            </label>
                            <input id="editItem{{id}}" type="text" value="{{ tittel }}" placeholder="Menypunktnavn" class="form-element__textfield">
                            <button type="submit" class="button--success active">
                                <span class="icon-checkmark grunt-icon grunt-icon--32"></span>
                                <span class="screen-reader-text">Oppdater menypunkt</span>
                            </button>
                            <button type="reset" class="button--clean js-clear-inline-style">
                                <span class="icon-close--small grunt-icon grunt-icon--32"></span>
                                <span class="screen-reader-text">Avbryt</span>
                            </button>
                        </form>
                        <!-- Slett-knapp -->
                        <a href="" title="Slett menypunkt" class="edit-menu__edit-button edit-menu__removeitem">
                            <span class="icon-trash grunt-icon grunt-icon--32"></span>
                            <span class="screen-reader-text">Slett menypunkt</span>
                        </a>

                        <!-- Toggle-knapp -->
                        {{# harIkkeUndermeny }}
                            <a href="" title="Lag ny undermeny" class="org_sub_menu_toggle_link">
                                <span class="plus-arrow-icon"></span>
                                <span class="screen-reader-text">Lag ny undermeny</span>
                            </a>
                        {{/ harIkkeUndermeny }}

                        {{# harUndermeny }}
                            <a href="" title="Undermeny" class="org_sub_menu_toggle_link">
                                <span class="arrow-icon"></span>
                                <span class="screen-reader-text">Undermeny</span>
                            </a>
                        {{/ harUndermeny }}

                    </span>

                    <!-- Undermeny -->
                    <ul>
                        {{# harUndermeny }}
                            {{# linkliste }}
                            <li class="{{# isActiveSub }}active{{/ isActiveSub }}">
                                <span class="org_menu--editable__flex-container">

                                    <!-- Menypunkt -->
                                    <a title="{{ tittel }}" href="{{ url }}" class="org_sub_menu_link js-hide-this">
                                        {{ tittel }}
                                    </a>
                                    <!-- Rediger-knapp -->
                                    <a href="#" title="Rediger menypunktnavn" class="edit-menu__edit-button edit-menu__edit-title js-hide-and-show">
                                        <span class="icon-edit--small grunt-icon grunt-icon--32"></span>
                                        <span class="screen-reader-text">Rediger menypunktnavn</span>
                                    </a>
                                    <!-- Rediger-funksjon -->
                                    <form class="form-element hidden js-show-this">
                                        <label for="editItem{{id}}" class="form-element__label screen-reader-text">
                                            Rediger menypunktnavn
                                        </label>
                                        <input id="editItem{{id}}" type="text" value="{{ tittel }}" placeholder="Menypunktnavn" class="form-element__textfield">
                                        <button type="submit" class="button--success active">
                                            <span class="icon-checkmark grunt-icon grunt-icon--32"></span>
                                            <span class="screen-reader-text">Oppdater menypunkt</span>
                                        </button>
                                        <button type="reset" class="button--clean js-clear-inline-style">
                                            <span class="icon-close--small grunt-icon grunt-icon--32"></span>
                                            <span class="screen-reader-text">Avbryt</span>
                                        </button>
                                    </form>
                                    <!-- Slett-knapp -->
                                    <a href="" title="Slett menypunkt" class="edit-menu__edit-button edit-menu__removeitem">
                                        <span class="icon-trash grunt-icon grunt-icon--32"></span>
                                        <span class="screen-reader-text">Slett menypunkt</span>
                                    </a>
                                </span>
                                <ul><li></li></ul>
                            </li>
                            {{/ linkliste }}
                        {{/ harUndermeny }}
                    </ul>
                    
                    <span class="add-menu-item add-menu-item--sub">
                        <!-- Ny-menypunkt-funksjon undermeny -->
                        <a href="#" title="Legg til nytt undermenypunkt" class="add-menu-item__sub-link js-hide-and-show">
                            <span class="plus-icon"></span>Nytt menypunkt
                        </a>
                        <form class="form-element form-element--sub js-show-this hidden">
                            <label for="newItem{{id}}" class="form-element__label screen-reader-text">
                                Nytt menypunkt
                            </label>
                            <input id="newItem{{id}}" type="text" placeholder="Menypunktnavn" class="form-element__textfield">
                            <button type="submit" class="button--success active">
                                <span class="icon-checkmark grunt-icon grunt-icon--32"></span>
                                <span class="screen-reader-text">Legg til nytt menypunkt</span>
                            </button>
                            <button type="reset" class="button--clean js-clear-inline-style">
                                <span class="icon-close--small grunt-icon grunt-icon--32"></span>
                                <span class="screen-reader-text">Avbryt</span>
                            </button>
                        </form>
                    </span>
                </span>
            </li>
        {{/ orgMenyListe }}
    </ul>
    
    <span class="add-menu-item">
        <!-- Ny-menypunkt-funksjon hovedmeny -->
        <a href="#" title="Legg til nytt menypunkt" class="add-menu-item__link js-hide-and-show">
            <span class="plus-icon"></span>Nytt menypunkt
        </a>
        <form class="form-element js-show-this hidden">
            <label for="newMainItem" class="form-element__label screen-reader-text">
                Nytt menypunkt
            </label>
            <input id="newMainItem" type="text" placeholder="Menypunktnavn" class="form-element__textfield">
            <button type="submit" class="button--success active">
                <span class="icon-checkmark grunt-icon grunt-icon--32"></span>
                <span class="screen-reader-text">Legg til nytt menypunkt</span>
            </button>
            <button type="reset" class="button--clean js-clear-inline-style">
                <span class="icon-close--small grunt-icon grunt-icon--32"></span>
                <span class="screen-reader-text">Avbryt</span>
            </button>
        </form>
    </span>
</nav>
{{/ redigeringsmodus }}