{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h1:mbl(sidetittel: "{{ sidetittel }}") }}

    <div class="row">
        <div class="col_md_12 col_lg_4">
            
            {{# meny }}
            {{> molecules-org-meny }}
            {{/ meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
            
            {{# varsel }}
            {{> molecules-varsel:mbxxl }}
            {{/ varsel }}
            
            {{# notis }}
            {{> molecules-notis:mbxxl }}
            {{/ notis }}
            
            {{# eksternURL }}
            {{> molecules-ekstern-url }}
            {{/ eksternURL }}
            
            {{# kontaktLiten }}
            {{> organisms-kontakt-liten }}
            {{/ kontaktLiten }}
            
            {{# profil }}
            {{> organisms-modul-med-overskrift }}
            {{/ profil }}
            
            {{# tjenester }}
            {{> organisms-tjenester-og-skjema-liten }}
            {{/ tjenester }}
            
            {{# sisteNytt }}
            {{> organisms-siste-nytt }}
            {{/ sisteNytt }}

            {{# etjenester100 }}
            {{> organisms-modul-med-overskrift }}
            {{/ etjenester100 }}
                        
            <div class="clearfix"></div>
            <section class="row_no_clearfix equal_height_container mbxl">
                
                {{# etjenester50 }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout }}
                    </div>
                {{/ etjenester50 }}
                
                {{# aktuelletema }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout }}
                    </div>
                {{/ aktuelletema }}
                
            </section>
            
        </div>
    </div>
</main>
{{> organisms-footer }}