{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h1:mbl(sidetittel: "{{ sidetittel }}") }}

    <div class="row">
        <div class="col_md_12 col_lg_4">
            
            {{# meny }}
            {{> molecules-org-meny }}
            {{/ meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
            
            {{# varsel }}
            {{> molecules-varsel:mbxxl }}
            {{/ varsel }}
            
            {{# notis }}
            {{> molecules-notis:mbxxl }}
            {{/ notis }}
            
            <div class="clearfix"></div>
            <div class="row_no_clearfix equal_height_container">
                {{> molecules-tout-arbeidsplaner }}

                {{> molecules-tout-skoleruten }}
            </div>
            
            {{# sisteNytt }}
            {{> organisms-siste-nytt }}
            {{/ sisteNytt }}
            
            {{# tjenester }}
            {{> organisms-tjenester-og-skjema-liten }}
            {{/ tjenester }}
            
            {{# kontaktLiten }}
            {{> organisms-kontakt-liten }}
            {{/ kontaktLiten }}

            {{# etjenester100 }}
            {{> organisms-modul-med-overskrift }}
            {{/ etjenester100 }}
                        
            <div class="clearfix"></div>
            <section class="row_no_clearfix equal_height_container mbxl">
                
                <div class="col_md_6 col_lg_6 equal_height_item">
                    <div class="tout_container">
                        <h2 class="tout_header">
                            Viktige skolelenker
                        </h2>
                        <div class="tout_excerpt">
                            <ul>
                                <li>
                                    <a href="http://www.bibsyst.no/kundeliste/skole.php#bergen">
                                        Søk i skolebiblioteket
                                    </a>
                                </li>
                                <li>
                                    <a href="https://bergen.itslearning.com/index.aspx">
                                        It's learning: Logg inn
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.udir.no/nullmobbing/" title="Nettsted mot mobbing">
                                        Nullmobbing.no
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.bufdir.no/foreldrehverdag/">
                                        Foreldrehverdag.no
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.fug.no/">
                                        FUG, Foreldreutvalget for grunnopplæringen
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.bergen.kommune.no/aktuelt/personalrommet">
                                        Personalrommet, nettsted for ansatte i skole og barnehage
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.skolemelk.no">skolemelk.no</a>
                                </li>
                                <li>
                                    <a href="http://www.skolefrukt.no">skolefrukt.no</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col_md_6 col_lg_6 equal_height_item">
                    <div class="tout_container">
                        <h2 class="tout_header">
                            Inneklimaet i skolene
                        </h2>
                        <div class="tout_excerpt">
                            Flere av skolene i Bergen har ikke godkjent inneklima.
                            <br>
                            <a href="/aktuelt/tema/inneklimaet-i-skolen"> Les om arbeidet med å utbedre inneklimaet og skolebyggene</a>
                        </div>
                    </div>
                </div>
                
                {{# etjenester50 }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout }}
                    </div>
                {{/ etjenester50 }}
                
                {{# aktuelletema }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout }}
                    </div>
                {{/ aktuelletema }}
                
            </section>
            
        </div>
    </div>
</main>
{{> organisms-footer }}