{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    {{> molecules-sideoverskrift-h1:mbl }}
    
    <div class="row">
        <div class="col_md_12 col_lg_8">
    
            <div id="js_filter_search" name="sok" class="filter_search_input_container filter_aktuelle_tema">
                <label for="filter_search" class="filter_search_label">
                    <span class="screen-reader-text">Søk på navn:</span>
                </label>
                <input type="search" id="filter_search" placeholder="Søk" class="js_filter_search_input filter_search_input" />
                <button class="clear_search_button js_clear_search" style="display: none;">
                    <span class="screen-reader-text">Fjern søkeord</span>
                </button>
            </div>
            
            <p class="js_empty_filter_search empty_filter_search" style="display: none;">
                <strong>Ingenting funnet</strong>
            </p>
            
            {{> organisms-modul-liste:mbj|js_filter_search_result_list }}
            
        </div>
    </div>

</main>
{{> organisms-footer }}