<section class="row mbj" aria-labelledby="kontakt-label">
    <div class="col_md_10 col_lg_8 col_md_offset_1 col_lg_offset_2">
        
        {{> molecules-moduloverskrift-h2-med-lenke:mbl(url: "https://www.bergen.kommune.no/omkommunen/kontakt-oss", tittel: "Kontakt") }}
                
        <div class="row frontpage_contact">
            <div class="col_md_6 col_lg_6">                    
                <dl class="contact_content">

                    <dt></dt>
                    <dd class="with_icon">
                        <a href="https://www.bergen.kommune.no/omkommunen/avdelinger/seksjon-informasjon/9323/9324" title="Innbyggerservice">
                            <span class="icon innbyggerservice_icon medium_size"></span>
                            Innbyggerservice
                        </a>
                    </dd>                     

                    <dt></dt>
                    <dd class="with_icon">
                        <a href="http://login.edialog24.com/chattemplate/Bergen_Main/index.html" title="Chat med oss" target="_blank">
                            <span class="icon chat_icon_blue medium_size"></span>
                            Chat med oss
                        </a>
                    </dd>

                    <dt class="screen-reader-text">Telefon:</dt>
                    <dd class="with_icon">
                        <a href="tel:55 56 55 56" title="Ring oss">
                            <span class="icon phone_icon medium_size"></span>
                            55 56 55 56
                        </a>
                    </dd>

                </dl>
            </div>
            <div class="col_md_6 col_lg_6">                    
                <dl class="contact_content">

                    <dt></dt>
                    <dd class="with_icon">
                        <a href="{{ link.pages-ansatte }}" title="Ansatte">
                            <span class="icon employee_icon medium_size"></span>
                            Ansatte
                        </a>
                    </dd>

                    <dt></dt>
                    <dd class="with_icon">
                        <a href="{{ link.pages-avdelinger }}" title="Avdelinger">
                            <span class="icon department_icon medium_size"></span>
                            Avdelinger
                        </a>
                    </dd>

                    <dt></dt>
                    <dd class="with_icon">
                        <a href="http://www.facebook.com/bergenkommune/" title="Følg oss på Facebook">
                            <span class="icon facebook_icon medium_size"></span>
                            Følg oss på Facebook
                        </a>
                    </dd>

                </dl>                        
            </div>                
        </div>
        
    </div>
</section>