<ul class="service_application_list">
    {{# serviceApplicationList }}
    <li class="{{ has_applications }}">
        <a href="{{ url }}" title="{{ tittel }}" class="service_link">
            <span class="read_more_link_medium">
                {{ tittel }}
            </span>
        </a>
        {{# has_applications }}        
            <div class="screen-reader-text">Skjema:</div>
            <ul class="file_list">
                {{# skjemaListe }}
                    <li>
                        <a href="{{ url }}" title="{{ tittel }}" class="file_link">
                            {{ tittel }}
                        </a>
                    </li>
                {{/ skjemaListe }}
            </ul>
        {{/ has_applications }}
    </li>
    {{/ serviceApplicationList }}
</ul>