<div class="mbxxl" xmlns="http://www.w3.org/1999/html">
    <h2 class="sidebar-header sidebar-header--open mbm js_sidebar-accordion">
        <a href="#" class="sidebar-header__toggle">
            Info- og varselboks
            <span class="arrow-icon"></span>
        </a>
    </h2>
    <div style="display: block;">
        <button class="button button--fullwidth mrm mbm">
            <span class="button--icon--center">
                <span class="icon-notice grunt-icon grunt-icon--24 grunt-icon--link_color"></span>
                Legg til infoboks
            </span>
        </button>

        <button class="button button--danger button--fullwidth mrm mbn">
            <span class="button--icon--center">
                <span class="icon-warning--triangle grunt-icon--24--32 grunt-icon grunt-icon--brand_danger" data-grunticon-embed></span>
                Legg til varselboks
            </span>
        </button>
    </div>
</div>