{{> organisms-header-varianter }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{# actionLine }}
        {{> molecules-action-line }}
    {{/ actionLine }}
    
    {{# tabs }}
        {{> molecules-tabs:mbl }}
    {{/ tabs }}
    
    {{# ingress }}
        <p>		
            {{{ ingress }}}
        </p>
    {{/ ingress }}
    
    {{# searchFilter }}
        {{> atoms-filterboks:mbml }}
    {{/ searchFilter }}
    
    {{# antallOverskrift }}
        {{> molecules-moduloverskrift-h2:mbl }}
    {{/ antallOverskrift }}
        
    {{# table }}
        <div class="{{tableModifier}}">
            {{> atoms-flex-tabell }}
        </div>
    {{/ table }}
    
</main>
{{> organisms-footer }}