{{> organisms-header-3 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-moduloverskrift-h1:mbxl }}

    <div class="row">
        <div class="col_lg_8 col_md_12">
            {{# lenke }}
                {{> molecules-ekstern-url }}
            {{/lenke}}
        </div>

        {{#kontakt}}
            <div class="col_lg_8 col_md_12 mbj">
                {{> molecules-moduloverskrift-h2:mbml }}
                {{> molecules-modul-liten-kontaktinformasjon }}
            </div>
        {{/kontakt}}

        <div class="col_lg_8 col_md_12">
            {{#liste}}
            {{> molecules-moduloverskrift-h2:mbm }}
            <ul class="link_list_simple mbj">
                {{#listeelement}}<li>{{tittel}}</li>{{/listeelement}}
            </ul>
            {{/liste}}
        </div>
    </div>
</main>
{{> organisms-footer }}