{{> organisms-header-4 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    {{> molecules-sideoverskrift-h1:mbxl }}

    <div class="row">

        {{# sok }}
            <div class="col_md_12 col_lg_6 clear_left {{styleModifier }} mbm">
                 {{> molecules-sokefilter }}
            </div>
        {{/ sok }}

        {{#table}}
        <div class="{{tableModifier}}">
            {{> atoms-flex-tabell:mbxl }}
            
            {{# lastFlere }}
                {{> molecules-last-inn-flere }}
            {{/ lastFlere }}
            
            {{# gammelLoesningInfo }}
                <div class="mbxxl mtj">
                    <div class="notice_container">
                        <div class="notice_inner">
                            <div>
                                <p>Bergen kommune har anskaffet nytt system for saksbehandling og arkiv, som ble satt i drift sommeren 2017.</p>
                            </div>
                        </div>
                        <div class="notice_inner__actions mbm">
                            <a class="button" href="http://www3.bergen.kommune.no/bksak/default.asp">Gå til gammelt
								arkiv</a>
                        </div>
                        <div class="notice_inner__actions mbm">
                            <p><a href="{{ link.pages-POU-utvalg }}">Leter du etter et bestemt møte? Det finner du her</a></p>
                        </div>
                    </div>
                </div>
            {{/ gammelLoesningInfo }}
        </div>
        {{/table}}
        
    </div>

</main>
{{> organisms-footer }}