<div class="linkbox linkbox--servicecat {{ styleModifier }}">
    {{# draOgFlytt }}
        <div class="linkbox--servicecat__dragula-handle">
            <span class="icon-drag-drop grunt-icon grunt-icon--32"></span>
        </div>
    {{/ draOgFlytt }}
    <h2 class="linkbox__header">
        <a href="{{ url }}" title="{{ tittel }}" class="linkbox__header-link">
            <span class="arrow-icon"></span><span class="arrow-icon--2"></span>{{ tittel }}
        </a>
    </h2>
    <div class="linkbox__content">
        <a href="{{ url }}" title="{{ tittel }}" class="linkbox__icon-link">
            <span class="{{ ikonKlasseNavn }} grunt-icon grunt-icon--64"></span>
        </a>
        <ul class="linkbox__cat_list">
            {{# linkliste }}<li>
                <a href="{{ url }}" title="{{ tittel }}">
                    {{ tittel }}</a></li>{{/ linkliste }}
        </ul>
    </div>
</div>