{{> organisms-header-4 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    <div class="page_header_container_with_org_menu">
        {{> molecules-sideoverskrift-med-lenke({{sidetittel}}) }}
    </div>

    <div class="row">
        <div class="col_md_4 col_lg_4 mbl">
            {{> molecules-org-meny }}
        </div>

        <div class="col_md_8 col_lg_8">
            {{> molecules-sideoverskrift-h1:mbl(sidetittel: "Møtekalender") }}
            
            <a href="{{ url }}" title="Legg til &quot;Møter i {{ sidetittel }} 2017&quot; i kalenderen din"
               class="important_link hidden-on-print mbm" role="button">
                <span class="icon-calendar grunt-icon grunt-icon--32"></span>
                Legg til &quot;Møter i {{ sidetittel }} &quot; i kalenderen din
            </a>

            <section class="mbj">
                <div class="holidays_container">
                    <h4 class="holidays_header">Desember 2018</h4>
                    <ul class="holidays_list">
                        <li class="holidays_list_item">
                            <div class="holiday_date">
                                <time datetime="2018-01-26T09:00">
                                    <span class="holiday_date__date">10.12</span>
                                    <span class="holiday_date__time">kl 09:00</span>
                                </time>
                            </div>
                            <div class="holiday_title_container">
                                <div class="holiday_title">
                                    <div class="meeting_title">
                                        <a href="#" class="meeting_title_link">{{ sidetittel }} (10.12.2018)</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="holidays_list_item">
                            <div class="holiday_date">
                                <time datetime="2018-01-26T09:00">
                                    <span class="holiday_date__date">20.12</span>
                                    <span class="holiday_date__time">kl 09:00</span>
                                </time>
                            </div>
                            <div class="holiday_title_container">
                                <div class="holiday_title">
                                    <div class="meeting_title">
                                        <span>{{ sidetittel }} (20.12.2018)</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="holidays_container">
                    <h4 class="holidays_header">Januar 2019</h4>
                    <ul class="holidays_list">
                        <li class="holidays_list_item">
                            <div class="holiday_date">
                                <time datetime="2018-01-26T09:00">
                                    <span class="holiday_date__date">26.01</span>
                                    <span class="holiday_date__time">kl 09:00</span>
                                </time>
                            </div>
                            <div class="holiday_title_container">
                                <div class="holiday_title">
                                    <div class="meeting_title">
                                        <span>{{ sidetittel }} (26.01.2019)</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

<!--
            <div class="read_more_link_container read_more_link_container--top-border {{ styleModifier }}">
                <a title="{{ lesMerTekst }}" class="read_more_link" href="{{ url }}">
                    {{ lesMerTekst }}
                    {{# antall }}
                        ({{ antall }})
                    {{/ antall }}
                </a>
            </div>
-->
            
            {{> molecules-tilbakemelding }}
                
        </div>
    </div>
</main>
{{> organisms-footer }}