<h3 class="helpers_header mbs" id="page_title">Overskrift (obligatorisk)</h3>

{{# redigerSidetittel }}
    <input class="input--title mbxxl" value="{{ redigerSidetittel }}" aria-labelledby="page_title">
{{/ redigerSidetittel }}

{{# redigerSidetittelFeil }}
    <input class="input--title error-input mbxxl" value="" aria-labelledby="page_title">
    <div class="error-text neg-mtxl mbxxl">{{ redigerSidetittelFeil }}</div>
{{/ redigerSidetittelFeil }}