<h3 class="helpers_header mbs">Overskrift</h3>
<input class="input--title mbl" value="Ny artikkel">
{{# ingenTittelMelding }}
    <div class="input--title-error neg-mtml mbl">
        {{ ingenTittelMelding }}
    </div>
{{/ ingenTittelMelding }}