<h3 class="helpers_header mbs">Overskrift</h3>
<label class="screen-reader-text" for="ny-artikkel">Overskrift</label>

{{# redigerSidetittel }}
    <input class="input--title mbxxl" id="ny-artikkel" value="{{ redigerSidetittel }}">
{{/ redigerSidetittel }}

{{# redigerSidetittelFeil }}
    <input class="input--title error-input mbxxl" id="ny-artikkel" value="">
    <div class="error-text neg-mtxl mbxxl">{{ redigerSidetittelFeil }}</div>
{{/ redigerSidetittelFeil }}