{{#radio}}
<div class="form-element {{styleModifier}}">
    <input class="form-element__radio" type="radio" name="{{legend}}" id="{{name}}" {{#checked}}checked{{/checked}} {{#disabled}}disabled{{/disabled}}>
    <label class="form-element__label" for="{{name}}">{{label}}</label>
</div>
{{/radio}}
