<div class="load-more-container load-more-container--border-bottom {{ styleModifier }}">
    {{ viserAntallTekst }}
    <span class="align_right">
        <a href="{{ url }}" class="read_more_link">{{ lesMerTekst }}</a>
    </span>
</div>