<div class="rssicon_floatRight">
    <a href="#" type="application/rss+xml" rel="alternate" title="Abonner med RSS">RSS - abonner</a>
</div>


<div class="ece_tema_grid mbj inngangsside_pf">
            
    {{# toppsak }}
    <!-- Escenic: toppsak -->
    <div class="toppsak">
        {{> molecules-escenic-teaser }}
    </div>
    {{/ toppsak }}
    
    <!-- Escenic: Saker -->
    <div class="saker_container">
        {{# sakerSak1 }}
            {{> molecules-escenic-teaser }}
        {{/ sakerSak1 }}

        {{# sakerSak2 }}
            {{> molecules-escenic-teaser }}
        {{/ sakerSak2 }}
    </div>
    
    <!-- Escenic: Bunnsaker -->
    <div class="bunnsaker">
        <div class="venstrebunn">

            {{# bunnsakerSak1 }}
                {{> molecules-escenic-teaser }}
            {{/ bunnsakerSak1 }}
        
        </div>
        <div class="hoyrebunn">

            {{# bunnsakerSak2 }}
                {{> molecules-escenic-teaser }}
            {{/ bunnsakerSak2 }}
            
        </div>
    </div>
    
    <!-- Escenic: Saker -->
    <div class="saker_container">
        
        {{# sakerSak3 }}
            {{> molecules-escenic-teaser }}
        {{/ sakerSak3 }}
        
        {{# sakerSak4 }}
            {{> molecules-escenic-teaser }}
        {{/ sakerSak4 }}
        
    </div>
    
    <!-- TEMPLATE:   archiveLink_jsp -->
    {{> molecules-les-mer-modul:toarchive|read_more_link_container--larger-font(lesMerTekst: "Arkiv", url: "{{ link.pages-arkivliste }}", antall: false) }}
    
</div>




