<div class="tout_container {{ styleModifier }}">
    {{# tittel }}
        <h2 class="tout_header">
            {{# url }}
            <a href="{{ url }}" class="read_more_link read_more_link--24">
            {{/ url }}
                {{ tittel }}
            {{# url }}
            </a>
            {{/ url }}
        </h2>
    {{/ tittel }}
    {{# imgLandscape }}
        {{# url }}
        <a href="{{ url }}" title="{{ tittel }}" class="tout_img_link">
        {{/ url }}
            <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" class="tout_img" />
        {{# url }}
        </a>
        {{/ url }}
    {{/ imgLandscape }}
    {{# htmlIngress }}
    <div class="tout_excerpt">
        {{{ htmlIngress }}}
    </div>
    {{/ htmlIngress }}
</div>