{{> organisms-header-503 }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    <div class="row">
        <div class="col_md_12 col_lg_8 col_lg_offset_2 mtxl">
            <div class="page_header">
                <h1>503 Feil - Intern system-feil</h1>
            </div>
            <p>Siden du forsøker å åpne, kan dessverre ikke vises.</p>
            <p>Vennligst prøv igjen senere. </p>
        </div>
    </div>
</main>
{{> organisms-footer-503 }}