<div class="article__byline article__byline--top-border mbxxl">
    <div class="article__byline-date">
        Publisert: 01.01.1970
        <span class="article__byline-separator">|</span>
        Oppdatert: 01.01.1970
    </div>
</div>