<fieldset class="payment">
    <legend class="screen-reader-text">  </legend>

    <div class="mbml payment__kid">
        <label class="form-element__label"> KID-nummer </label>
        <p class="payment__kid-text">Mangler du KID - <a href=""class="">her kan du få tak i det</a></p>
        <input type="number" class="form-element__number form-element__number--without-spinner form-element--error">
        <p class="form-element__helptext--error">KID-nummeret må bestå av minst 2, og opptil 25 siffer</p>
    </div>

    <div class="mbml payment__amount">
        <label class="form-element__label"> Beløp </label>
        <input type="number" placeholder="0" class="form-element__number form-element__number--without-spinner">,
        <input type="number" placeholder="00" class="form-element__number form-element__number--without-spinner">
    </div>

    <div class="payment__email">
        <div class="mbml">
            <label class="form-element__label"> E-post </label>
            <input type="email" class="form-element__textfield">
        </div>

        <div class="mbxl">
            <label class="form-element__label"> Gjenta e-post </label>
            <input type="email" class="form-element__textfield">
        </div>
    </div>

    <button class="button active">Videre til betaling</button>

</fieldset>

