<a class="contact_button" title="55 00 51 12" href="tel:55 00 51 12">
    <span class="icon-phone grunt-icon grunt-icon--26"></span>
    Ring oss
    <span class="contact_button_info">
        55 00 51 12
    </span>
</a> 