<a class="contact_button" href="tel:55 00 51 12">
    <span class="icon-phone grunt-icon grunt-icon--32"></span>
    Ring oss
    <span class="contact_button_info">
        55 00 51 12
    </span>
</a> 