{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    <div class="page_header_container_with_org_menu">
        {{> molecules-sideoverskrift-h2-med-lenke(sidetittel: "{{ organisasjonsenhet.tittel }}", url: "{{ organisasjonsenhet.url }}") }}
    </div>

    <div class="row">
        <div class="col_md_12 col_lg_4">

            {{> molecules-org-meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
            
            {{# skoleruteTittel }}
            {{> molecules-moduloverskrift-h1-med-print:mbs }}
            {{/ skoleruteTittel }}
            
            {{# veiledendeSkolerute }}
            <p><strong>Veiledende skolerute for Bergen kommune</strong></p>
            {{/ veiledendeSkolerute }}
            
            {{> organisms-skoleruten }}


        </div>
    </div>
</main>
{{> organisms-footer }}