<section class="mbj {{ styleModifier }}">
    {{# medLenke }}
    {{> molecules-moduloverskrift-h2-med-lenke:mbm }}
    {{/ medLenke }}
    {{# utenLenke }}
    {{> molecules-moduloverskrift-h2:mbm }}
    {{/ utenLenke }}
    {{> molecules-modul }}
</section>