<p class="mbn">
    <strong>Default bildestørrelse:</strong>
    <br>
    Innholdsfolk skal lage bilder i den størrelsen. Deretter genereres alle størrelsene i tilpasset format automatisk.
</p>
<figure class="mbj">
    <img src="../../../images/examples/default.png" alt="default">
</figure>

<p class="mbn">Listebilde:</p>
<figure class="mbj" style="max-width: 550px;">
    <img src="../../../images/examples/listebilde.png" alt="listebilde">
</figure>

<p class="mbn">Topp- /brødtekstbilde:</p>
<figure class="mbj" style="max-width: 950px;">
    <img src="../../../images/examples/toppbilde.png" alt="toppbilde">
</figure>

<p class="mbn">Lightcase:</p>
<figure class="mbj">
    <img src="../../../images/examples/lightcase.png" alt="lightcase">
</figure>