{{> organisms-header-2 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h2-med-lenke(sidetittel: "{{ organisasjonsenhet.tittel }}", url: "{{ organisasjonsenhet.url }}") }}

    <div class="row">
        <div class="col_md_12 col_lg_4">

            {{> molecules-org-meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">
            
            <div class="mbj">
                {{> molecules-moduloverskrift-h1:mbs(tittel: "Underavdelinger") }}

                {{# underavdelinger1 }}
                    {{> molecules-link-liste:mbj }}
                {{/ underavdelinger1 }}
            </div>
            
            <div class="mbj">
                <!-- Hvis listen inneholder skoler og barnehager -->
                {{> molecules-moduloverskrift-h1:mbs(tittel: "Underavdelinger - mer enn 10 - og ekstra lenker") }}

                {{# underavdelinger2 }}
                
                    <div id="js_filter_search" class="filter_search_input_container">
                        <label for="filter_search" class="filter_search_label">
                            <span class="screen-reader-text">Søk på navn:</span>
                        </label>
                        <input type="search" id="filter_search" placeholder="Søk" class="js_filter_search_input filter_search_input" />
                        <button class="clear_search_button js_clear_search" style="display: none;">
                            <span class="screen-reader-text">Fjern søkeord</span>
                        </button>
                    </div>
                    <p class="filter_shortcut_container">
                        Eller vis alle: <a href="#" title="skoler">skoler</a>, <a href="#" title="barnehager">barnehager</a>
                    </p>

                    <p class="js_empty_filter_search empty_filter_search" style="display: none;">
                        <strong>Ingenting funnet</strong>
                    </p>

                    {{> molecules-link-liste-filter-soek:mbj }}
                
                {{/ underavdelinger2 }}
                
            </div>

        </div>
    </div>
</main>
{{> organisms-footer }}