<div class="page_footer">
    <div class="meta_info">
        <p>Kontakt: 
            {{# organisasjonsenhet }}
                <a href="{{ organisasjonsenhet.url }}" title="{{ organisasjonsenhet.tittel }}">
                    {{ organisasjonsenhet.tittel }}
                </a>
            {{/ organisasjonsenhet }}
            {{# alt_organisasjonsenhet }}
                og
                <a href="{{ alt_organisasjonsenhet.url }}" title="{{ alt_organisasjonsenhet.tittel }}">
                    {{ alt_organisasjonsenhet.tittel }}
                </a>
            {{/ alt_organisasjonsenhet }}
        </p>
    </div>
</div>