<div class="page_footer {{ styleModifier }}">
    <div class="meta_info">
        <p>Ansvarlig avdeling: 
            {{# organisasjonsenhet }}
                <a href="{{ organisasjonsenhet.url }}" title="{{ organisasjonsenhet.tittel }}">
                    {{ organisasjonsenhet.tittel }}
                </a>
            {{/ organisasjonsenhet }}
            {{# organisasjonsenhet_2 }}
                og
                <a href="{{ organisasjonsenhet_2.url }}" title="{{ organisasjonsenhet_2.tittel }}">
                    {{ organisasjonsenhet_2.tittel }}
                </a>
            {{/ organisasjonsenhet_2 }}
        </p>
    </div>
</div>