<div class="handlekurv_container {{styleModifier}}">
	<h2 class="handlekurv_header">
		{{tittel}}
	</h2>
	<div class="handlekurv_excerpt">
		{{#handlekurvListe}}
		<ul class="handlekurv_list">
			<li>
				<div class="handlekurv_tekst">
					1. <a href="#" >{{tekst}}</a>
				</div>
			</li>
		</ul>
		{{/handlekurvListe}}
	</div>
	<div class="notice__edit mbn">
		<a href="#" class="notice__edit--link mbs">
			{{bestilleKnapp}}
		</a>
	</div>
</div>
