{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h1(sidetittel: "{{ sidetittel }}") }}

    <div class="row">
        <div class="col_md_12 col_lg_8">
                        
            {{# etjenester100 }}
            {{> organisms-modul-med-overskrift }}
            {{/ etjenester100 }}
                        
            {{# kunngjoringer }}
            {{> organisms-modul-link-liste:mbj }}
            {{/ kunngjoringer }}
                        
            {{# avdelinger }}
            <section class="mbxxl">
                {{> molecules-moduloverskrift-h2:mbm(tittel: "{{ modulTittel }}") }}
                
                <div id="organisasjonstype_wrapper">
                    <p>
                        Eller vis alle:
                        <a href="">skoler</a>,
                        <a href="">barnehager</a>,
                        <a href="">sykehjem</a>
                    </p>
                </div>
                
                <div id="js_search_result">                    
                    {{> molecules-link-liste-with-meta:mbm }}                    
                </div>
                
                LAST INN FLERE
            </section>
            {{/ avdelinger }}
            
        </div>
    </div>
</main>
{{> organisms-footer }}