{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h1(sidetittel: "{{ sidetittel }}") }}

    <div class="row">
        <div class="col_md_12 col_lg_8">
                        
            {{# beskrivelse }}
                <div class="content_max_width mbj">
                    {{{ beskrivelse }}}
                </div>
            {{/ beskrivelse }}
                        
            {{# etjenester100 }}
            {{> organisms-modul-med-overskrift }}
            {{/ etjenester100 }}
                        
            {{# kunngjoringer }}
            {{> organisms-modul-link-liste-with-meta:mbj }}
            {{/ kunngjoringer }}
            
            <div class="row_no_clearfix equal_height_container mbxl">
                {{# touts }}
                    <div class="col_md_6 col_lg_6 equal_height_item">
                        {{> molecules-tout-spesial }}
                    </div>
                {{/ touts }}
            </div>
            
        </div>
    </div>
</main>
{{> organisms-footer }}