<footer>
    <div class="footer_mountain_container">
        <div class="icon-7-fjell"></div>
    </div>

    <div class="chat_link_area">
        
        <script language="javascript">
            ed24ChatObj = {
                'entrypoint':'Bergen_Main'
                ,'mainid':'A303'
                ,'Online':'<span class="icon-chat grunt-icon grunt-icon--32"></span>Spør kommunen<span class="icon-online grunt-icon grunt-icon--32"></span>'
                ,'Offline':'<span class="icon-chat grunt-icon grunt-icon--32"></span>Spør kommunen<span class="icon-offline grunt-icon grunt-icon--32"></span>'
                ,'Busy':'<span class="icon-chat grunt-icon grunt-icon--32"></span>Spør kommunen<span class="icon-online grunt-icon grunt-icon--32"></span>'
                ,'webserverAddress':'https://login.edialog24.com'
                ,'urlToOpen':'https://login.edialog24.com/chattemplate/Bergen_Main/index.html'
                ,'windowSettings':'width=600,height=800,status=0,scrollbars=0,titlebar=0'
            };
        </script>
        <script src="https://www.bergen.kommune.no/internet/htdocs/js/eDialog24EntrypointScript3.js"></script>
            
        <a href="#" id="ed24DivOnline" class="chat_link js_chat_link" title="Åpne nytt vindu for å starte chat med kommunen" role="button"></a>
        <a href="#" id="ed24DivOffline" class="chat_link js_chat_link" title="Åpne nytt vindu for å starte chat med kommunen" role="button"></a>
        <a href="#" id="ed24DivBusy" class="chat_link js_chat_link" title="Åpne nytt vindu for å starte chat med kommunen" role="button"></a>
        
    </div>

      
    <div class="footer_link_container">
      <div class="footer_links">
    
          <a href="#" class="contact_link">
            <span class="link_outer">
              <span class="link_inner">
                <span class="icon-info grunt-icon grunt-icon--32"></span>
                Kontaktinformasjon
              </span>
            </span>
          </a>

          <a href="#" class="sitemap_link">
            <span class="link_outer">
              <span class="link_inner">
                <span class="icon-world grunt-icon grunt-icon--32"></span>
                Nettstedskart
              </span>
            </span>
          </a>

          <a href="#" class="english_link">
            <span class="link_outer">
              <span class="link_inner">
                <span class="icon-en grunt-icon grunt-icon--32"></span>
                English
              </span>
            </span>
          </a>

          <a href="#" class="press_link">
            <span class="link_outer">
              <span class="link_inner">
                <span class="icon-press grunt-icon grunt-icon--32"></span>
                Presse
              </span>
            </span>
          </a>

          {{# loginForAnsatte }}
              <a href="#" class="intern_link">
                <span class="link_outer">
                  <span class="link_inner">
                    <span class="icon-profile grunt-icon grunt-icon--32"></span>
                    For ansatte
                  </span>
                </span>
              </a>
          {{/ loginForAnsatte }}
          {{# loggetInnSomAnsatt }}
              <a href="#" class="intern_link">
                <span class="link_outer">
                  <span class="link_inner">
                    <span class="icon-profile grunt-icon grunt-icon--32"></span>
                    Logg ut
                  </span>
                </span>
              </a>
          {{/ loggetInnSomAnsatt }}
          

          <a href="http://www.facebook.com/bergenkommune/" class="facebook_link some_footer_link">
          <span class="link_outer">
            <span class="link_inner">
              <span class="icon-facebook grunt-icon grunt-icon--32"></span>
              <span class="some_footer_link_text">Facebook</span>              
            </span>
          </span>
          </a>

          <a href="http://www.twitter.com/bergenkommune/" class="twitter_link some_footer_link">
          <span class="link_outer">
            <span class="link_inner">
              <span class="icon-twitter grunt-icon grunt-icon--32"></span>
              <span class="some_footer_link_text">Twitter</span>              
            </span>
          </span>
          </a>

          <a href="http://www.instagram.com/bergenkommune_ung/" class="instagram_link some_footer_link">
          <span class="link_outer">
            <span class="link_inner">
              <span class="icon-instagram grunt-icon grunt-icon--32"></span>
              <span class="some_footer_link_text">Instagram</span>              
            </span>
          </span>
          </a>
          
      </div>
    </div>
    
    <p class="cookie_info">
        <!-- URL: /omkommunen/kontakt-oss/article-103324 -->
        <a href="#">Personvern og informasjonskapsler</a>
    </p>
      
    {{# loggetInnSomAnsatt }}
        <div class="web_editor_info clearfix smMa desktop_centered" style="">
            Du er logget inn som: {{ loggetInnSomAnsatt }}
        </div>
    {{/ loggetInnSomAnsatt }}
      
</footer>