<div class="h2_page_header_with_link {{ styleModifier }}">
    <h2>
        <a href="{{ url }}" title="{{ sidetittel }}" class="page_header_link">
            {{# avdelingsIkon }}
                {{# bilde }}
                    <img src="{{ img.avatar.src }}" alt="Avdelingslogo" class="page_header_logo">
                {{/ bilde }}
            {{/ avdelingsIkon }}
            <span class="arrow-icon"></span>{{ sidetittel }}
        </a>
    </h2>
</div>