<section class="{{ styleModifier }}">    
    {{> molecules-moduloverskrift-h2-med-lenke:mbs(tittel: "{{ modulTittel }}", url: "{{ modulURL }}") }}
    {{> molecules-link-liste:mbs }}
    {{# modulLinkListe_LesMer }}
        {{> molecules-les-mer-modul }}
    {{/ modulLinkListe_LesMer }}
</section>