{{> organisms-header-varianter }}
<!-- {{> organisms-brodsmuler }} -->
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    {{> molecules-sideoverskrift-h1(sidetittel: "{{ sidetittel }}") }}
      
    <div class="content_max_width mbj">
        {{> atoms-fil-lenke }}
    </div>
    
    <div class="page_footer">
        <p>Dokument: {{ styringsdokumentID }}</p>
    </div>
    
</main>
{{> organisms-footer }}