<div class="page_header page_header_with_print ">
    <div class="print_link_container">
        <a href="javascript:window.print()" title="Skriv ut">
            <span class="icon print_icon"></span>
            <span class="print_link_txt">Skriv ut</span>
        </a>
    </div>
    <h2>Betalingsinformasjon</h2>
</div>

<p>
    Kid: <span>123456789</span> <br/>
    Transaksjons-ID: <span>c2665654646984654as6dasdfkoshldgfkjasdflbsødf</span> <br/>
    Fullføringstidspunkt: <span>11.09.2017 15:30 </span> <br/>
</p>

<div class="flex-table flex-table--nowrap mbl" role="grid" aria-labelledby="betalingsmetode">
    <h2 class="screen-reader-text" id="betalingsmetode">Informasjon om betalingsmetode</h2>
    <div class="flex-table__desktop-headerarea" role="row">
        <span class="flex-table__desktop-header" role="columnheader"> Betalingsmetode </span>
        <span class="flex-table__desktop-header" role="columnheader"> Valuta </span>
    </div>

    <div class="flex-table__row flex-table__row--nowrap flex-table__row--no-border" role="row">
        <div class="flex-table__cell" role="gridcell">
           <span class="flex-table__cell-item"> Visa som slutter på 0004 <br/> Autorisasjonsid: 014994 </span>
        </div>
        <div class="flex-table__cell flex-table__cell--text-right" role="gridcell">
            <span class="flex-table__cell-item"> NOK </span>
        </div>
    </div>
</div>

<div class="flex-table flex-table--nowrap" role="grid" aria-labelledby="">
    <h2 class="screen-reader-text" id=""> Beløp du har betalt </h2>
    <div class="flex-table__desktop-headerarea" role="row">
        <span class="flex-table__desktop-header" role="columnheader"> Post </span>
        <span class="flex-table__desktop-header" role="columnheader"> Pris </span>
    </div>

    <div class="flex-table__row flex-table__row--nowrap" role="row">
        <div class="flex-table__cell" role="gridcell">
            <span class="flex-table__cell-item"> Beløp betalt </span>
        </div>
        <div class="flex-table__cell flex-table__cell--text-right" role="gridcell">
            <span class="flex-table__cell-item"> 138,32 </span>
        </div>
    </div>

    <div class="flex-table__row flex-table__row--nowrap flex-table__row--double-border" role="row">
        <div class="flex-table__cell" role="gridcell">
            <span class="flex-table__cell-item"> Gebyr </span>
        </div>
        <div class="flex-table__cell flex-table__cell--text-right" role="gridcell">
            <span class="flex-table__cell-item"> 2,76 </span>
        </div>
    </div>

    <div class="flex-table__row flex-table__row--nowrap" role="row">
        <div class="flex-table__cell" role="gridcell">
            <span class="flex-table__cell-item"> Totalt: </span>
        </div>
        <div class="flex-table__cell flex-table__cell--text-right" role="gridcell">
            <span class="flex-table__cell-item"> 141,08 </span>
        </div>
    </div>
</div>

