<a href="http://www.ticketmaster.no/" title="Kjøp billett - Åpnes i nytt vindu" class="button art_event_link" target="_blank">
    Kjøp billett
    <span class="icon inline_icon external_icon"></span>
</a>