<div class="tout_container">
    <h3 class="tout_header">
        <a href="http://stoltzekleiven.visio-tools.com" title="Mennesker i Stoltzekleiven">Mennesker i Stoltzekleiven</a>        
    </h3>
    <p class="tout_excerpt">
        <b>Besøkende i går:</b>
        <br>
        <iframe height="50" frameborder="0" width="150" allowfullcreen="" scrolling="no" src="https://eco-public.com/eco-widget/last_day.jsp?id=100011984&amp;w=150&amp;h=50&amp;c=grey&amp;bg=white&amp;c=white&amp;lang=no&amp;font=verdanabold"></iframe>
        <br>
        <b>Totalt siden 6. feb. 2014:</b> 
        <br>
        <iframe height="50" frameborder="0" width="150" allowfullcreen="" scrolling="no" src="https://eco-public.com/eco-widget/total.jsp?id=100011984&amp;w=150&amp;h=50&amp;c=grey&amp;bg=white&amp;c=white&amp;lang=no&amp;font=verdanabold"></iframe>
        <br>
        <a target="_blanc" href="http://stoltzekleiven.visio-tools.com">Gå til kart og statistikk for Stoltzekleiven</a>
    </p>
</div>
