<div class="linkbox linkbox--small {{ styleModifier }}">
    <h3 class="linkbox__header">
        <a href="{{ url }}" title="{{ tittel }}" class="linkbox__header-link">
            <span class="read_more_link read_more_link--20">{{ tittel }}</span>
        </a>
    </h3>
    <div class="linkbox__content">
        {{{ ingress }}}
    </div>
</div>