{{#tekstfelt}}{{> atoms-tekstfelt:mbl }}{{/tekstfelt}}
{{#tekstfelt-hjelpetekst}} {{> atoms-hjelpetekst}} {{/tekstfelt-hjelpetekst}}

{{atoms-etikett}}
{{> atoms-tekstomrade:mbl }}
{{#tekstomrade-hjelpetekst}} {{> atoms-hjelpetekst}} {{/tekstomrade-hjelpetekst}}


<div class="mbl">
    <script src="https://www.google.com/recaptcha/api.js?hl=no" async defer></script>
    <div id="recaptcha" class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
</div>

<button>Standard</button>
