{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    <div class="mbm">
        {{> molecules-sideoverskrift-h1(sidetittel: "{{ sidetittel }}") }}
    </div>

    <div class="row">
        <div class="col_md_12 col_lg_8 float_change">
            {{# tabs }}
                {{> molecules-tabs:mbml }}
            {{/ tabs }}
        </div>
        <div class="col_md_12 col_lg_4">

            {{# searchFilter }}
                {{> atoms-filterboks:mbm }}
            {{/ searchFilter }}

            {{> molecules-sokefilter-avkrysningsbokser-avansert:mbl }}

        </div>
        <div class="col_md_12 col_lg_8">

            {{# antallOverskrift }}
                {{> molecules-moduloverskrift-h2 }}
            {{/ antallOverskrift }}

            {{# lenkeboksListe }}
                {{> molecules-lenkeboks-liten:mbml }}
            {{/ lenkeboksListe }}

        </div>
    </div>
</main>
{{> organisms-footer }}