{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{# panel }}
        <div class="panel_container">
            {{> molecules-panel }}
        </div>
    {{/ panel }}
    {{> molecules-sideoverskrift-h1:mbxl }}

    {{# actionLine }}
        {{> molecules-action-line }}
    {{/ actionLine }}

    <div class="row">
        {{# tabs }}
            <div class="col_md_12 col_lg_8 float_change mbxl">
                {{> molecules-tabs }}
            </div>
        {{/ tabs }}
        {{^ noFilter }}
        <div class="col_md_12 col_lg_4">

            {{# searchFilter }}
                {{> atoms-filterboks:mbml }}
            {{/ searchFilter }}

            {{> molecules-sokefilter-avkrysningsbokser-avansert:mbl }}
        </div>
        {{/ noFilter }}

        <div class="col_md_12 col_lg_8 {{# noFilter }}float_change{{/noFilter}}">

            {{# antallOverskrift }}
                {{> molecules-moduloverskrift-h2-med-feillenke:mbml }}
            {{/ antallOverskrift }}

            {{# lenkeboksListe }}
                {{> molecules-lenkeboks-liten:mbm }}
            {{/ lenkeboksListe }}
            
            {{# lastFlere }}
                {{> molecules-last-inn-flere }}
            {{/ lastFlere }}

        </div>
    </div>
</main>
{{> organisms-footer }}
