{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    <div class="mbxl">
        {{> molecules-sideoverskrift-h1(sidetittel: "{{ sidetittel }}") }}
    </div>

    <div class="row">
        {{# tabs }}
            <div class="col_md_12 col_lg_8 float_change mbxl">
                {{> molecules-tabs }}
            </div>
        {{/ tabs }}
        <div class="col_md_12 col_lg_4">

            {{# searchFilter }}
                {{> atoms-filterboks:mbml }}
            {{/ searchFilter }}

            {{> molecules-sokefilter-avkrysningsbokser-avansert:mbl }}
        </div>

        <div class="col_md_12 col_lg_8">

            {{# antallOverskrift }}
                {{> molecules-moduloverskrift-h2-med-feillenke:mbml }}
            {{/ antallOverskrift }}

            {{# lenkeboksListe }}
                {{> molecules-lenkeboks-liten:mbm }}
            {{/ lenkeboksListe }}
            
            {{# lastFlere }}
                {{> molecules-last-inn-flere }}
            {{/ lastFlere }}

        </div>
    </div>
</main>
{{> organisms-footer }}