<div class="notice notice--error {{ styleModifier }}">
    <div class="notice__content">
        <h1>Betaling mislykket</h1>
        <p>Kontakt din kortutsteder for informasjon. </p> <br/>
        <p> <a href="#">Prøv på nytt</a></p>
    </div>
</div>