<div class="notice notice--error {{ styleModifier }}">
    <div class="notice__content">
        <h1>Feil med betaling</h1>
        <p>error code 77 <br/>Din konto har ikke blitt belastet</p>
        <p> <a href=""#>Prøv på nytt</a></p>
    </div>
</div>