{{> organisms-header-1 }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h2-med-lenke:mbl|page_header--hvaskjer(sidetittel: "Hva skjer", url: "{{ link.pages-hva-skjer }}") }}

    {{# meny }}
    {{> molecules-hva-skjer-meny }}
    {{/ meny }}


    <div class="row">
        <div class="col_md_12 col_lg_8 org_main_col">



                    <div id="article_multipurpose">

                        <div id="topPicture" class="related_image">
                            <a href='#' class='lightbox image_link' title='Dette er en testartikkel bildeteksten. &lt;div class=&quot;photographer&quot;&gt;BILDE: KRISTIN HAUGE KLEMSDAL&lt;/div&gt;'>
                                <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00294/BERGEN2017_nett_294261s.jpg" alt="Dette er en testartikkel alt.teksten.">
                            </a>
                            <div class="imgtext">
                                Kart
                            </div>
                        </div>

                        <div id="newsDetail">
                            <div class="module">

                                <h1 class="article_header">Spør oss om trafikk under sykkel-VM</h1>

                                <p class="ingress">Onsdag 7. juni møter du kommunens trafikkeksperter og Skyss hos Innbyggerservice og på Facebook. </p>
                                
                                
                                <div class="articleinfo articleinfo_top">
                                    <div class="date">
                                        <span>
                                            Publisert: 15.06.2016
                                            <span class="separator">|</span>
                                            Oppdatert: 07.07.2016
                                        </span>
                                    </div>
                                    <div class="author">
                                        <span>Tekst:</span>
                                        <a href="javascript:void(0)"
                                        onClick="var a='bjorn.vindenes';var b='bergen.kommune.no';window.location='mail'+'to'+String.fromCharCode(58)+a+String.fromCharCode(64)+b">Bjørn&nbsp;Vindenes</a>
                                        <span class="separator">|</span>
                                        <a href="javascript:void(0)"
                                        onClick="var a='Anne.Markestad';var b='bergen.kommune.no';window.location='mail'+'to'+String.fromCharCode(58)+a+String.fromCharCode(64)+b">Anne Margrete&nbsp;Markestad</a>
                                    </div>
                                </div>



                                <div class="article_body_content">
                                    <p> Onsdag 7. juni kl. 13.00-16.00, er trafikkeksperter fra Bergen kommune og    Skyss igjen på plass hos Innbyggerservice i Kaigaten 4 for å svare på    spørsmål om trafikken under sykkel-VM i september. Samtidig blir det    nettmøte på Facebook.</p>
                                    <p> Her får du svar på spørsmål om hvor og når veier er stengt. Du kan også be om    råd om hvordan du kommer deg frem i byen disse VM-dagene.</p>
                                    <p> Trafikkekspertene kommer til Innbyggerservice en gang i måneden frem til    sommerferien, mellom klokken 13.00 og 16.00. Etter sommeren blir det flere    møter, og oftere.</p>
                                </div>

                                
                                <div class="article_footer_print_link_container">
                                    <a href="javascript:window.print()" title="Skriv ut">
                                        <span class="icon print_icon"></span>
                                        <span class="print_link_txt">Skriv ut</span>
                                    </a>
                                </div>
                                
                                


                                <!-- End article_multipurpose: -->



                            </div><!-- end module -->
                        </div><!-- end newsDetail -->
                    </div><!-- end article_multipurpose -->






        </div>
    </div>
</main>
{{> organisms-footer }}