<div id="js_filter_search" name="sok" class="filter-search {{ styleModifier }}">
    <label for="filter_search" class="filter-search__label">
        <span class="icon-searchglass--small grunt-icon grunt-icon--32"></span>
        <span class="screen-reader-text">{{ label }}</span>
    </label>
    <input type="search" id="filter_search" placeholder="{{ placeholder }}" class="js_filter_search_input filter-search__input" />
    <button class="filter-search__clear-search-button js_clear_search" style="display: none;">
        <span class="icon-close--small grunt-icon grunt-icon--32"></span>
        <span class="screen-reader-text">Fjern søkeord</span>
    </button>
</div>