<div class="mbxxl">
    <h3 class="sidebar-header sidebar-header--open mbm js_sidebar-accordion">
        <a href="#" title="" class="sidebar-header__toggle">
            Dato
            <span class="arrow-icon"></span>
        </a>
    </h3>
    <div style="display: block;">
        {{# utlopsdato }}
            {{> atoms-datofelt }}
        {{/ utlopsdato }}
    </div>
</div>