<div class="rssicon_floatRight">
    <a href="#" type="application/rss+xml" rel="alternate" title="Abonner med RSS">RSS - abonner</a>
</div>


<div class="ece_module_list mbj femten_artikler_uten_topp_pf">
    
    <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005futen_005fdato_005fpf_jsp -->
    <div class="ece_module_container normal_med_ingress_bilde_uten_dato_pf">
        <div class="ece_module_image_container">
            <a href="" title="" class="ece_module_image_link">
                <img src="https://www.bergen.kommune.no/bk/multimedia/archive/00074/Festplassen_historis_74996n.jpg" alt="Festplassen historisk" class="ece_module_image">
            </a>
        </div>
        <div class="ece_module_content_container">
            <h3 class="ece_module_title">
                <a href="">
                    <span class="read_more_link read_more_link--24">Historie</span>
                </a>
            </h3>
            <div class="ece_module_excerpt">
                <p>
                    Bergen by ble grunnlagt på en grønn slette mellom fjellene for over 900 år siden. I dag bor der 271.949 innbyggere - og byen er fortsatt nokke for seg sjøl.
                </p> 
            </div>
            <div class="ece_module_meta">
            </div>
        </div>
    </div>
    
    <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005futen_005fdato_005fpf_jsp -->
    <div class="ece_module_container normal_med_ingress_bilde_uten_dato_pf">
        <div class="ece_module_image_container">
            <a href="" class="ece_module_image_link">
                <img src="https://www.bergen.kommune.no/bk/multimedia/archive/00074/klima_regn_paraply_74991n.jpg" alt="Festplassen historisk" class="ece_module_image">
            </a>
        </div>
        <div class="ece_module_content_container">
            <h3 class="ece_module_title">
                <a href="">
                    <span class="read_more_link read_more_link--24">Klima</span>
                </a>
            </h3>
            <div class="ece_module_excerpt">
                <p>
                    På grunn av sin beliggenhet mellom syv fjell, er Bergen ekstra mottakelig for regn. Byen hadde 228 regndager i 2013 - og innbyggerne er stolte av det. 
                </p>
            </div>
            <div class="ece_module_meta">
            </div>
        </div>
    </div>
    
    <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005futen_005fdato_005fpf_jsp -->
    <div class="ece_module_container normal_med_ingress_bilde_uten_dato_pf">
        <div class="ece_module_image_container">
            <a href="" class="ece_module_image_link">
                <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00205/070714_bybane2_205842n.jpg" alt="Festplassen historisk" class="ece_module_image">
            </a>
        </div>
        <div class="ece_module_content_container">
            <h3 class="ece_module_title">
                <a href="">
                    <span class="read_more_link read_more_link--24">Bymiljø</span>
                </a>
            </h3>
            <div class="ece_module_excerpt">
                <p>
                    Bergen kommune jobber aktivt for en grønnere og mer miljøvennlig by. Et viktig løft for å få dette til, er videre utbygging av Bybanen.
                </p>
            </div>
            <div class="ece_module_meta">
            </div>
        </div>
    </div>
    
    <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005futen_005fdato_005fpf_jsp -->
    <div class="ece_module_container normal_med_ingress_bilde_uten_dato_pf">
        <div class="ece_module_image_container">
            <a href="" class="ece_module_image_link">
                <img src="https://www.bergen.kommune.no/bk/multimedia/archive/00074/Kyss_74986n.jpg" alt="Festplassen historisk" class="ece_module_image">
            </a>
        </div>
        <div class="ece_module_content_container">
            <h3 class="ece_module_title">
                <a href="">
                    <span class="read_more_link read_more_link--24">Befolkning</span>
                </a>
            </h3>
            <div class="ece_module_excerpt">
                <p>
                    Enkelte vil hevde at 271.949 bergensere er nok. Men det er fortsatt mange som ve' te' Bergen.
                </p>
            </div>
            <div class="ece_module_meta">
            </div>
        </div>
    </div>
    
    <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005futen_005fdato_005fpf_jsp -->
    <div class="ece_module_container normal_med_ingress_bilde_uten_dato_pf">
        <div class="ece_module_image_container">
            <a href="" class="ece_module_image_link">
                <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00145/N_ringsliv_Bergen___145567n.jpg" alt="Festplassen historisk" class="ece_module_image">
            </a>
        </div>
        <div class="ece_module_content_container">
            <h3 class="ece_module_title">
                <a href="">
                    <span class="read_more_link read_more_link--24">Næring</span>
                </a>
            </h3>
            <div class="ece_module_excerpt">
                <p>
                    Bergen og bergensregionen har en unik sammensetning av verdensledende miljø innen energisektoren, maritime og marine næringer, en velutviklet reiselivs-, finans- og handelsnæring, samt et rikt kulturliv.
                </p>
            </div>
            <div class="ece_module_meta">
            </div>
        </div>
    </div>
    
    <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005futen_005fdato_005fpf_jsp -->
    <div class="ece_module_container normal_med_ingress_bilde_uten_dato_pf">
        <div class="ece_module_image_container">
            <a href="" class="ece_module_image_link">
                <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00074/150210_styreform_74995n.jpg" alt="Festplassen historisk" class="ece_module_image">
            </a>
        </div>
        <div class="ece_module_content_container">
            <h3 class="ece_module_title">
                <a href="">
                    <span class="read_more_link read_more_link--24">Styreform</span>
                </a>
            </h3>
            <div class="ece_module_excerpt">
                <p>
                    Bergen kommune styres etter en parlementarisk modell. Litt om hva det innebærer finner du her.
                </p>
            </div>
            <div class="ece_module_meta">
            </div>
        </div>
    </div>
    
    <!-- TEMPLATE:   fp_005fpeke_005fartikkel_jsp -->
    <div class="ece_module_container peke_artikkel">
        <div class="ece_module_image_container">
            <a href="" title="Hverdag" class="ece_module_image_link">
                <img src="https://www.bergen.kommune.no/bk/multimedia/archive/00075/barnehage_mulesvinge_75233n.jpg" alt="barnehage mulesvingen" class="ece_module_image">
            </a>
        </div>
        <div class="ece_module_content_container">
            <h3 class="ece_module_title">
                <a href="" title="Hverdag">
                    <span class="read_more_link read_more_link--24">Hverdag</span>
                </a>
            </h3>
            <div class="ece_module_excerpt">
                <p>
                    Kommunen sine tjenester berører folks hverdag - blant annet innen barnehage og skole, kultur, idrett og friluftsliv.
                </p>
            </div>
            <div class="ece_module_meta">
            </div>
        </div>
    </div>
    
    <!-- TEMPLATE:   fp_005fpeke_005fartikkel_jsp -->
    <div class="ece_module_container peke_artikkel">
        <div class="ece_module_image_container">
            <a href="" title="Hverdag" class="ece_module_image_link">
                <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00205/070714_bryggen_205862n.jpg" alt="barnehage mulesvingen" class="ece_module_image">
            </a>
        </div>
        <div class="ece_module_content_container">
            <h3 class="ece_module_title">
                <a href="" title="Hverdag">
                    <span class="read_more_link read_more_link--24">Kuriosa</span>
                </a>
            </h3>
            <div class="ece_module_excerpt">
                <p>
                    Hvor langt er det fra Bryggen til Voss, og hva betyr egentlig homlepong? Her finner du fakta som kan være greit å vite om Bergen, samt en liste med nyttige bergensord. 
                </p>
            </div>
            <div class="ece_module_meta">
            </div>
        </div>
    </div>
    
    <!-- TEMPLATE:   archiveLink_jsp -->
    {{> molecules-les-mer:toarchive|read_more_link_container--larger-font(lesMerTekst: "Arkiv", url: "{{ link.pages-arkivliste }}", antall: false) }}


	
			
</div>



