{{# hovedmenyState.show_default }}
{{> organisms-header }}
{{/ hovedmenyState.show_default }}

{{# hovedmenyState.show_hovedmenypunkt_1 }}
{{> organisms-_01-header-1 }}
{{/ hovedmenyState.show_hovedmenypunkt_1 }}

{{# hovedmenyState.show_hovedmenypunkt_2 }}
{{> organisms-_02-header-2 }}
{{/ hovedmenyState.show_hovedmenypunkt_2 }}

{{# hovedmenyState.show_hovedmenypunkt_3 }}
{{> organisms-_03-header-3 }}
{{/ hovedmenyState.show_hovedmenypunkt_3 }}

{{# hovedmenyState.show_hovedmenypunkt_4 }}
{{> organisms-_04-header-4 }}
{{/ hovedmenyState.show_hovedmenypunkt_4 }}

{{# hovedmenyState.show_hovedmenypunkt_5 }}
{{> organisms-_05-header-5 }}
{{/ hovedmenyState.show_hovedmenypunkt_5 }}