{{# hovedmenyState.show_default }}
{{> organisms-header }}
{{/ hovedmenyState.show_default }}

{{# hovedmenyState.show_hovedmenypunkt_1 }}
{{> organisms-header-1 }}
{{/ hovedmenyState.show_hovedmenypunkt_1 }}

{{# hovedmenyState.show_hovedmenypunkt_2 }}
{{> organisms-header-2 }}
{{/ hovedmenyState.show_hovedmenypunkt_2 }}

{{# hovedmenyState.show_hovedmenypunkt_3 }}
{{> organisms-header-3 }}
{{/ hovedmenyState.show_hovedmenypunkt_3 }}

{{# hovedmenyState.show_hovedmenypunkt_4 }}
{{> organisms-header-4 }}
{{/ hovedmenyState.show_hovedmenypunkt_4 }}

{{# hovedmenyState.show_hovedmenypunkt_5 }}
{{> organisms-header-5 }}
{{/ hovedmenyState.show_hovedmenypunkt_5 }}