<div class="mbxxl">
    
    <h2 class="sidebar-header sidebar-header--open mbm js_sidebar-accordion js_bilde-accordion">
      <a href="#" class="sidebar-header__toggle">
        {{ tittel }}
        <span class="arrow-icon"></span>
      </a>
    </h2>
    
    <div style="display: block;">
        {{# hjelpetekst }}
            {{> atoms-hjelpetekst:mbs  }}
        {{/ hjelpetekst }}

        <div class="image-upload-link">
            {{# startLink }}
                <a href="" class="image-upload-link__start-link">
                    Valgfritt bilde<br>Minimum 1420 piksler bredde
                </a>
            {{/ startLink }}
            {{# changeLink }}
                <a href="" title="Endre listebilde" class="image-upload-link__change-link">
                    {{# imgLandscape }}
                        <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}">
                    {{/ imgLandscape }}
                </a>
                <a href="" class="image-upload-link__delete-link">
                    Slett listebilde
                </a>
            {{/ changeLink }}
        </div>
    </div>
    
</div>