{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    <div class="mbxl">
        {{> molecules-sideoverskrift-h1 }}
    </div>
    
    <div class="row">
        <div class="col_md_12 col_lg_8">

            {{> atoms-filterboks:no_max_width|mbl }}
            
            <p class="js_empty_filter_search empty_filter_search" style="display: none;">
                <strong>Ingenting funnet</strong>
            </p>
            
            {{> organisms-modul-liste:mbj|js_filter_search_result_list }}
            
        </div>
    </div>

</main>
{{> organisms-footer }}