{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{# actionLine }}
        {{> molecules-action-line }}
    {{/ actionLine }}

    <div class="row">

        {{# meny }}
            <div class="col_md_12 col_lg_4">
                {{> molecules-org-meny }}
            </div>
        {{/ meny }}

        <div class="col_md_12 col_lg_8"><!-- org_main_col -->
            <div>
                <div>
                    <div>
                        <div class="module nyhetpf">
                            <h1 class="article_header">Bomber over Laksevåg</h1>
                            <p class="ingress">På byarkivets tirsdagskveld 14. oktober markerer vi at det er 70 år siden en av de største sivile katastrofene i Norge under 2. verdenskrig, bombingen av Laksevåg 4. oktober 1944.</p>
                            <div class="article_body_content"><p>Laksevåg ble også bombet 29. oktober samme år, og 12. januar 1945. Med utgangspunkt i fotografier fra området forteller Paul Sedal om Laksevåg før, under og etter angrepene. Sedal er arkivar ved Hordaland fylkesarkiv, og var billedredaktør for boken «Bombemål S/N 102 Bergen», utgitt 2012. Du kan også se vår nye utstilling med arkivmateriale knyttet til hendelsene på Laksevåg.</p>
                                <div class="file_container"><a class="file_link" href="" target="_self" title="Vakkert filvedlegg [jpg,7.00 B]">
                                    <span class="file_icon jpg screen-reader-text-container">
                                        <span class="screen-reader-text">jpg</span>
                                    </span>
                                    <span class="file_title">Vakkert filvedlegg</span>
                                    <span class="file_meta">[7.00 B]</span>
                                </a>
                                </div>
                                <p>Foredraget varer ca. 45 minutter. Arrangementet begynner kl. 19.00 (dørene åpner 18.45), og holdes i byarkivets lokaler i Kalfarveien 82. Velkommen! </p>
                                <figure class="align_center"><a class="lightbox image_link" href="">
                                    <img alt="{{imgLandscape.alt}}" src="{{imgLandscape.src}}"></a>
                                    <figcaption>
                                        <span class="bildetekst">Vakkert testbilde.</span>
                                        <span class="bildekreditt"> BILDE: Foto Geni</span>
                                    </figcaption>
                                </figure>
                                <p></p>
                            </div>
                            <div class="relatedContent noFloat">
                                <h2 class="related_content_header">Flere artikler</h2>
                                <ul>
                                    <li>
                                        <a href="/bk/orgenheter2/enheter2/kemneren/orgenh2_enh2_Kemn_skatteyter/article120215.ece">
                                            <span class="title">Bosspann frigjort til gatekunst</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/bk/aktuelt2/aktuelt2_informasjonsrom/informasjon_til_fastleger/siste_nytt_fastleger/article120179.ece">
                                            <span class="title">Påminnelse om praksiskompensasjon etter nattevakt</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                            <div class="article_footer_print_link_container">
                                <a href="unsafe:javascript:window.print()" title="Skriv ut">
                                    <span class="icon print_icon"></span>
                                    <span class="print_link_txt">Skriv ut</span>
                                </a>
                            </div>

                            <div class="articleinfo">
                                <div class="date">
                        <span>
                            Publisert: <span>07.10.2014</span>
                            <span class="separator">|</span>
                            Oppdatert: <span>01.08.2017</span>
                        </span>
                                </div>
                                <div class="author">
                                    <span>Tekst:</span>
                                    <a href="#">Bjørn Vindenes</a>
                                    <span class="separator">|</span>
                                    <a href="#">Ragnar Bøe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{# redigeringSidebar }}
            <div class="col_md_12 col_lg_4">

                {{> molecules-rediger-status-meta }}

                {{# ingressbilde }}
                    {{> molecules-rediger-listebilde }}
                {{/ ingressbilde }}

            </div>
        {{/ redigeringSidebar }}

    </div>


</main>
{{> organisms-footer }}