{{> organisms-header-6 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">    
    <article>

        {{> molecules-sideoverskrift-h1(visH2: "true", title: "{{ innbygger.tittel }}", sidetittel: "Lønnsslipper") }}


      <div class="row">
        <div class="col_md_12 col_lg_9">
          <div class="article_content">

                <ul class="attachment_list">
                    <li>
                        <a href="testdokument.pdf" title="Periode 201609" class="attachment_link" target="_blank">Periode 201609</a>
                        <span class="meta">(VA)</span>
                        <span class="date">14.09.2016</span>
                    </li>
                    <li>
                        <a title="Periode" href="testdokument.pdf" class="attachment_link" target="_blank">Periode 201609</a>
                        <span class="meta">(VA)</span>
                        <span class="date">14.09.2016</span>
                    </li>
                    <li>
                        <a title="Periode" href="testdokument.pdf" class="attachment_link" target="_blank">Periode 201608</a>
                        <span class="meta">(VA)</span>
                        <span class="date">15.08.2016</span>
                    </li>
                    <li>
                        <a title="Periode" href="testdokument.pdf" class="attachment_link" target="_blank">Periode 201607</a>
                        <span class="meta">(VA)</span>
                        <span class="date">15.07.2016</span>
                    </li>
                    <li>
                        <a title="Periode" href="testdokument.pdf" class="attachment_link" target="_blank">Periode 201606</a>
                        <span class="meta">(VA)</span>
                        <span class="date">15.06.2016</span>
                    </li>
                    <li>
                        <a title="Periode" href="testdokument.pdf" class="attachment_link" target="_blank">Periode 201605</a>
                        <span class="meta">(VA)</span>
                        <span class="date">15.05.2016</span>
                    </li>
                    <li>
                        <a title="Årsoppgave 2015" href="testdokument.pdf" class="attachment_link" target="_blank">Årsoppgave 2015</a>
                        <span class="date">28.04.2016</span>
                    </li>
                    <li>
                        <a title="Periode" href="testdokument.pdf" class="attachment_link" target="_blank">Periode 201604</a>
                        <span class="meta">(VA)</span>
                        <span class="date">15.04.2016</span>
                    </li>
                    <li>
                        <a title="Periode" href="testdokument.pdf" class="attachment_link" target="_blank">Periode 201603</a>
                        <span class="meta">(VA)</span>
                        <span class="date">15.03.2016</span>
                    </li>
                    <li>
                        <a title="Periode" href="testdokument.pdf" class="attachment_link" target="_blank">Periode 201603</a>
                        <span class="meta">(VA)</span>
                        <span class="date">15.03.2016</span>
                    </li>
                </ul>

          </div><!-- end .article_content -->






        </div>
      </div>




    </article>    
</main>
{{> organisms-footer }}