{{> organisms-header-4 }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    {{> molecules-sideoverskrift-h1:mbl(sidetittel: "Politikk") }}

    <div class="row_no_clearfix equal_height_container">

        {{#linkbox}}
            <div class="col_md_6 col_lg_4 clear_col_md_6 clear_col_lg_4 equal_height_item mbl">
                {{> molecules-lenkeboks-med-forklaring}}
            </div>
        {{/linkbox}}

    </div>

</main>
{{> organisms-footer }}