<section class="mbj">
    {{> molecules-moduloverskrift-h2-med-lenke:mbm(url: "{{ link.pages-kontakt }}", tittel: "Kontakt") }}
    
    {{# kontaktkort }}
    
        <div class="contact_box {{ kartbilde_class }}">
                
        
            {{# kartbilde }}
                <div class="contact_static_image_container_small">
                    <!--
                    Retina 2x
                    Size: 640 x 640
                    Map type: roadmap
                    Image format: png
                    Zoom: 16
                    Marker: default, red, large
                    http://staticmapmaker.com/google/
                    -->

                    <div class="contact_static_image_holder mobile" style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyBmF-VNrEbdzVXStcHSeRQA4RQOdfKJI2s&center={{ kartbilde_adresse }}&zoom=18&scale=2&size=640x640&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C{{ kartbilde_adresse }});" role="img" aria-label="Besøksadresse: {{ kartbilde_label }}"></div>

                    <div class="contact_static_image_holder desktop" style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyBmF-VNrEbdzVXStcHSeRQA4RQOdfKJI2s&center={{ kartbilde_adresse }}&zoom=16&scale=2&size=400x640&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C{{ kartbilde_adresse }});" role="img" aria-label="Besøksadresse: {{ kartbilde_label }}"></div>

                    <dl class="contact_static_image_address">
                        <dt class="screen-reader-text">Besøksadresse:</dt>
                        <dd>{{ kartbilde_label }}</dd>
                    </dl>

                    <a href="https://maps.google.com/maps?z=16&t=m&mapclient=embed&q={{ kartbilde_adresse }}" title="{{ kartbilde_label }}" class="contact_static_image_link" target="_blank">
                        <span class="contact_static_image_link_text">
                            <span class="read_more_link">Vis større kart</span>
                        </span>
                    </a>
                </div>
            {{/ kartbilde }}

            <dl class="contact_content">

                {{# chat }}
                <dt></dt>
                <dd class="with_icon">
                    <a href="{{ chatlink }}">
                        <span class="icon chat_icon_blue medium_size"></span>
                        Chat med oss
                    </a>
                </dd>
                {{/ chat }}

                {{# epost }}
                <dt class="screen-reader-text">E-post:</dt>
                <dd class="with_icon">
                    <a href="mailto:{{ epost }}" title="{{ epost }}">
                        <span class="icon email_icon medium_size"></span>
                        {{ epost }}
                    </a>
                </dd>
                {{/ epost }}

                {{# telefon }}
                <dt class="screen-reader-text">Telefon:</dt>
                <dd class="with_icon">
                    <a href="tel:{{ telefonlink }}" title="Ring oss">
                        <span class="icon phone_icon medium_size"></span>
                        {{ telefon }}
                    </a>
                    {{# telefontid }}
                    - {{ telefontid }}
                    {{/ telefontid }}
                </dd>
                {{/ telefon }}

                {{# apningstid }}
                <dt></dt>
                <dd class="with_icon">
                    <span class="icon clock_icon medium_size"></span>
                    Åpningstid: {{ apningstid }}
                </dd>
                {{/ apningstid }}

                {{# apningstidbeskrivelse }}
                <dt></dt>
                <dd>
                    {{ apningstidbeskrivelse }}
                </dd>
                {{/ apningstidbeskrivelse }}

                {{# facebook }}
                <dt></dt>
                <dd class="with_icon">
                    <a href="{{ facebook }}" title="Følg oss på Facebook">
                        <span class="icon facebook_icon medium_size"></span>
                        Følg oss på Facebook
                    </a>
                </dd>
                {{/ facebook }}

                {{# twitter }}
                <dt></dt>
                <dd class="with_icon">
                    <a href="{{ twitter }}" title="Følg oss på Twitter">
                        <span class="icon twitter_icon medium_size"></span>
                        Følg oss på Twitter
                    </a>
                </dd>
                {{/ twitter }}

                {{# instagram }}
                <dt></dt>
                <dd class="with_icon">
                    <a href="{{ instagram }}" title="Følg oss på Instagram">
                        <span class="icon instagram_icon medium_size"></span>
                        Følg oss på Instagram
                    </a>
                </dd>
                {{/ instagram }}

            </dl>

            <a href="{{ link.pages-kontakt }}" title="Mer kontaktinfo" class="read_more_contact_button"><span class="read_more_link">Mer kontaktinfo</span></a>
          
        </div>
    
    {{/ kontaktkort }}
    
</section>