<div class="edit-article-authors mbxxl">
    Skrevet av:
    <input value="{{ artikkelForfatter }}" class="edit-article-authors__input">
    og
    <input class="edit-article-authors__input">
    {{# ingenForfatterMelding }}
        <div class="edit-article-authors__error">
            {{ ingenForfatterMelding }}
        </div>
    {{/ ingenForfatterMelding }}
</div>