<div class="edit-article-authors mbxxl">
    Skrevet av:
    
    {{# redigerForfatter }}
        <input value="{{ redigerForfatter }}" class="edit-article-authors__input">
        og
        <input class="edit-article-authors__input">
    {{/ redigerForfatter }}
    
    {{# redigerForfatterFeil }}
        <input value="" class="edit-article-authors__input error-input">
        og
        <input class="edit-article-authors__input" disabled>
        <div class="edit-article-authors__error">
            {{ redigerForfatterFeil }}
        </div>
    {{/ redigerForfatterFeil }}
</div>