{{> organisms-header-1 }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    
    <div class="frontpage inngangsside_pf">        

            <div class="toppsak">
                <a href="#" title="{{ tittel }}" class="image_link">
                    <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                </a>
                <h5 class="teaser_kicker">{{ tittel }}</h5>
                <h2 class="teaser_title">
                    <a href="#">
                        <span class="read_more_link_24">{{ tittel }}</span>
                    </a>
                </h2>    
                <p class="frontpageIngress">		
                    {{ ingress }}
                </p>
            </div>

            <div class="saker_container">
                <div class="sak inngangsside_sak_pf"> 
                    <div class="excerpt_image_container_ruu">
                        <a href="#" title="Slik fyrer du riktig" class="image_link">
                            <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00225/IMG_1913_225056n.jpg" alt="Slik fyrer du riktig">
                        </a>
                    </div>
                    <div class="excerpt_story_container_ruu">
                        <div class="sakstittel_ruu">
                            <h3 class="teaser_title">
                                <a href="#"><span class="read_more_link_large">Slik fyrer du riktig</span></a>
                            </h3>
                        </div>
                        <p class="frontpageIngress">		
                        Fyrer du riktig, unngår du brann. I tillegg ivaretar du miljøet og sparer penger.
                        </p>
                        <a href="#" class="readmore readmore_hidden_ruu">Les mer</a>
                    </div>
                </div>

                <div class="sak inngangsside_sak_pf">
                    <div class="excerpt_image_container_ruu">
                        <a href="#" title="Slik samkjører du " class="image_link">
                            <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00166/Spontan_samkjoring_166061n.jpg" alt="Slik samkjører du ">
                        </a>
                    </div>
                    <div class="excerpt_story_container_ruu">
                        <div class="sakstittel_ruu">
                            <h3 class="teaser_title">                
                                <a href="#"><span class="read_more_link_large">Slik samkjører du</span></a>
                            </h3>
                        </div>
                        <p class="frontpageIngress">		
                        Det  er enkelt å starte med samkjøring &ndash; enten du ønsker å sitte på eller tilby skyss.
                        </p>    
                        <a href="#" class="readmore read_more_link">Les tipsene her</a>
                    </div>
                </div>
            </div>

            <div class="bunnsaker">
                <div class="venstrebunn">
                    <div class="sak inngangsside_bunnsak_uten_ingress_pf">
                        <a href="#" title="Hvor og hvordan måles luftkvaliteten i Bergen?" class="image_link">	
                            <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00255/Rolland__10__kappet_255724n.jpg" alt="Målebod">
                        </a>
                        <div class="sakstittel_ruu">
                            <h3 class="teaser_title">                
                                <a href="#"><span class="read_more_link_large">Hvor og hvordan måles luftkvaliteten i Bergen?</span></a>
                            </h3>
                        </div>
                        <div class="clearboth"></div>        
                        <a href="#" class="readmore readmore_hidden_ruu">Les mer</a>
                    </div>
                </div>

                <div class="hoyrebunn">
                    <div class="sak inngangsside_bunnsak_uten_ingress_pf">
                        <a href="#" title="Sykkelsjefens beste råd for vintersykling" class="image_link">				
                            <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00254/Sykkelsjef_Einar_Jo_254371n.jpg" alt="Sykkelsjefens beste råd for vintersykling">
                        </a>
                        <div class="sakstittel_ruu">
                            <h3 class="teaser_title">    
                                <a href="#"><span class="read_more_link_large">Sykle året rundt?</span></a>            
                            </h3>
                        </div>
                        <div class="clearboth"></div>            
                        <a href="#" class="readmore read_more_link">Sykkelsjefens beste råd for vintersykling</a>
                    </div>
                </div>
            </div>

            <div class="clearit"></div>

            <div class="saker_container">
                <div class="sak inngangsside_sak_pf">                
                    <div class="excerpt_image_container_ruu">
                        <a href="#" title="Nye fargekoder for luftmåling" class="image_link">
                            <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00249/301015_varsling_249676n.jpg" alt="Nye fargekoder for luftmåling">
                        </a>
                    </div>
                    <div class="excerpt_story_container_ruu">
                        <div class="sakstittel_ruu">
                            <h3 class="teaser_title">
                                <a href="#"><span class="read_more_link_large">Nye fargekoder for luftmåling</span></a>
                            </h3> 
                        </div>
                        <p class="frontpageIngress">
                            Miljødirektoratet, Vegdirektoratet og Folkehelseinstituttet har revidert varslingsklassene for luftkvalitet og endret fargekodene. 
                        </p> 
                        <a href="#" class="readmore readmore_hidden_ruu">Les mer</a>
                    </div>
                </div>
            </div>

            <div class="clearit"></div>

            <!-- TEMPLATE: archiveLink_jsp -->
            <div class="toarchive">
                <a href="#" class="readmore" title="Arkiv">Arkiv</a>
            </div>

        
    </div>
    
    
    
    {{# toppsak }}
        {{> molecules-modul }}
    {{/ toppsak }}
    
    {{# saker }}
        <div class="row">
            {{# sak1 }}
                <div class="col_md_6 col_lg_6">
                    {{> molecules-modul }}
                </div>
            {{/ sak1 }}
            {{# sak2 }}
                <div class="col_md_6 col_lg_6">
                    {{> molecules-modul }}
                </div>
            {{/ sak2 }}
        </div>
        <div class="row">
            {{# sak3 }}
                <div class="col_md_4 col_lg_4">
                    {{> molecules-modul }}
                </div>
            {{/ sak3 }}
            {{# sak4 }}
                <div class="col_md_4 col_lg_4">
                    {{> molecules-modul }}
                </div>
            {{/ sak4 }}
            {{# sak5 }}
                <div class="col_md_4 col_lg_4">
                    {{> molecules-modul }}
                </div>
            {{/ sak5 }}
        </div>
        <div class="row">
            {{# sak6 }}
                <div class="col_md_6 col_lg_6">
                    {{> molecules-modul }}
                </div>
            {{/ sak6 }}
            {{# sak7 }}
                <div class="col_md_6 col_lg_6">
                    {{> molecules-modul }}
                </div>
            {{/ sak7 }}
        </div>
        <div class="row">
            {{# sak8 }}
                <div class="col_md_6 col_lg_6">
                    {{> molecules-modul }}
                </div>
            {{/ sak8 }}
            {{# sak9 }}
                <div class="col_md_6 col_lg_6">
                    {{> molecules-modul }}
                </div>
            {{/ sak9 }}
        </div>
    {{/ saker }}
    
    
    
    {{# temaboks }}
        {{# sak1 }}
            {{> molecules-modul }}
        {{/ sak1 }}
        <div class="row">
            {{# sak2 }}
                <div class="col_md_6 col_lg_6">
                    {{> molecules-modul }}
                </div>
            {{/ sak2 }}
            {{# sak3 }}
                <div class="col_md_6 col_lg_6">
                    {{> molecules-modul }}
                </div>
            {{/ sak3 }}
        </div>
    {{/ temaboks }}
    
    
    
    {{# sakerNederst }}
        {{> molecules-modul }}
    {{/ sakerNederst }}
    
    Arkiv
    
</main>
{{> organisms-footer }}