{{> organisms-header-1 }}
<main id="innhold" tabindex="-1">
    
    
    <div class="hvaskjer_grid">        
        
        <div class="smMa desktop_centered">
        
            <!-- TEMPLATE:   NY_fp_005finngangsside_005ftoppsak_jsp -->
            <div class="toppsak sak">
                <div class="excerpt_image_container_ruu">
                    <a href="#" title="{{ tittel }}" class="image_link">
                        <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                    </a>
                </div>
                <div class="excerpt_story_container_ruu">
                    <div class="sakstittel_ruu">
                        <h2 class="teaser_title">
                            <a href="#">
                                <span class="read_more_link_large">
                                    {{ tittel }}
                                </span>
                            </a>
                        </h2>
                    </div>
                    <p class="story_excerpt">		
                        {{ ingress }}
                    </p>
                </div>
            </div>









            <div class="row">
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h4 class="teaser_kicker">Stikktittel</h4>
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                        </div>
                    </div>

                </div>
            </div>







            <div class="row">
                <div class="col_md_4 col_lg_4">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h4 class="teaser_kicker">Stikktittel</h4>
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col_md_4 col_lg_4">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h4 class="teaser_kicker">Stikktittel</h4>
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col_md_4 col_lg_4">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                        </div>
                    </div>

                </div>
            </div>









            <div class="row">
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h4 class="teaser_kicker">Stikktittel</h4>
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h4 class="teaser_kicker">Stikktittel</h4>
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                        </div>
                    </div>

                </div>
            </div>









            <div class="row teaser_small_container">
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <!--
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                            -->
                        </div>
                    </div>

                </div>
                <div class="col_md_6 col_lg_6">
                    
                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <!--
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                            -->
                        </div>
                    </div>
                    
                </div>
            </div>

        </div><!-- end .smMa desktop_centered -->


        
        
        
        
        
        
        
        
        <div class="teaser_topic_container mbj">
            <div class="smMa desktop_centered">
            
        
                <!-- TEMPLATE:   NY_fp_005finngangsside_005ftoppsak_jsp -->
                <div class="toppsak sak">
                    <div class="excerpt_image_container_ruu">
                        <a href="#" title="{{ tittel }}" class="image_link">
                            <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                        </a>
                    </div>
                    <div class="excerpt_story_container_ruu">
                        <div class="sakstittel_ruu">
                            <h2 class="teaser_title">
                                <a href="#">
                                    <span class="read_more_link_large">
                                        {{ tittel }}
                                    </span>
                                </a>
                            </h2>
                        </div>
                        <p class="story_excerpt">		
                            {{ ingress }}
                        </p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col_md_6 col_lg_6">

                         <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                        <div class="sak inngangsside_sak_pf">
                            <div class="excerpt_image_container_ruu">
                                <a href="#" title="{{ tittel }}" class="image_link">
                                    <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                                </a>
                            </div>
                            <div class="excerpt_story_container_ruu">
                                <div class="sakstittel_ruu">
                                    <h4 class="teaser_kicker">Stikktittel</h4>
                                    <h3 class="teaser_title">
                                        <a href="#">
                                            <span class="read_more_link_large">
                                                {{ tittel }}
                                            </span>
                                        </a>
                                    </h3>
                                </div>
                                <p class="story_excerpt">		
                                    {{ ingress }}
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col_md_6 col_lg_6">

                         <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                        <div class="sak inngangsside_sak_pf">
                            <div class="excerpt_image_container_ruu">
                                <a href="#" title="{{ tittel }}" class="image_link">
                                    <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                                </a>
                            </div>
                            <div class="excerpt_story_container_ruu">
                                <div class="sakstittel_ruu">
                                    <h4 class="teaser_kicker">Stikktittel</h4>
                                    <h3 class="teaser_title">
                                        <a href="#">
                                            <span class="read_more_link_large">
                                                {{ tittel }}
                                            </span>
                                        </a>
                                    </h3>
                                </div>
                                <p class="story_excerpt">		
                                    {{ ingress }}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                
            
            </div><!-- end .smMa desktop_centered -->
        </div>








        <div class="smMa desktop_centered">
            
            
            
            
                
            <div class="row teaser_small_container">
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            
            
            
            

            <div class="row">
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            
            
            
            
                
            <div class="row teaser_small_container">
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                        </div>
                    </div>

                </div>
            </div>



            
            
            
            

            <div class="row">
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col_md_6 col_lg_6">

                     <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
                    <div class="sak inngangsside_sak_pf">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="{{ tittel }}" class="image_link">
                                <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" />
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <div class="sakstittel_ruu">
                                <h3 class="teaser_title">
                                    <a href="#">
                                        <span class="read_more_link_large">
                                            {{ tittel }}
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <p class="story_excerpt">		
                                {{ ingress }}
                            </p>
                        </div>
                    </div>

                </div>
            </div>














            <!-- TEMPLATE:   archiveLink_jsp -->
            <div class="toarchive">
                <a href="#" class="readmore" title="Arkiv">Arkiv</a>
            </div>
        
        
        </div><!-- end .smMa desktop_centered -->
    </div><!-- end .hvaskjer_grid -->
    
    
    
    
</main>
{{> organisms-footer }}