{{# teaserInfo }}
    <div class="module_container module_box_style mbl">
        <div class="module_content_container">
            <div class="module_content_excerpt">            
                {{{ teaserInfo }}}
            </div>
        </div>
    </div>
{{/ teaserInfo }}

<div class="teaser {{ styleModifier }}">
    <a href="{{ url }}" class="teaser__link">
        {{# bilde }}
            <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" class="teaser__image" />
        {{/ bilde }}

        <div class="teaser__content-container">
            <h2 class="teaser__title">
                <span class="read_more_link read_more_link--22">
                    {{ modulTittel }}
                </span>
            </h2>
            {{# dato }}
            <div class="teaser__date">
                {{ dato }}
            </div>
            {{/ dato }}
            <div class="teaser__excerpt">
                <p>{{ ingress }}</p>
            </div>
        </div>
    </a>
    <p>
        <a href="">Les mer (egen lenke eller noe annet)</a>
    </p>
</div>

<div class="teaser teaser--box-style {{ styleModifier }}">
    <a href="{{ url }}" class="teaser__link">
        {{# bilde }}
            <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" class="teaser__image" />
        {{/ bilde }}

        <div class="teaser__content-container">
            <h2 class="teaser__title">
                <span class="read_more_link read_more_link--22">
                    {{ modulTittel }}
                </span>
            </h2>
            {{# dato }}
            <div class="teaser__date">
                {{ dato }}
            </div>
            {{/ dato }}
            <div class="teaser__excerpt">
                <p>{{ ingress }}</p>
            </div>
        </div>
    </a>
    <p>
        <a href="">Les mer (egen lenke eller noe annet)</a>
    </p>
</div>