{{> organisms-header-2 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    <div class="page_header_container_with_org_menu">
        {{> molecules-sideoverskrift-h2-med-lenke(sidetittel: "{{ organisasjonsenhet.tittel }}", url: "{{ organisasjonsenhet.url }}") }}
    </div>

    <div class="row">
        <div class="col_md_12 col_lg_4">

            {{> molecules-org-meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">


            <div class="rssicon_floatRight">
                <a title="Abonner med RSS" rel="alternate" type="application/rss+xml" href="#">
                    RSS - abonner
                </a>
            </div>

            <div class="ece_module_list mbj">

                <h1 class="module_header">{{ sidetittel }}</h1>
                
                <div class="sp_article_list_edit">
                    <p>
                    <a href="#" target="_blank" title="Ny artikkel - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/redigerblyant_ny.gif" alt="Ny artikkel"></a>
                    <a href="#" target="_blank" title="Kladdeliste - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/kladdliste_liten.gif" alt="Kladdeliste"></a>
                    <a href="#" target="_blank" title="Sletteliste - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/bossbotte_liten.gif" alt="Sletteliste"></a>
                    <a href="#" target="_blank" title="Artikler utgått på dato - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/expired.jpg" alt="Artikler utgått på dato"></a>
                    <a href="#" target="_blank" title="Endre rekkefølge - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/rekkefolge_liten.gif" alt="Endre rekkefølge"></a>
                    </p>
                </div>
                
                <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->

                <div class="ece_module_container normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">
                    <div class="ece_module_image_container">
                        <a href="#" title="Ibsen gate stengt 18. juni-18. august" class="ece_module_image_link">
                            <img alt="Ibsen gate stengt 18. juni-18. august" src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00240/11175003_5021004299_240118n.jpg" class="ece_module_image">
                            <!--

                            Escenic bildestørrelser:

                            l = 74
                            i = 75
                            b = 90
                            h = 150
                            k = 170
                            c = 180
                            d = 180
                            q = 205
                            m = 230
                            e = 390
                            f = 390
                            g = 390
                            p = 430
                            j = 470
                            r = 480
                            n = 550


                            Største visning = media_size: 699px
                            ..med en bildestørrelse på: 679px

                            Andre største visning = media_size: 1019px
                            ..med en bildestørrelse på: 450px





                            -->
                        </a>
                    </div>
                    <div class="ece_module_content_container">
                        <h4 class="ece_module_kicker">Viktig melding</h4>
                        <h3 class="ece_module_title">
                            <a href="{{ link.pages-artikkel }}" title="Ibsen gate stengt 18. juni-18. august">
                                <span class="read_more_link read_more_link--24">
                                    Ibsen gate stengt 18. juni-18. august
                                </span>
                            </a>
                        </h3>
                        <div class="ece_module_excerpt">
                            <p>Vann- og avløpsledningene i Ibsens gate nærmer seg 100 år, og det er på høy tid å fornye/rehabilitere ledningsanlegget. Dermed stenges vegen 18. juni-18. august.</p>
                        </div>
                        <div class="ece_module_meta">
                            <p>
                                <a class="read_more_link" href="{{ link.pages-artikkel }}" title="Ibsen gate stengt 18. juni-18. august">
                                    Les mer om omkjøringsmuligheter
                                </a>
                            </p>
                        </div>
                        <div class="sp_article_edit">
                            <a href="#" target="_blank" title="Rediger artikkel - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/redigerblyant.gif" alt="Rediger artikkel"></a>
                            <a href="#" target="_blank" title="Slett artikkel - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/trashcan.gif" alt="Slett artikkel"></a>
                        </div>
                    </div>
                </div>

                <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->

                <div class="ece_module_container normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">
                    <div class="ece_module_image_container">
                        <a href="{{ link.pages-artikkel-2 }}" title="Nordic Tenors – Con Amore" class="ece_module_image_link">
                            <img alt="Konsert" src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00275/Nordic_Tenors_Con_A_275780n.jpg" class="ece_module_image">
                        </a>
                    </div>
                    <div class="ece_module_content_container">
                        Torsdag 15. September, kl. 19.00
                        <h3 class="ece_module_title">
                            <a href="{{ link.pages-artikkel-2 }}" title="Nordic Tenors – Con Amore">
                                <span class="read_more_link read_more_link--24">
                                    Nordic Tenors – Con Amore
                                </span>
                            </a>
                        </h3>
                        <div class="ece_module_excerpt">
                            <p>Nordic Tenors er klare med ny forestilling som har fått tittelen “Con Amore” (med kjærlighet). Publikum vil få en kveld spekket med musikalske høydepunkter og mye humor.</p>
                        </div>
                        <div class="ece_module_meta">
                            {{> atoms-kjop-billett }}
                        </div>
                        <div class="sp_article_edit">
                            <a href="#" target="_blank" title="Rediger artikkel - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/redigerblyant.gif" alt="Rediger artikkel"></a>
                            <a href="#" target="_blank" title="Slett artikkel - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/trashcan.gif" alt="Slett artikkel"></a>
                        </div>
                    </div>
                </div>

                <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->

                <div class="ece_module_container normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">
                    <div class="ece_module_image_container">
                        <a href="{{ link.pages-artikkel }}" title="Garnes - fornying av kommunale vannledninger i Kjelåvegen, Vestlivegen og Kjelånæ." class="ece_module_image_link">
                            <img alt="Garnes - fornying av kommunale vannledninger i Kjelåvegen, Vestlivegen og Kjelånæ." src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00259/garnes_259131n.jpg" class="ece_module_image">
                        </a>
                    </div>
                    <div class="ece_module_content_container">
                        <h3 class="ece_module_title">
                            <a href="{{ link.pages-artikkel }}" title="Garnes - fornying av kommunale vannledninger i Kjelåvegen, Vestlivegen og Kjelånæ.">
                                <span class="read_more_link read_more_link--24">
                                    Garnes - fornying av kommunale vannledninger i Kjelåvegen, Vestlivegen og Kjelånæ.
                                </span>
                            </a>
                        </h3>
                        <div class="ece_module_excerpt">
                            <p>Arbeidene vil pågå i perioden januar 2016 – april 2016. Til tider må vi stenge veiene, men dette vil bli skiltet. Vi vil forsøke å holde veiene åpne for fotgjengere til enhver tid. De som blir berørt av arbeidene har fått tilsendt infobrev direkte.</p>
                        </div>
                        <div class="ece_module_meta">
                        </div>

                        <div class="ece_module_references">
                            <ul class="multimedia_references">
                                <li>
                                    <a href="#" title="" class="multimedia_link">
                                        <span class="icon icon_pdf">icon_pdf</span>
                                        <span class="file_title">Ikke slå ribbefettet i vasken</span>
                                        <span class="file_size">[6.4 Mb]</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="" class="multimedia_link">
                                        <span class="icon icon_word">icon_word</span>
                                        <span class="file_title">Slik får du en branntrygg jul også til neste år når det er  en ny sesong med sterinlys</span>
                                        <span class="file_size">[6.4 Mb]</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="sp_article_edit">
                            <a href="#" target="_blank" title="Rediger artikkel - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/redigerblyant.gif" alt="Rediger artikkel"></a>
                            <a href="#" target="_blank" title="Slett artikkel - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/trashcan.gif" alt="Slett artikkel"></a>
                        </div>
                    </div>
                </div>

                <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->

                <div class="ece_module_container normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">
                    <div class="ece_module_image_container">
                        <a href="{{ link.pages-artikkel }}" title="Fornyer infrastruktur i Bergen sentrum" class="ece_module_image_link">
                            <img alt="Fornyer infrastruktur i Bergen sentrum" src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00242/DSC_5816_242045n.jpg" class="ece_module_image">
                        </a>
                    </div>
                    <div class="ece_module_content_container">
                        <h3 class="ece_module_title">
                            <a href="{{ link.pages-artikkel }}" title="Fornyer infrastruktur i Bergen sentrum">
                                <span class="read_more_link read_more_link--24">
                                    Fornyer infrastruktur i Bergen sentrum
                                </span>
                            </a>
                        </h3>
                        <div class="ece_module_excerpt">
                            <p>Graveklubben skal fornye og legge ny infrastruktur i Neumanns gate, samt sidegatene Vestre Torggate og Sigurds gate.</p>
                        </div>
                        <div class="ece_module_meta">
                        </div>

                        <div class="ece_module_references">
                            <ul class="link_references">
                                <li>
                                    <a href="">Slik får du en branntrygg jul</a>
                                </li>
                            </ul>
                        </div>

                        <div class="sp_article_edit">
                            <a href="#" target="_blank" title="Rediger artikkel - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/redigerblyant.gif" alt="Rediger artikkel"></a>
                            <a href="#" target="_blank" title="Slett artikkel - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/trashcan.gif" alt="Slett artikkel"></a>
                        </div>
                    </div>
                </div>

                <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->

                <div class="ece_module_container normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">
                    <div class="ece_module_image_container">
                        <a href="{{ link.pages-artikkel }}" title="Fornyer infrastruktur i Bergen sentrum" class="ece_module_image_link">
                            <img alt="Fornyer infrastruktur i Bergen sentrum" src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00242/DSC_5816_242045n.jpg" class="ece_module_image">
                        </a>
                    </div>
                    <div class="ece_module_content_container">
                        <h3 class="ece_module_title">
                            <a href="{{ link.pages-artikkel }}" title="Fornyer infrastruktur i Bergen sentrum">
                                <span class="read_more_link read_more_link--24">
                                    Fornyer infrastruktur i Bergen sentrum
                                </span>
                            </a>
                        </h3>
                        <div class="ece_module_excerpt">
                            <p>Graveklubben skal fornye og legge ny infrastruktur i Neumanns gate, samt sidegatene Vestre Torggate, Sigurds gate, Sverres gate og Teatergaten.</p>
                        </div>
                        <div class="ece_module_meta">
                        </div>

                        <div class="ece_module_references">
                            <ul class="article_references">
                                 <li>
                                     <a href="">Ikke slå ribbefettet i vasken</a>
                                </li>
                                <li>
                                    <a href="">Slik får du en branntrygg jul</a>
                                </li>
                            </ul>
                        </div>

                        <div class="sp_article_edit">
                            <a href="#" target="_blank" title="Rediger artikkel - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/redigerblyant.gif" alt="Rediger artikkel"></a>
                            <a href="#" target="_blank" title="Slett artikkel - Åpnes i nytt vindu" class="sp_edit_icon_link"><img src="https://www.bergen.kommune.no/internet/htdocs/images/trashcan.gif" alt="Slett artikkel"></a>
                        </div>

                    </div>
                </div>


                <!-- TEMPLATE:   archiveLink_jsp -->                
                {{> molecules-les-mer:toarchive|read_more_link_container--larger-font(lesMerTekst: "Arkiv", url: "{{ link.pages-arkivliste }}", antall: false) }}

            </div>









        </div>
    </div>
</main>
{{> organisms-footer }}

