<h2 class="typo_header light">Source Sans Pro Light</h2>
<p>font-weight: 300</p>

<h2 class="typo_header light italic">Source Sans Pro Light Italic</h2>
<p>font-weight: 300, font-style: italic</p>

<h2 class="typo_header regular">Source Sans Pro Regular</h2>
<p>font-weight: 400</p>

<h2 class="typo_header regular italic">Source Sans Pro Regular Italic</h2>
<p>font-weight: 400, font-style: italic</p>

<h2 class="typo_header semibold">Source Sans Pro Semibold</h2>
<p>font-weight: 600</p>