{{> organisms-header-1 }}
<main id="innhold" tabindex="-1">
        
    <div class="ece_hvaskjer_grid mbj">
        
        <div class="smMa desktop_centered">
            
            <div class="page_header_container_with_org_menu page_header_container--hvaskjer">
                
                {{# hvaSkjerHovedsideOverskrift }}
                    {{> molecules-sideoverskrift-h1(sidetittel: "Hva skjer") }}
                {{/ hvaSkjerHovedsideOverskrift }}
                
                {{# hvaSkjerUndersideOverskrift }}
                    {{> molecules-sideoverskrift-med-lenke(sidetittel: "Hva skjer", url: "{{ link.pages-hva-skjer }}") }}
                {{/ hvaSkjerUndersideOverskrift }}
                
            </div>
            
            {{# meny }}
                {{> molecules-hva-skjer-meny }}
            {{/ meny }}
            
            {{# hvaSkjerUndersideOverskrift }}
                {{> molecules-sideoverskrift-h1(sidetittel: "{{ sidetittel }}") }}
            {{/ hvaSkjerUndersideOverskrift }}
            
        </div><!-- end .smMa desktop_centered -->

        <div class="smMa desktop_centered">
            <!-- Saker -->
            <div class="row mbl">
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak1 }}
                        {{> molecules-teaser }}
                    {{/ sakerSak1 }}
                </div>
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak2 }}
                        {{> molecules-teaser }}
                    {{/ sakerSak2 }}
                </div>
            </div>

            <div class="row teaser_medium_container mbl">
                <div class="col_md_4 col_lg_4">                    
                    {{# sakerSak3 }}
                        {{> molecules-teaser }}
                    {{/ sakerSak3 }}
                </div>
                <div class="col_md_4 col_lg_4">                    
                    {{# sakerSak4 }}
                        {{> molecules-teaser }}
                    {{/ sakerSak4 }}
                </div>
                <div class="col_md_4 col_lg_4">                    
                    {{# sakerSak5 }}
                        {{> molecules-teaser }}
                    {{/ sakerSak5 }}
                </div>
            </div>

            <div class="row mbl">
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak6 }}
                        {{> molecules-teaser }}
                    {{/ sakerSak6 }}
                </div>
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak7 }}
                        {{> molecules-teaser }}
                    {{/ sakerSak7 }}
                </div>
            </div>

            <div class="row teaser_small_container mbl">
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak8 }}
                        {{> molecules-teaser-med-50-50-deling }}
                    {{/ sakerSak8 }}
                </div>
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak9 }}
                        {{> molecules-teaser-med-50-50-deling }}
                    {{/ sakerSak9 }}                    
                </div>
            </div>

            <div class="row mbl">
                <div class="col_md_6 col_lg_6">
                    {{# sakerSak10 }}
                        {{> molecules-teaser }}
                    {{/ sakerSak10 }}
                </div>
                <div class="col_md_6 col_lg_6">
                    {{# sakerSak11 }}
                        {{> molecules-teaser }}
                    {{/ sakerSak11 }}
                </div>
            </div>

            <div class="row teaser_medium_container mbl">
                <div class="col_md_4 col_lg_4">
                    {{# sakerSak12 }}
                        {{> molecules-teaser }}
                    {{/ sakerSak12 }}
                </div>
                <div class="col_md_4 col_lg_4">
                    {{# sakerSak13 }}
                        {{> molecules-teaser }}
                    {{/ sakerSak13 }}
                </div>
                <div class="col_md_4 col_lg_4">
                    {{# sakerSak14 }}
                        {{> molecules-teaser }}
                    {{/ sakerSak14 }}
                </div>
            </div>

        </div><!-- end .smMa desktop_centered -->

        {{# temaboks }}
        <!-- Temaboks -->
        <div class="grey_box mbj">
            <div class="smMa desktop_centered">            
        
                <div class="toppsak mbl">
                    {{# temaboksSak1 }}
                        {{> molecules-teaser }}
                    {{/ temaboksSak1 }}
                </div>
                
                <div class="row mbl">
                    <div class="col_md_6 col_lg_6">
                        {{# temaboksSak2 }}
                            {{> molecules-teaser }}
                        {{/ temaboksSak2 }}
                    </div>
                    <div class="col_md_6 col_lg_6">
                        {{# temaboksSak3 }}
                            {{> molecules-teaser }}
                        {{/ temaboksSak3 }}
                    </div>
                </div>

            </div><!-- end .smMa desktop_centered -->
        </div>
        {{/ temaboks }}

        <div class="smMa desktop_centered">
            <div class="row">
                <div class="col_md_12 col_lg_8">
                    {{> organisms-modul-liste:mbs }}
                </div>
            </div>
            <div class="row">
                <div class="col_md_12 col_lg_8">
                    {{> molecules-les-mer-modul:toarchive|read_more_link_container--larger-font|(lesMerTekst: "Arkiv", url: "{{ link.pages-arkivliste }}", antall: false) }}
                </div>
            </div>
        </div>
    </div><!-- end .ece_hvaskjer_grid -->
    
</main>
{{> organisms-footer }}
