{{> organisms-header-1 }}
<main id="innhold" tabindex="-1">
        
    <div class="ece_hvaskjer_grid mbj">
        
        <div class="smMa desktop_centered">
            
            <div class="page_header_container_with_org_menu page_header_container--hvaskjer">
                
                {{# hvaSkjerHovedsideOverskrift }}
                    {{> molecules-sideoverskrift-h1(sidetittel: "Hva skjer") }}
                {{/ hvaSkjerHovedsideOverskrift }}
                
                {{# hvaSkjerUndersideOverskrift }}
                    {{> molecules-sideoverskrift-med-lenke(sidetittel: "Hva skjer", url: "{{ link.pages-hva-skjer }}") }}
                {{/ hvaSkjerUndersideOverskrift }}
                
            </div>
            
            {{# meny }}
                {{> molecules-hva-skjer-meny }}
            {{/ meny }}
            
            {{# hvaSkjerUndersideOverskrift }}
                {{> molecules-sideoverskrift-h1(sidetittel: "{{ sidetittel }}") }}
            {{/ hvaSkjerUndersideOverskrift }}
            
        </div><!-- end .smMa desktop_centered -->
            
        
        <div class="smMa desktop_centered">
            
            {{# toppsak }}
            <!-- Escenic: toppsak -->
            <div class="toppsak">
                {{> molecules-escenic-teaser }}
            </div>
            {{/ toppsak }}
            
            
            
            
            <!-- Escenic: Saker -->
            <div class="row">
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak1 }}
                        {{> molecules-escenic-teaser }}
                    {{/ sakerSak1 }}
                </div>
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak2 }}
                        {{> molecules-escenic-teaser }}
                    {{/ sakerSak2 }}
                </div>
            </div>

            <div class="row teaser_medium_container">
                <div class="col_md_4 col_lg_4">                    
                    {{# sakerSak3 }}
                        {{> molecules-escenic-teaser }}
                    {{/ sakerSak3 }}
                </div>
                <div class="col_md_4 col_lg_4">                    
                    {{# sakerSak4 }}
                        {{> molecules-escenic-teaser }}
                    {{/ sakerSak4 }}
                </div>
                <div class="col_md_4 col_lg_4">                    
                    {{# sakerSak5 }}
                        {{> molecules-escenic-teaser }}
                    {{/ sakerSak5 }}
                </div>
            </div>

            <div class="row">
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak6 }}
                        {{> molecules-escenic-teaser }}
                    {{/ sakerSak6 }}
                </div>
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak7 }}
                        {{> molecules-escenic-teaser }}
                    {{/ sakerSak7 }}
                </div>
            </div>

            <div class="row teaser_small_container">
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak8 }}
                        {{> molecules-escenic-teaser }}
                    {{/ sakerSak8 }}
                </div>
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak9 }}
                        {{> molecules-escenic-teaser }}
                    {{/ sakerSak9 }}                    
                </div>
            </div>

        </div><!-- end .smMa desktop_centered -->
            
            
            
        {{# temaboks }}
        <!-- Escenic: Temaboks -->
        <div class="grey_box mbj">
            <div class="smMa desktop_centered">            
        
                <div class="toppsak">
                    {{# temaboksSak1 }}
                        {{> molecules-escenic-teaser }}
                    {{/ temaboksSak1 }}
                </div>
                
                <div class="row">
                    <div class="col_md_6 col_lg_6">
                        {{# temaboksSak2 }}
                            {{> molecules-escenic-teaser }}
                        {{/ temaboksSak2 }}
                    </div>
                    <div class="col_md_6 col_lg_6">
                        {{# temaboksSak3 }}
                            {{> molecules-escenic-teaser }}
                        {{/ temaboksSak3 }}
                    </div>
                </div>
                
            
            </div><!-- end .smMa desktop_centered -->
        </div>
        {{/ temaboks }}
            
            
        
        {{# bunnsaker }}
        <!-- Escenic: Bunnsaker -->
        <div class="smMa desktop_centered">            
            
            <div class="row teaser_small_container">
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak1 }}
                        {{> molecules-escenic-teaser }}
                    {{/ bunnsakerSak1 }}
                </div>
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak2 }}
                        {{> molecules-escenic-teaser }}
                    {{/ bunnsakerSak2 }}
                </div>
            </div>
            
            <div class="row">
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak3 }}
                        {{> molecules-escenic-teaser }}
                    {{/ bunnsakerSak3 }}
                </div>
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak4 }}
                        {{> molecules-escenic-teaser }}
                    {{/ bunnsakerSak4 }}
                </div>
            </div>
            
            <div class="row teaser_small_container">
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak5 }}
                        {{> molecules-escenic-teaser }}
                    {{/ bunnsakerSak5 }}
                </div>
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak6 }}
                        {{> molecules-escenic-teaser }}
                    {{/ bunnsakerSak6 }}
                </div>
            </div>
            <div class="row teaser_small_container">
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak7 }}
                        {{> molecules-escenic-teaser }}
                    {{/ bunnsakerSak7 }}
                </div>
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak8 }}
                        {{> molecules-escenic-teaser }}
                    {{/ bunnsakerSak8 }}
                </div>
            </div>

            <div class="row">
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak9 }}
                        {{> molecules-escenic-teaser }}
                    {{/ bunnsakerSak9 }}
                </div>
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak10 }}
                        {{> molecules-escenic-teaser }}
                    {{/ bunnsakerSak10 }}
                </div>
            </div>

        </div><!-- end .smMa desktop_centered -->  
        {{/ bunnsaker }}
            
            
        
        {{# listesaker }}
            <div class="smMa desktop_centered">  
                <div class="row">
                    <div class="col_md_12 col_lg_8">
                        <div class="ece_module_list mbj">
                            {{# listesak }}
                                {{> molecules-escenic-teaser }}
                            {{/ listesak }}
                        </div>
                    </div>
                </div>
            </div>
        {{/ listesaker }}
            
            
            
            
            
            
        <div class="smMa desktop_centered">
            
            <!-- TEMPLATE:   archiveLink_jsp -->
            {{> molecules-les-mer-modul:toarchive|read_more_link_container--larger-font|read_more_link_container--top-border(lesMerTekst: "Arkiv", url: "{{ link.pages-arkivliste }}", antall: false) }}
        
        
        </div><!-- end .smMa desktop_centered -->
    </div><!-- end .ece_hvaskjer_grid -->
    
    
</main>
{{> organisms-footer }}