{{#imageUploader}}
<div class="mbxxl">
    
    <h3 class="sidebar-header mbm sidebar-header--open">
      <a href="#" title="" class="sidebar-header__toggle">
        {{title}}
        <span class="arrow-icon"></span>
      </a>
    </h3>
    {{#helpText}}
    <div class="helpers_info mbs">
        {{helpText}}
    </div>
    {{/helpText}}
    <div class="image-upload-link {{styleModifier}}">
        {{# startLink }}
            <a href="" title="" class="image-upload-link__start-link">
                {{startLink}}
            </a>
        {{/ startLink }}
        {{# changeLink }}
            <a href="" title="Endre listebilde" class="image-upload-link__change-link">
                {{# imgLandscape }}
                    <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}">
                {{/ imgLandscape }}
                <span class="figcaption"></span>
            </a>
            <a href="" title="{{deleteText}}" class="image-upload-link__delete-link">
                {{# deleteText }}
                   {{ deleteText }}
                {{/ deleteText }}
            </a>
        {{/ changeLink }}
    </div>

    {{# brukSomListebilde }}
        {{> atoms-avkryssingsboks }}
    {{/ brukSomListebilde }}
    
</div>
{{/imageUploader}}