{{> organisms-header-3 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h1:mbxl(sidetittel: "{{ sidetittel }}") }}

    <div class="row">
        <div class="col_md_12 col_lg_8">
            <div class="service_content_max_width">
                <form>
                    <fieldset>
                        <legend class="screen-reader-text">Vannmålekalkulator</legend>
                        <div class="mbxl">
                            <p>
                                Finn ut om det lønner seg for din husstand å installere vannmåler.<br/>
                                Tjenesten gjelder kun for deg som betaler vannavgift for boligen din.
                            </p>
                        </div>

                        <div class="mbl">
                            <label for="numberOfPeople" class="form-element__label mbs">Hvor mange bor i din
                                bolig?</label>
                            <input style="width: 52px; text-align: right"
                                   id="numberOfPeople"
                                   class="form-element__number form-element__number--without-spinner"
                                   onblur="togglePeopleError()"
                                   onkeyup="validateForm()"
                                   type="number"/>
                            <span id="peopleError" class="form-element__helptext--error">Feltet må fylles ut.</span>
                        </div>

                        <div class="mbl">
                            <label for="area" class="form-element__label mbs">Hvor stor er din bolig (m2
                                bruksareal)?</label>
                            <input style="width: 62px; text-align: right"
                                   id="area"
                                   class="form-element__number form-element__number--without-spinner"

                                   onblur="toggleAreaError()"
                                   onkeyup="validateForm()"
                                   type="number"/>
                            <span id="areaError" class="form-element__helptext--error">Feltet må fylles ut.</span>
                        </div>

                        <div>
                            <p id="waterusage" class="form-element__label mbs">Hvor stort er vannforbruket?</p>
                            <div aria-labelledby="waterusage" role="radiogroup">
                                <div class="form-element mbm">
                                    <input id="lavt" name="usage" type="radio" class="form-element__radio" value="LAVT"
                                    />
                                    <label for="lavt" class="form-element__label">Lavt (50 m3 pr. person pr. år)</label>
                                </div>
                                <div class="form-element mbm">
                                    <input id="middels" name="usage" type="radio" class="form-element__radio"
                                           value="MIDDELS"
                                    />
                                    <label for="middels" class="form-element__label">Middels (60 m3 pr. person pr.
                                        år)</label>
                                </div>
                                <div class="form-element mbxl">
                                    <input id="hoyt" name="usage" type="radio" class="form-element__radio" value="HOYT"
                                    />
                                    <label for="hoyt" class="form-element__label">Høyt (70 m3 pr. person pr. år)</label>
                                </div>
                            </div>
                        </div>

                        <div>
                            <input type="submit"
                                   id="btn"
                                   value="Vis resultat"
                                   disabled="true"
                                   onclick="this.disabled=true;this.value='Vennligst vent';this.form.submit();"
                                   class="button active"/>
                        </div>

                    </fieldset>
                </form>

                <div id="result">
                    <div class="page_header mbm">
                        <h2>Resultat</h2>
                    </div>
                    Uten vannmåler blir den årlige avgiften kr. <b></b> inkl.
                    mva. <br/>
                    Med vannmåler blir den årlige avgiften kr. <b></b> inkl. mva.
                    og
                    målerleie for 3/4" måler. <br/>

                    <span>Du sparer kr. </span>
                    <span>Du taper kr. </span>

                    <b></b> med vannmåler per år.<br/>
                    NB! Installasjonskostnader er ikke tatt med i regnestykket.<br/>
                    Viser satser for 2018.<br/>

                    <h3>Installasjonskostnader</h3>
                    Installasjon av vannmåler må bekostes av huseier og utføres av godkjent foretak. Ta kontakt med
                    rørlegger for
                    å finne pris for installasjon av vannmåler.

                    <h3>Søk om installasjon av vannmåler</h3>
                    For å installere vannmåler må du først søke Vann- og avløpsetaten. <br/>
                    <a href="/tjenestetilbud/forbrukersporsmal/privatokonomi/forbruksutgifter/vannmaler">Søknadsskjema
                        og mer om vannmåler</a>
                </div>
            </div>
        </div>
    </div>

</main>
{{> organisms-footer }}