{{> organisms-header }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    <h1 class="screen-reader-text">Bergen kommune - Forside</h1>
    
    {{# hvaskjer }}
        {{> organisms-forsidenyheter:mbj }}
    {{/ hvaskjer }}
    
    
    {{# tjenester }}
        {{> organisms-forsidetjenester }}
    {{/ tjenester }}
        

    {{# feilmelding }}
        {{> organisms-service-snarvei:mbj }}
    {{/ feilmelding }}
    
    
    <div class="row_no_clearfix equal_height_container mbxl">
        
        {{# tout-luftkvalitet }}
            <div class="col_md_4 col_lg_4 equal_height_item">
                {{> molecules-tout-luftkvalitet-forside }}
            </div>
        {{/ tout-luftkvalitet }}
                
        {{# tout-33 }}
            <div class="col_md_4 col_lg_4 equal_height_item">
                {{> molecules-tout }}
            </div>
        {{/ tout-33 }}

    </div>
    
    
    {{> organisms-forsidekontakt }}    
    
   
</main>
{{> organisms-footer }}