{{> organisms-header }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    <h1 class="screen-reader-text">Bergen kommune - Forside</h1>
    
    {{# hvaskjer }}
        {{> organisms-forsidenyheter:mbj }}
    {{/ hvaskjer }}
    
    
    {{# tjenester }}
        {{> organisms-forsidetjenester }}
    {{/ tjenester }}
        

    {{# feilmelding }}
        {{> organisms-service-snarvei:mbj }}
    {{/ feilmelding }}
    
    
    <div class="row_no_clearfix equal_height_container mbxl">
        <div class="col_md_4 col_lg_4 equal_height_item">
            
            {{# luftkvalitet }}
                {{> molecules-tout-luftkvalitet-forside }}
            {{/ luftkvalitet }}
            
            {{# sykkel-vm }}
                {{> molecules-tout-sykkel-vm }}
            {{/ sykkel-vm }}
            
        </div>
        <div class="col_md_4 col_lg_4 equal_height_item">
            
            <div class="tout_container">
                <h2 class="tout_header">
                    Planer
                </h2>
                <div class="tout_excerpt">
                    <ul>
                        <li>
                            <a href="https://www.bergen.kommune.no/omkommunen/arealplaner" title="Arealplaner">Arealplaner</a>
                        </li>
                        <li>
                            <a href="https://www.bergen.kommune.no/aktuelt/kunngjoringer" title="Kunngjorte planer">Kunngjorte planer</a>
                        </li>
                        <li>
                            <a href="https://www.bergen.kommune.no/tjenestetilbud/bolig-og-eiendom/eiendom/eiendomsregister/basiskart-naboliste-matrikkelbrev-planinfo" title="Kart og naboliste">Kart og naboliste</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="col_md_4 col_lg_4 equal_height_item">
                        
            <div class="tout_container">
                <h2 class="tout_header">
                    Offentlig innsyn
                </h2>
                <div class="tout_excerpt">
                    <ul>
                        <li>
                            <a href="http://www3.bergen.kommune.no/offentligjournal/" title="Postjournal">Postjournal</a>
                        </li>
                        <li>
                            <a href="https://www.bergen.kommune.no/omkommunen/offentlig-innsyn/" title="Innsyn">Innsyn</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    
    
    {{> organisms-forsidekontakt }}    
    
   
</main>
{{> organisms-footer }}