{{# loggetInnSomAnsatt }}
    <div class="web-editor-info--header clearfix">
        <div class="smMa desktop_centered">
            <span class="mrm">BkPublisering</span>
            <a href="{{ link.pages-sideoversikt }}" title="Sideoversikt" class="button inverted mbn">Til sideoversikt</a>
            <div class="web-editor-info--header--profil-info">
                Innlogget som: {{ loggetInnSomAnsatt }}
                <span class="seperator">|</span>
                <a href="#" title="Logg ut" class="external_link">Logg ut</a>
            </div>
        </div>
    </div>
{{/ loggetInnSomAnsatt }}