{{# redigerDigitaltSkjema }}
    <div class="{{ styleModifier }}">
        <h2 class="helpers_header">Digitalt skjema</h2>
        <p class="helpers_info mbl">Forklaring</p>
        <a class="button important" href="{{ url }}">{{knappTekst}}</a>
        {{# visSletteKnapp}}
            <a href="#" title="Fjern digitalt skjema" class="button button--remove mlml">
                Fjern
            </a>
            {{/ visSletteKnapp}}
    </div>
{{/ redigerDigitaltSkjema }}
