{{> organisms-header-varianter }}

{{# redigeringsmodusknapp }}
    <div class="emb_container smMa desktop_centered {{ styleModifier }}">
        {{> atoms-redigeringsmodusknapp }}
    </div>
{{/ redigeringsmodusknapp }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    {{# panel }}
        <div class="panel_container">
            {{> molecules-panel }}
        </div>
    {{/ panel }}
    {{> molecules-sideoverskrift-h1:mbxl }}

    <div class="row_no_clearfix service_link_container equal_height_container mbj">
        {{# ibhKategorier }}
            <div class="col_md_6 col_lg_4 clear_col_md_6 clear_col_lg_4 equal_height_item{{# draOgFlytt }} linkbox-dragula-container{{/ draOgFlytt }}">
                {{> molecules-lenkeboks-tjenestekategori:mbm--mob|mbl }}
            </div>
        {{/ ibhKategorier }}
    </div>

    {{# feilmelding }}
        {{> organisms-service-snarvei:mbj }}
    {{/ feilmelding }}

</main>
{{> organisms-footer }}
