{{# los1Element }}
<div class="col_md_6 col_lg_6 clear_col_md_6 clear_col_lg_6 equal_height_item">
    <div class="cat_1_big_link_container">
        <h2 class="cat_1_header">
            <a href="{{ url }}" title="{{ tittel }}" class="cat_1_link">
                {{ tittel }}
            </a>
        </h2>

        <a href="{{ url }}" title="{{ tittel }}" id="{{ storIkon }}" class="service_icon"></a>
        <ul class="cat_1_shortcuts_list">
            {{# linkliste }}<li>
                <a href="{{ url }}" title="{{ tittel }}">
                    {{ tittel }}</a></li>{{/ linkliste }}
        </ul>
    </div>
</div>
{{/ los1Element }}