<div class="mbxxl">
    <h3 class="sidebar-header sidebar-header--open mbm">
        <a class="sidebar-header__toggle" href="#"> Plassering i menyen
            <span class="arrow-icon"></span>
        </a>
    </h3>

    <div>
        <div class="move-article form-element" *ngIf="flytteTreNoder && visPlassering">
            <label for="plassering" class="form-element__label form-element__label--dropdown-icon form">
                <span class="screen-reader-text">Plassering i menyen</span>
                <div class="form-element__helptext mbs">Flytt artikkelen til nytt menypunkt</div>
                <select id="plassering" name="Etikett" class="form-element__dropdown">
                    {{#kategori}}
                    <option {{#disabled}}disabled{{/disabled}}> {{{kategoritittel}}}</option>
                    {{/kategori}}
                </select>
            </label>
        </div>
    </div>
</div>
