<div class="module {{ styleModifier }}">
    <div class="moduleStory">
        {{# imgLandscape }}
            <div class="excerpt_image_container_ruu">
                <a href="{{ url }}" title="{{ tittel }}">
                    <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}">
                </a>
            </div>
        {{/ imgLandscape }}
        <div class="excerpt_story_container_ruu">            
            {{# stikktittel }}
                <h3 class="teaser_kicker">{{ stikktittel }}</h3>
            {{/ stikktittel }}
            <h2 class="teaser_title">
                <a href="{{ url }}" title="{{ tittel }}">
                    <span class="read_more_link_large">
                        {{ tittel }}
                    </span>
                </a>
            </h2>
            {{# ingress }}
            <p class="story_excerpt">		
                {{ ingress }}
            </p>
            {{/ ingress }}
        </div>
    </div>
</div>