{{> organisms-header-4 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    {{> molecules-sideoverskrift-h1:mbl(sidetittel: "Dokument") }}

    <div class="row">
        <div class="col_md_12 col_lg_12 mbl">
            {{> molecules-flex-tabell }}
        </div>
        <div class="col_md_12 col_lg_12 mbl">
            <button class="button button--search">Bestill innsyn</button>
        </div>
    </div>



</main>
{{> organisms-footer }}