<div id="js_accordion_container" class="accordion">
    
    {{# accordionItem }}
        <div class="accordion__item js_accordion_item">
            <h3 class="accordion__item__header">
                <a class="js_toggle_accordion_link" title="{{ accordionTittel }}" href="#">
                    {{ accordionTittel }}
                    <span class="arrow-icon"></span>
                </a>
            </h3>
            <div class="accordion__item__content">
                
                <div class="service_content_max_width">
                    {{{ accordionTekst }}}
                </div>

            </div>
        </div>
    {{/ accordionItem }}    
    
</div>