<div id="js_accordion_container" class="accordion">
    
    {{# accordionItem }}
        <div class="accordion__item js_accordion_item">
            <h3 class="accordion__item__header">
                <a class="js_toggle_accordion_link" title="{{ accordionTittel }}" href="#">
                    {{ accordionTittel }}
                    <span class="arrow-icon"></span>
                </a>
            </h3>
            <div class="accordion__item__content article__content mbn">
                {{{ accordionTekst }}}
            </div>
        </div>
    {{/ accordionItem }}
    {{# testInnhold }}
        <div class="accordion__item js_accordion_item">
            <h3 class="accordion__item__header">
                <a class="js_toggle_accordion_link" title="Testinnhold" href="#">
                    Testinnhold
                    <span class="arrow-icon"></span>
                </a>
            </h3>
            <div class="accordion__item__content article__content mbn">
                <p>Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt.</p>
                <h3>Overskrift H3</h3>
                <p>Dette er et testavsnitt. <a href="">Dette er et testavsnitt</a>. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt.</p>
                
                <ul>
                    <li><a href="">Dette er et testavsnitt</a></li>
                    <li>Dette er et testavsnitt</li>
                    <li>
                        Dette er et testavsnitt
                        <ul>
                            <li>Dette er et testavsnitt</li>
                            <li>Dette er et testavsnitt</li>
                            <li>Dette er et testavsnitt</li>
                        </ul>
                    </li>
                    <li>Dette er et testavsnitt</li>
                </ul>
                <p>Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt.</p>
                <ol>
                    <li>Dette er et testavsnitt</li>
                    <li>Dette er et testavsnitt</li>
                    <li>
                        Dette er et testavsnitt
                        <ul>
                            <li>Dette er et testavsnitt</li>
                            <li>Dette er et testavsnitt</li>
                            <li>Dette er et testavsnitt</li>
                        </ul>
                    </li>
                    <li>Dette er et testavsnitt</li>
                </ol>
                
                <h3>Overskrift H3</h3>
                <p>Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt.</p>
                <h4>Overskrift H4</h4>
                <p>Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt.</p>
                <h5>Overskrift H5</h5>
                <p>Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt.</p>
                <h6>Overskrift H6</h6>
                <p>Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt. Dette er et testavsnitt.</p>
                
                <figure class="align_center article__figure">
                    <a class="lightbox article__figure-link" href="">
                        <img alt="{{imgLandscape.alt}}" src="{{imgLandscape.src}}" class="article__figure-image">
                    </a>
                    <figcaption class="article__figcaption">
                        <div class="article__figcaption-tekst">Lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere.</div>
                        <div class="article__figcaption-credit">BILDE: Foto Geni</div>
                    </figcaption>
                </figure>

                <h3>Vedlegg</h3>
                <div class="file-container">
                    <a href="/bk/multimedia/archive/00245/Tips_til_huseiere___245611a.pdf" title="Tips til huseiere: Overvann og klimatilpasning" class="file-link">
                        <span class="file-icon pdf">
                            <span class="screen-reader-text">pdf</span>
                        </span>
                        <span class="file-title">PDF-tips til huseiere: Overvann og klimatilpasning</span>
                        <span class="file-info">[1.8 Mb]</span>
                    </a>
                </div>
                <div class="file-container">
                    <a href="#" title="" class="file-link">
                        <span class="file-icon docx">
                            <span class="screen-reader-text">docx</span>
                        </span>
                        <span class="file-title">Viktig info i word</span>
                        <span class="file-info">[100.8 Mb]</span>
                    </a>
                </div>
                <div class="file-container">
                    <a href="#" title="" class="file-link">
                        <span class="file-icon ppt">
                            <span class="screen-reader-text">ppt</span>
                        </span>
                        <span class="file-title">En presentasjon</span>
                        <span class="file-info">[102.8 Mb]</span>
                    </a>
                </div>
                <div class="file-container">
                    <a href="#" title="" class="file-link">
                        <span class="file-icon xls">
                            <span class="screen-reader-text">xls</span>
                        </span>
                        <span class="file-title">En excel-tabell</span>
                        <span class="file-info">[104.8 Mb]</span>
                    </a>
                </div>
                <div class="file-container">
                    <a href="#" title="" class="file-link">
                        <span class="file-icon htm">
                            <span class="screen-reader-text">htm</span>
                        </span>
                        <span class="file-title">En html-fil</span>
                        <span class="file-info">[106.8 Mb]</span>
                    </a>
                </div>
                <div class="file-container">
                    <a href="#" title="" class="file-link">
                        <span class="file-icon skjema">
                            <span class="screen-reader-text">skjema</span>
                        </span>
                        <span class="file-title">Et skjema</span>
                        <span class="file-info">[206.8 Mb]</span>
                    </a>
                </div>
                <div class="file-container">
                    <a href="#" title="" class="file-link">
                        <span class="file-icon jpg">
                            <span class="screen-reader-text">jpg</span>
                        </span>
                        <span class="file-title">Et bilde</span>
                        <span class="file-info">[2.8 Gb]</span>
                    </a>
                </div>

                <h2>Kontakt oss ved feil:</h2>

                <figure class="align_right article__figure">
                    <a class="lightbox article__figure-link" href="">
                        <img alt="{{imgLandscape.alt}}" src="{{imgLandscape.src}}" class="article__figure-image">
                    </a>
                    <figcaption class="article__figcaption">
                        <div class="article__figcaption-tekst">Lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere.</div>
                        <div class="article__figcaption-credit">BILDE: Foto Geni</div>
                    </figcaption>
                </figure>
                    
                <p>Kommunen jobber forebyggende, men er også i beredskap og håndterer hendelser    fortløpende.</p>

                <p>Har du meldinger om feil og mangler på offentlig vei, vann, avløp og miljø -    også om rister, sluk og bekkeinntak er tette - kan du kontakte <a href="">Vaktsentralen</a>, tlf. 5556 7815 eller registrere på <a target="_blank" href="" class="external_link" title="Åpnes i nytt vindu">MELD INN FEIL.</a>
                </p> 
                
            </div>
        </div>
    {{/ testInnhold }}
    
</div>