<div class="page_footer {{ styleModifier }}">
    <div class="row">
        <div class="col_md_6 col_lg_6">
            <p>
                Publisert: {{# publisertDato }}{{ publisertDato }}{{/ publisertDato }}
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                Oppdatert: {{# oppdatertDato }}{{ oppdatertDato }}{{/ oppdatertDato }}
            </p>
        </div>
        <div class="col_md_6 col_lg_6 meta_info">
            <p>
                Ansvarlig avdeling:
                {{# organisasjonsenhet }}
                <a href="{{ organisasjonsenhet.url }}" title="{{ organisasjonsenhet.tittel }}">
                    {{ organisasjonsenhet.tittel }}
                </a>
                {{/ organisasjonsenhet }}
            </p>
        </div>
    </div>
</div>