{{> organisms-header-2 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h2-med-lenke:mbn--mobtab(sidetittel: "{{ organisasjonsenhet.tittel }}", url: "{{ organisasjonsenhet.url }}") }}

    <div class="row">
        <div class="col_md_12 col_lg_4">

            {{> molecules-org-meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">



	<div class="rssicon_floatRight">
		<a href="" type="application/rss+xml" rel="alternate" title="Abonner med RSS">RSS - abonner</a>
	</div>

<!-- TEMPLATE:   sec_005fdefault_jsp -->

<!-- TEMPLATE:   grid_005f15_005fartikler_005fsp_005fpf_jsp -->

	
	<div id="newsFP">
        
        <h1 class="module_header">Oppgradering av renseanlegg</h1>

<!-- TEMPLATE:   sp_005fgridEditButtons_jsp -->

        <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->


<div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">
    <div class="moduleStory">
        <div class="excerpt_image_container_ruu">
            <a href="#">
                <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00282/14657667_1015380172_282645n.jpg" alt="Kloakk blir til drivstoff!">
            </a>
        </div>
        <div class="excerpt_story_container_ruu">
            <div class="excerpt_date">31.10.2016</div>
            <h4 class="teaser_kicker">Stikktittel</h4>
            <h3 class="teaser_title">
                <a href="#">
                    <span class="read_more_link read_more_link--22">
                        Kloakk blir drivstoff
                    </span>
                </a>
            </h3>
            <p class="story_excerpt">
                Det krever store ressurser å rense avløpsvann fra 300 000 personer. Bergens største løft for vannmiljøet er nå i ferd med å ferdigstilles. Ikke bare får vi en renere fjord, som vi vil også få utnyttet slamavfallet på en best mulig måte; til miljøvennlig biogass som etter hvert skal drifte byens busser!  
            </p>
            <p class="story_readmore">
                <a class="readmore read_more_link" href="{{ link.pages-artikkel }}" title="Ibsen gate stengt 18. juni-18. august">
                    Les meir om dette
                </a>
                <small class="date">(31.10.2016)</small>
            </p>
        </div>



<!-- TEMPLATE:   simpleEditorCheck_jsp -->


  </div>
</div>


<!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->


<div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">

  
  

  <div class="moduleStory">
    
      
      <div class="excerpt_image_container_ruu">
        <a href="#">
        
        
          <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00270/Grovrister_Flesland_270456n.jpg" alt="Bedre rensing enn noensinne på Flesland renseanlegg">
        
        </a>
      </div>
    

    <div class="excerpt_story_container_ruu">
    
      <div class="excerpt_date">31.10.2016</div>
    
      <h3 class="teaser_title">
        
          
            <a href="#">
                <span class="read_more_link read_more_link--22">
                    Bedre rensing enn noensinne på Flesland renseanlegg
                </span>
            </a>    
      </h3>
    
    <p class="story_excerpt">
        Grovristene på Flesland er i gang &ndash; snart står resten av anlegget ferdig. Dette første rensetrinnet renser i seg selv bedre enn det gamle anlegget noen gang har klart.
    </p>

    <p class="story_readmore">      
        <small class="date">(31.10.2016)</small>
    </p>

      
      </div>



<!-- TEMPLATE:   simpleEditorCheck_jsp -->


  </div>
</div>


<!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->


<div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">

  
  

  <div class="moduleStory">
    
      
      <div class="excerpt_image_container_ruu">
        <a href="#">
        
        
          <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00241/Bilde_038_241874n.jpg" alt="Investerer stort i vannmiljø">
        
        </a>
      </div>
    

    <div class="excerpt_story_container_ruu">

    
    
      <div class="excerpt_date">15.09.2016</div>

    
      <h3 class="teaser_title">
        
          
            <a href="#">
                <span class="read_more_link read_more_link--22">
                    Investerer stort i vannmiljø
                </span>
            </a>    
      </h3>
    
    <p class="story_excerpt">
        Det krever store ressurser å rense avløpsvann fra 300 000 personer. Nå er Bergens største løft for vannmiljøet i ferd med å ferdigstilles.
    </p>

    <p class="story_readmore">      
        <small class="date">(15.09.2016)</small>
    </p>
      </div>
      




<!-- TEMPLATE:   simpleEditorCheck_jsp -->


  </div>
</div>



<!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->


<div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">

  
  

  <div class="moduleStory">
    
      
      <div class="excerpt_image_container_ruu">
        <a href="#">
        
        
          <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00248/12049629_5369905198_248277n.jpg" alt="Nye Kvernevik renseanlegg er tatt i bruk!">
        
        </a>
      </div>
    
<div class="excerpt_story_container_ruu">

    
        <div class="excerpt_date">13.09.2016</div>
    
      <h3 class="teaser_title">
        
          
            <a href="#">
                <span class="read_more_link read_more_link--22">
                    Nye Kvernevik renseanlegg er tatt i bruk!
                </span>
            </a>    
      </h3>
    
    <p class="story_excerpt">
        Anlegget ble åpnet den 4. desember 2015, og med det er utbyggingen av anlegget i mål.
    </p>

    <p class="story_readmore">      
        <small class="date">(13.05.2016)</small>
    </p>

      </div>


<!-- TEMPLATE:   simpleEditorCheck_jsp -->


  </div>
</div>


<!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->


<div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">

  
  

  <div class="moduleStory">
    
      
      <div class="excerpt_image_container_ruu">
        <a href="#">
        
        
          <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00248/DSC_6144_248289n.jpg" alt="Oppgradering av Holen renseanlegg ">
        
        </a>
      </div>
    
      <div class="excerpt_story_container_ruu">
    
          <div class="excerpt_date">13.09.2016</div>
    
      <h3 class="teaser_title">
        
          
            <a href="#">
                <span class="read_more_link read_more_link--22">
                    Oppgradering av Holen renseanlegg
                </span>
          </a>    
      </h3>
    
    <p class="story_excerpt">
        Holen avløpsrenseanlegg tar i dag i mot avløpsvann fra det aller meste av Bergensdalen, halve sentrum, Solheimsviken, Damsgård, Laksevåg, Gravdal og Nipedalen.
    </p>

    <p class="story_readmore">    
        <small class="date">(13.05.2016)</small>
    </p>

      </div> 




<!-- TEMPLATE:   simpleEditorCheck_jsp -->


  </div>
</div>


<!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->


<div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">

  
  

  <div class="moduleStory">
    
      
      <div class="excerpt_image_container_ruu">
        <a href="#">
        
        
          <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00241/DSC_5183_241876n.jpg" alt="Ytre Sandviken renseanlegg er tatt i bruk">
        
        </a>
      </div>
    
<div class="excerpt_story_container_ruu">

    
    <div class="excerpt_date">13.09.2016</div>
    
      <h3 class="teaser_title">
        
          
            <a href="#">
                <span class="read_more_link read_more_link--22">
                    Ytre Sandviken renseanlegg er tatt i bruk
                </span>
            </a>    
      </h3>
    
    <p class="story_excerpt">
        - Dette er et kjempestort miljøløft for Bergen, sa byråd Henning Warloe da han åpnet Norges tøffeste og Europas mest kompakte renseanlegg, nye Ytre Sandviken renseanlegg.
    </p>

    <p class="story_readmore">
        <small class="date">(13.05.2016)</small>
    </p>

      
      </div>



<!-- TEMPLATE:   simpleEditorCheck_jsp -->


  </div>
</div>


<!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->


<div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">

  
  

  <div class="moduleStory">
    
      
      <div class="excerpt_image_container_ruu">
        <a href="#">
        
        
          <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00127/Fjord_127455n.jpg" alt="Storstilt miljøløft for avløpsrenseanleggene i Bergen">
        
        </a>
      </div>
    

    <div class="excerpt_story_container_ruu">

    <div class="excerpt_date">15.09.2016</div>

    
      <h3 class="teaser_title">
        
          
            <a href="#">
                <span class="read_more_link read_more_link--22">
                    Storstilt miljøløft for avløpsrenseanleggene i Bergen
                </span>
            </a>    
      </h3>
    
    <p class="story_excerpt">
        Fire av byens største avløpsrenseanlegg gjennomgår en kraftig oppgradering for å oppfylle krav til rensing av avløpsvann. På denne måten vil vi sørge for best mulig vannkvalitet i fjordene rundt byen vår.
    </p>

    <p class="story_readmore">
        <small class="date">(15.09.2016)</small>
    </p>
      </div>
      



<!-- TEMPLATE:   simpleEditorCheck_jsp -->


  </div>
</div>


<!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->


<div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">

  
  

  <div class="moduleStory">
    
      
      <div class="excerpt_image_container_ruu">
        <a href="#">
        
        
          <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00247/DSC_6095_247537n.jpg" alt="Stort beboerengasjement om nytt biogassanlegg">
        
        </a>
      </div>
    

    <div class="excerpt_story_container_ruu">

    
        <div class="excerpt_date">16.10.2016</div>
    
      <h3 class="teaser_title">
        
          
            <a href="#">
                <span class="read_more_link read_more_link--22">
                    Stort beboerengasjement om nytt biogassanlegg
                </span>
            </a>    
      </h3>
    
    <p class="story_excerpt">
        Fare, lukt og støy var hovedbekymringene til beboerne som møtte til informasjonsmøte om nytt biogassanlegg i Rådalen den 13. oktober. 
    </p>

    <p class="story_readmore">
        <small class="date">(16.10.2015)</small>
    </p>

      </div>




<!-- TEMPLATE:   simpleEditorCheck_jsp -->


  </div>
</div>


<!-- TEMPLATE:   archiveLink_jsp -->
{{> molecules-les-mer:toarchive|read_more_link_container--larger-font(lesMerTekst: "Arkiv", url: "{{ link.pages-arkivliste }}", antall: false) }}


	
	
	
	    
	</div>
	





                        

                        

                        

                        

                        

                        

                        

                        

                        

                        


                    









        </div>
    </div>
</main>
{{> organisms-footer }}