<ul class="service-application-list {{ styleModifier }}">
    {{# skjemaListe }}
        <li class="{{# harTjenesteSubListe }}has-children{{/ harTjenesteSubListe }}">
            <a href="{{ url }}" class="application-link header-link">
                {{ tittel }}
            </a>
            {{# harTjenesteSubListe }}        
                <div class="screen-reader-text">Tjenester som er tilknyttet:</div>
                <ul class="link_list">
                    {{# tjenesteSubListe }}
                        <li>
                            <a href="{{ url }}">
                                {{ tittel }}
                            </a>
                        </li>
                    {{/ tjenesteSubListe }}
                </ul>
            {{/ harTjenesteSubListe }}
        </li>
    {{/ skjemaListe }}
</ul>
