{{> organisms-header-1 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h1:mbxl(visH2: "true", title: "Utbyggingsavtale", sidetittel: "Paradis sentrum") }}

    <div class="row">
        <div class="col_md_12 col_lg_8">
            
            
            <div class="module_box_style mbxl">
                <div class="row">
                    <div class="col_md_6 col_lg_6">
                        <p class="mbm">
                            Annonseringsdato: 09.09.2017
                            <br>
                            Merknadsfrist: 08.10.2017
                            <br>
                            Saksnummer: 201501943
                            <br>
                            Arealplan-ID: 60760000  - <a href="http://www.bergenskart.no/braplan/planInnsyn.jsp?planid=60760000 &amp;kildeid=1201" target="_blank">Åpne i planarkiv</a>
                        </p>
                    </div>
                    <div class="col_md_6 col_lg_6">
                        <p class="mbm">
                            Status: Høring/offentlig ettersyn - avtale
                            <br>
                            Bydel: Fana
                        </p>
                    </div>
                </div>
            </div>
            
            
            <div id="kunngjoring">
                <div id="newsDetail">
                    <div class="module kunngjoring">
                        
                        <!-- vedlegg dokumenter -->
                        <div class="relatedContent relatedContentBox">
                            <div class="multimedia">
                                <h3 class="related_content_header">Saksdokumenter</h3>
                                <ul>            							
                                    <li class="file">
                                        <a href="" title="Bilde (jpg)" class="multimedia_link">
                                            <span class="icon file_jpg">file_jpg</span>
                                            <span class="file_title">Bilde (jpg)</span>
                                            <span class="file_size">[605 kb]</span>   
                                        </a>            										
                                    </li>
                                    <li class="file">
                                        <a href="" title="Lorem ipsum" class="multimedia_link">
                                            <span class="icon icon_word">icon_word</span>
                                            <span class="file_title">Lorem ipsum</span>
                                            <span class="file_size">[20 kb]</span>      
                                        </a>            										
                                    </li>
                                    <li class="file">
                                        <a href="" title="Nyttt regelverk skolemiljø" class="multimedia_link">
                                            <span class="icon icon_pdf">icon_pdf</span>
                                            <span class="file_title">Nytt regelverk</span>
                                            <span class="file_size">[131 kb]</span>    
                                        </a>            										
                                    </li>
                                    <li class="file">
                                        <a href="" title="Merknadsskjema_planoppstart__datert_2008_(2009_2010)" class="multimedia_link">
                                            <span class="icon icon_pdf">icon_pdf</span>
                                            <span class="file_title">Merknadsskjema_planoppstart__datert_2008_(2009_2010)</span>
                                            <span class="file_size">[432 kb]</span>                                					                        
                                        </a>            										
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="relatedContent relatedContentBox">
                            <ul>
                                <li>
                                    <a href="http://www.bt.no">Bergens Tidende</a>
                                </li>
                                <li>
                                    <a href="http://www.vg.no">Verdens Gang</a>
                                </li>
                                <li>
                                    <a href="http://www.barnebokinstituttet.no/">Norsk barnebokinstitutt</a>
                                </li>
                            </ul>
                        </div>

                        <div class="factbox relatedContentBox">
                            <h2 class="related_content_header">Merknad</h2>
                            <p>Har du merknader til utbyggingsavtalen? Send oss dine synspunkter og innspill ved å klikke lenken under.<br>
                            </p>
                            <p>
                                <a href="/skjema/Info.aspx?ShortName=BK039-BYGG-utbyggingsforslag&amp;saksnr=201501943" title="Send innspill" class="button mbn">Send innspill</a>
                            </p>
                        </div>

                        <p class="ingress">Bergen kommune har framforhandlet utbyggingsavtale med Paradis Næringseiendom AS om ny infrastruktur på Paradis.</p>

                        <div class="article_body_content">
                            <p> Paradis Næringseiendom AS er utbygger av felt S5 og S7 i områdeplan Paradis    sentrum, , vedtatt av bystyret i sak 280/14. Utbyggingsavtalen regulerer    ansvar for finansiering og opparbeiding av ny infrastruktur i form av ny    gatestruktur, gang-og sykkelveier, gangbro og offentlige torg, jf.    rekkefølgebestemmelsene i områdeplanen.  </p> <p>  <b>Merknader</b>  </p> <p> Eventuelle merknader til utbyggingsavtalen sendes som epost via merknadsboksen    på denne siden.  </p> 
                        </div>
                        
                        <div class="relatedContent noFloat">
                            <h2 class="related_content_header">Flere artikler</h2>
                            <ul class="with_date">
                                <li>
                                    <a href="/omkommunen/avdelinger/skoler/gimle-oppveksttun-skole/7765?artSectionId=7765&amp;articleId=148327">
                                        <span class="title">Tester Web Studio</span>
                                        <span class="date"><small>(20.09.2017)</small></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/omkommunen/avdelinger/skoler/gimle-oppveksttun-skole/7765?artSectionId=7765&amp;articleId=148307">
                                        <span class="title">Tester all funksjonalitet</span>
                                        <span class="date"><small>(19.09.2017)</small></span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="article_footer_print_link_container">
                            <a href="javascript:window.print()" title="Skriv ut">
                                <span class="icon-print grunt-icon grunt-icon--32"></span>
                                <span class="print_link_txt">Skriv ut</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            
        </div>
    </div>
</main>
{{> organisms-footer }}