{{> organisms-header-3 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    {{> molecules-sideoverskrift-h1-med-flag:mbml(sidetittel: "Betalingsløsning for Skatt for personlige skatteytere") }}
    
    <div class="row">
        <div class="col_lg_8 col_md_12">
            
            <div class="service_content_max_width">
                <p>Fra og med første januar 2017, er det ikke lengre mulig å betale skattekrav med kontanter hos kemneren. Kemnerens nettbaserte betalingsløsning gir deg nå mulighet til å betale dine personlige skattekrav på nett. Ønsker du å betale med norsk debet kort, har du fremdeles mulighet til å gjøre dette i ekspedisjonen hos kemneren i Nonnesetergaten 4.</p>

                {{> molecules-kemner-betalingsinformasjon}}
            </div>
            
        </div>
    </div>

</main>
{{> organisms-footer }}