{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    <div class="mbl">
        {{> molecules-sideoverskrift-h1(sidetittel: "{{ sidetittel }}") }}
    </div>
        
    <div class="row">
        <div class="col_12">
            

            {{> molecules-link-liste:mbj }}
            
        </div>
    </div>
</main>
{{> organisms-footer }}