{{# patterninfo }}<p class="mbn"><code>kladd ikke lagret:</code></p>{{/ patterninfo }}
{{# kladdIkkeLagret }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_left">
            <h1 class="action-line__status">KLADD</h1>
        </div>
        <div class="align_right">
            <span class="action-line__preview-link action-line__preview-link--disabled">
                <span class="icon-preview--silver grunt-icon grunt-icon--32"></span>
                Forhåndsvis
            </span>
            <button class="button button--success" disabled>Lagre kladd</button>
            <button class="button" disabled>Publiser</button>
        </div>
    </div>
{{/ kladdIkkeLagret }}
{{# patterninfo }}<p class="mbn"><code>kladd lagret:</code></p>{{/ patterninfo }}
{{# kladdLagret }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_left">
            <h1 class="action-line__status">KLADD</h1>
        </div>
        <div class="align_right">
            <a href="{{ url }}" class="action-line__preview-link">
                <span class="icon-preview grunt-icon grunt-icon--32"></span>
                Forhåndsvis</a>
            <button class="button button--success active">Lagre kladd</button>
            <button class="button">Publiser</button>
        </div>
    </div>
{{/ kladdLagret }}
{{# patterninfo }}<p class="mbn"><code>publisert:</code></p>{{/ patterninfo }}
{{# publisert }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_left">
            <h1 class="action-line__status">PUBLISERT</h1>
        </div>
        <div class="align_right">
            <a href="{{ url }}" class="action-line__preview-link">
                <span class="icon-preview grunt-icon grunt-icon--32"></span>
                Forhåndsvis</a>
            <button class="button button--success active">Oppdater</button>
        </div>
    </div>
{{/ publisert }}
{{# patterninfo }}<p class="mbn"><code>forhandsvisning:</code></p>{{/ patterninfo }}
{{# forhandsvisning }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_left">
            <div class="action-line__status">FORHÅNDSVISNING</div>
        </div>
        <div class="align_right">
            <button class="button">Lukk forhåndsvisning</button>
        </div>
    </div>
{{/ forhandsvisning }}
{{# patterninfo }}<p class="mbn"><code>utgatt:</code></p>{{/ patterninfo }}
{{# utgatt }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_left">
            <h1 class="action-line__status">UTGÅTT</h1>
        </div>
        <div class="align_right">
            <a href="{{ url }}" class="action-line__preview-link">
                <span class="icon-preview grunt-icon grunt-icon--32"></span>
                Forhåndsvis</a>
            <button class="button button--success active">Lagre</button>
            <button class="button">Publiser</button>
        </div>
    </div>
{{/ utgatt }}
{{# patterninfo }}<p class="mbn"><code>escenic-artikkel:</code></p>{{/ patterninfo }}
{{# escenicArtikkel }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_left">
            <div class="action-line__status">ESCENIC ARTIKKEL</div>
        </div>
        <div class="align_right">
            <button class="button button--danger">Slett</button>
            <button class="button button--success active">Behold</button>
        </div>
    </div>
{{/ escenicArtikkel }}
{{# patterninfo }}<p class="mbn"><code>artikkelliste:</code></p>{{/ patterninfo }}
{{# artikkelliste }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_right">
            <a href="#js_openModalNyPeker" class="button js_openModal">Ny peker</a>
            <button class="button">Ny artikkel</button>
        </div>
    </div>
{{/ artikkelliste }}
{{# patterninfo }}<p class="mbn"><code>kunngjøringsliste:</code></p>{{/ patterninfo }}
{{# kunngjoringsliste }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_right">
            <button class="button">Ny kunngjøring</button>
        </div>
    </div>
{{/ kunngjoringsliste }}
{{# patterninfo }}<p class="mbn"><code>sidehistorikk:</code></p>{{/ patterninfo }}
{{# sidehistorikk }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_left">
            <div class="action-line__status">SIDEHISTORIKK</div>
        </div>
        <div class="align_right">
            <a href="{{ url }}" class="button">Lukk sidehistorikk</a>
        </div>
    </div>
{{/ sidehistorikk }}
{{# patterninfo }}<p class="mbn"><code>sideoversikt:</code></p>{{/ patterninfo }}
{{# sideoversikt }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <h1 class="action-line__status">SIDEOVERSIKT</h1>
    </div>
{{/ sideoversikt }}
{{# ny-temaside }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_right">
            <button class="button button--success active">Opprett</button>
        </div>
    </div>
{{/ ny-temaside }}
{{# rediger-temaside }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_right">
            <button class="button button--success active">Lagre</button>
            <button class="button">Publiser</button>
        </div>
    </div>
{{/ rediger-temaside }}
{{# ny-faktaside }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_right">
            <button class="button button--success active">Opprett</button>
        </div>
    </div>
{{/ ny-faktaside }}
{{# rediger-faktaside }}
    <div class="action-line hidden-on-print {{ styleModifier }}">
        <div class="align_right">
            <button class="button button--success active">Lagre</button>
            <button class="button">Publiser</button>
        </div>
    </div>
{{/ rediger-faktaside }}
