{{> organisms-header-1 }}
<main id="innhold" tabindex="-1">
        
    <div class="hvaskjer_grid">
        
        <div class="smMa desktop_centered">
            
            <div class="page_header_container--hvaskjer">
                {{> molecules-sideoverskrift-h1:mbl(sidetittel: "Hva skjer") }}
            </div>
            
            {{# meny }}
            {{> molecules-hva-skjer-meny }}
            {{/ meny }}

        </div><!-- end .smMa desktop_centered -->
            
        
        <div class="smMa desktop_centered">
            
            <!-- Escenic: toppsak -->
            <div class="toppsak">                
                {{# toppsak }}
                    {{> organisms-escenic-elementmal:normal_med_ingress_bilde_med_oppdatert_dato_sp_pf }}
                {{/ toppsak }}                
            </div>
            
            
            
            
            <!-- Escenic: Saker -->
            <div class="row">
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak1 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ sakerSak1 }}
                </div>
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak2 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ sakerSak2 }}
                </div>
            </div>

            <div class="row">
                <div class="col_md_4 col_lg_4">                    
                    {{# sakerSak3 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ sakerSak3 }}
                </div>
                <div class="col_md_4 col_lg_4">                    
                    {{# sakerSak4 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ sakerSak4 }}
                </div>
                <div class="col_md_4 col_lg_4">                    
                    {{# sakerSak5 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ sakerSak5 }}
                </div>
            </div>

            <div class="row">
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak6 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ sakerSak6 }}
                </div>
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak7 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ sakerSak7 }}
                </div>
            </div>

            <div class="row teaser_small_container">
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak8 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ sakerSak8 }}
                </div>
                <div class="col_md_6 col_lg_6">                    
                    {{# sakerSak9 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ sakerSak9 }}                    
                </div>
            </div>

        </div><!-- end .smMa desktop_centered -->
            
            
            
            
        <!-- Escenic: Temaboks -->
        <div class="teaser_topic_container mbj">
            <div class="smMa desktop_centered">            
        
                <div class="toppsak">
                    {{# temaboksSak1 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ temaboksSak1 }}
                </div>
                
                <div class="row">
                    <div class="col_md_6 col_lg_6">
                        {{# temaboksSak2 }}
                            {{> organisms-escenic-elementmal }}
                        {{/ temaboksSak2 }}
                    </div>
                    <div class="col_md_6 col_lg_6">
                        {{# temaboksSak3 }}
                            {{> organisms-escenic-elementmal }}
                        {{/ temaboksSak3 }}
                    </div>
                </div>
                
            
            </div><!-- end .smMa desktop_centered -->
        </div>
            
            
            
            
        <!-- Escenic: Bunnsaker -->
        <div class="smMa desktop_centered">            
            
                
            <div class="row teaser_small_container">
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak1 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ bunnsakerSak1 }}
                </div>
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak2 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ bunnsakerSak2 }}
                </div>
            </div>
            
            <div class="row">
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak3 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ bunnsakerSak3 }}
                </div>
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak4 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ bunnsakerSak4 }}
                </div>
            </div>
            
            <div class="row teaser_small_container">
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak5 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ bunnsakerSak5 }}
                </div>
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak6 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ bunnsakerSak6 }}
                </div>
            </div>
            <div class="row teaser_small_container">
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak7 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ bunnsakerSak7 }}
                </div>
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak8 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ bunnsakerSak8 }}
                </div>
            </div>

            <div class="row">
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak9 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ bunnsakerSak9 }}
                </div>
                <div class="col_md_6 col_lg_6">
                    {{# bunnsakerSak10 }}
                        {{> organisms-escenic-elementmal }}
                    {{/ bunnsakerSak10 }}
                </div>
            </div>
            
            
            
            
            <!-- TEMPLATE:   archiveLink_jsp -->
            <div class="toarchive read_more_link_container">
                <a href="#" class="readmore read_more_link" title="Arkiv">Arkiv</a>
            </div>
        
        
        </div><!-- end .smMa desktop_centered -->
    </div><!-- end .hvaskjer_grid -->
    
    
</main>
{{> organisms-footer }}