<ul class="schedules_list_0">
    {{# schedulesList }}
    <li>
        
        {{# fileListHeader1 }}
            <h2 class="schedules_list_header_1">{{ fileListHeader1 }}</h2>
        {{/ fileListHeader1 }}        
           
        <ul class="schedules_list_1">
            
            {{# child1 }}
                <li class="schedules_list_item_1">                    
                    {{# fileListHeader2 }}
                        <h3 class="schedules_list_header_2">{{ fileListHeader2 }}</h3>
                    {{/ fileListHeader2 }}
                    
                    <ul class="schedules_list_2">
            
                        {{# child2 }}
                            <li>                    
                                {{# fileListHeader3 }}
                                    <h4 class="schedules_list_header_3">{{ fileListHeader3 }}</h4>
                                {{/ fileListHeader3 }}

                                <ul class="schedules_list_3">
            
                                    {{# child3 }}
                                        <li>                    
                                            {{# fileListHeader4 }}
                                                <h5 class="schedules_list_header_4">{{ fileListHeader4 }}</h5>
                                            {{/ fileListHeader4 }}

                                            <ul class="schedules_list_4">
                                                {{# fileList4 }}
                                                <li>
                                                    <a href="{{ url }}" class="file-link" target="_blank">
                                                        <span class="file-icon {{ fileType }}"></span>
                                                        <span class="file-title">{{ tittel }}</span>                    
                                                        {{# fileType }}
                                                            <span class="file-info">[{{ fileType }}]</span>
                                                        {{/ fileType }}
                                                    </a>
                                                </li>
                                                {{/ fileList4 }}
                                            </ul>                    
                                        </li>
                                    {{/ child3 }}
                                    
                                    {{# fileList3 }}
                                    <li>
                                        <a href="{{ url }}" class="file-link" target="_blank">
                                            <span class="file-icon {{ fileType }}"></span>
                                            <span class="file-title">{{ tittel }}</span>
                                            {{# fileType }}
                                                <span class="file-info">[{{ fileType }}]</span>
                                            {{/ fileType }}
                                        </a>
                                    </li>
                                    {{/ fileList3 }}
                                    
                                </ul>                    
                            </li>
                        {{/ child2 }}
                        
                        {{# fileList2 }}
                        <li>
                            <a href="{{ url }}" class="file-link" target="_blank">
                                <span class="file-icon {{ fileType }}"></span>
                                <span class="file-title">{{ tittel }}</span>
                                {{# fileType }}
                                    <span class="file-info">[{{ fileType }}]</span>
                                {{/ fileType }}
                            </a>
                        </li>
                        {{/ fileList2 }}
                        
                    </ul>                    
                </li>
            {{/ child1 }}
            
            {{# fileList1 }}
            <li>
                <a href="{{ url }}" class="file-link" target="_blank">
                    <span class="file-icon {{ fileType }}"></span>
                    <span class="file-title">{{ tittel }}</span>
                    {{# fileType }}
                        <span class="file-info">[{{ fileType }}]</span>
                    {{/ fileType }}
                </a>
            </li>
            {{/ fileList1 }}
            
        </ul>        
        
    </li>
    {{/ schedulesList }}
    <li>
        <a href="{{ url }}" class="file-link" target="_blank">
            <span class="file-icon {{ fileType }}"></span>
            <span class="file-title">{{ tittel }}</span>
            {{# fileType }}
                <span class="file-info">[{{ fileType }}]</span>
            {{/ fileType }}
        </a>
    </li>
    <li>
        <a href="{{ url }}" class="file-link" target="_blank">
            <span class="file-icon {{ fileType }}"></span>
            <span class="file-title">{{ tittel }}</span>
            {{# fileType }}
                <span class="file-info">[{{ fileType }}]</span>
            {{/ fileType }}
        </a>
    </li>
</ul>