{{> organisms-header-varianter }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">
    
    <div class="article">
        
        {{# actionLine }}
        {{> molecules-action-line }}
        {{/ actionLine }}

        <div class="row">

            {{# meny }}
                <div class="col_md_12 col_lg_4">
                    {{> molecules-org-meny }}
                </div>
            {{/ meny }}

            <div class="col_md_12 col_lg_8"><!-- org_main_col -->

                {{# toppbilde }}
                    {{> molecules-rediger-toppbilde }}
                {{/ toppbilde }}

                {{> molecules-rediger-sidetittel }}

                {{> molecules-rediger-ingress:mbxxl }}

                {{> molecules-rediger-hovedtekst }}

                {{> molecules-rediger-forfatter }}

                {{> molecules-rediger-byline }}

            </div>

            {{# redigeringSidebar }}
                <div class="col_md_12 col_lg_4">


                    {{> molecules-rediger-bildeopplaster }}
                        
                    {{> molecules-rediger-status-meta }}

                    {{> molecules-rediger-flytt-plassering }}

                </div>
            {{/ redigeringSidebar }}

        </div>
    </div>

</main>
{{> organisms-footer }}