<div id="js_accordion_container" class="accordion_container">
    
    {{# accordionItem }}
        <div class="accordion_item js_accordion_item {{ accordionItemStyleModifier }}">
            <h3 class="accordion_header">
                <a class="js_toggle_accordion_link" title="{{ accordionTittel }}" href="#">
                    <span class="arrow-icon"></span>
                    {{ accordionTittel }}
                </a>
            </h3>
            <div class="accordion_content">
                    
                {{# accordionSkjemaListe }}
                    {{> molecules-skjema-liste }}
                {{/ accordionSkjemaListe }}
                
                <div class="service_content_max_width">
                    
                    {{{ accordionIntro }}}
                    
                    {{# accordionlinkliste }}
                        <ul>
                            {{# linkliste }}
                                <li>
                                    <a href="{{ url }}" title="{{ tittel }}">
                                        {{ tittel }}
                                    </a>
                                </li>
                            {{/ linkliste }}
                        </ul>
                    {{/ accordionlinkliste }}

                </div>

                {{# accordionAvsnitt }}
                
                    <h4 class="accordion_inner_content_header">{{ accordionAvsnittTittel }}</h4>
                
                    {{# accordionAvsnittTekst }}
                        <div class="service_content_max_width">{{{ accordionAvsnittTekst }}}</div>
                    {{/ accordionAvsnittTekst }}

                    {{# accordionAvsnittlinkliste }}
                        <ul class="service_content_max_width">
                            {{# linkliste }}
                                <li>
                                    <a href="{{ url }}" title="{{ tittel }}">
                                        {{ tittel }}
                                    </a>
                                </li>
                            {{/ linkliste }}
                        </ul>
                    {{/ accordionAvsnittlinkliste }}
                
                {{/ accordionAvsnitt }}

            </div><!-- /.accordion_content -->
        </div><!-- /.accordion_item -->
    {{/ accordionItem }}    
    
    <div class="accordion_item js_accordion_item">
        <h3 class="accordion_header">
            <a class="js_toggle_accordion_link" title="Har du spørsmål?" href="#">
                <span class="arrow-icon"></span>
                Har du spørsmål?
            </a>
        </h3>
        <div class="accordion_content">
            <p>
                Kontakt                 
                {{# organisasjonsenhet }}
                    <a href="{{ organisasjonsenhet.url }}" title="{{ organisasjonsenhet.tittel }}">
                        {{ organisasjonsenhet.tittel }}
                    </a>
                {{/ organisasjonsenhet }}
            </p>
            {{# kontaktkort }}
                <a href="{{ bergenskartURL }}" title="Vis i kart" class="map_link" target="_blank">
                    <span class="icon map_icon"></span>
                    Vis i kart
                </a>
                <p class="service_content_max_width"><strong>Besøksadresse:</strong>
                    <br>
                    {{ besoeksadresse }}
                    {{# apningstidFra }}
                        - Vi holder åpent fra {{ apningstidFra }} til {{ apningstidTil }}.
                    {{/ apningstidFra }}
                </p>
                <div class="row">
                    <div class="col_md_6 col_lg_6">
                        {{> atoms-kontakt-knapp }}
                    </div>
                    <div class="col_md_6 col_lg_6">
                        <a class="contact_button" title="{{ epost }}" href="mailto:{{ epost }}">
                            <span class="icon email_icon"></span>
                            Send oss en e-post
                            <span class="contact_button_info icon send_email_icon"></span>
                        </a>
                    </div>
                </div>
            {{/ kontaktkort }}
        </div><!-- /.accordion_content -->
    </div><!-- /.accordion_item -->
    
</div><!-- /.accordion_container --> 