<ul class="element_list">     
    {{# enkelliste }}  
    <li>
        <a href="{{ url }}" title="{{ tittel }}" class="title_cell">
            {{ tittel }}
        </a>
        <span class="meta_info_container">
            <span class="meta_info_cell gnr_cell">gnr. {{ gnr }}</span>
            <span class="meta_info_cell bnr_cell">bnr. {{ bnr }}</span>
        </span>
    </li>
    {{/ enkelliste }}
</ul>