{{> organisms-header-2 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h2-med-lenke(sidetittel: "{{ organisasjonsenhet.tittel }}", url: "{{ organisasjonsenhet.url }}") }}

    <div class="row">
        <div class="col_md_12 col_lg_4">

            {{> molecules-org-meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">


            <div class="rssicon_floatRight">
                <a title="Abonner med RSS" rel="alternate" type="application/rss+xml" href="#">
                    RSS - abonner
                </a>
            </div>

            <div id="newsFP">

                <h1 class="module_header">{{ sidetittel }}</h1>
                
                <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->

                <div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">
                    <div class="moduleStory">
                        <div class="excerpt_image_container_ruu">
                            <a href="#" title="Ibsen gate stengt 18. juni-18. august">
                                <img alt="Ibsen gate stengt 18. juni-18. august" src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00240/11175003_5021004299_240118n.jpg">
                                <!--

                                Escenic bildestørrelser:

                                l = 74
                                i = 75
                                b = 90
                                h = 150
                                k = 170
                                c = 180
                                d = 180
                                q = 205
                                m = 230
                                e = 390
                                f = 390
                                g = 390
                                p = 430
                                j = 470
                                r = 480
                                n = 550


                                Største visning = media_size: 699px
                                ..med en bildestørrelse på: 679px

                                Andre største visning = media_size: 1019px
                                ..med en bildestørrelse på: 450px





                                -->
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <h4 class="teaser_kicker">Viktig melding</h4>
                            <h3 class="teaser_title">
                                <a href="{{ link.pages-artikkel }}" title="Ibsen gate stengt 18. juni-18. august">
                                    <span class="read_more_link_large">
                                        Ibsen gate stengt 18. juni-18. august
                                    </span>
                                </a>
                            </h3>
                            <p class="story_excerpt">Vann- og avløpsledningene i Ibsens gate nærmer seg 100 år, og det er på høy tid å fornye/rehabilitere ledningsanlegget. Dermed stenges vegen 18. juni-18. august.</p>
                            <p class="story_readmore">
                                <a class="readmore read_more_link" href="{{ link.pages-artikkel }}" title="Ibsen gate stengt 18. juni-18. august">
                                    Les mer om omkjøringsmuligheter
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->

                <div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">
                    <div class="moduleStory">
                        <div class="excerpt_image_container_ruu">
                            <a href="{{ link.pages-artikkel-2 }}" title="Nordic Tenors – Con Amore">
                                <img alt="Konsert" src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00275/Nordic_Tenors_Con_A_275780n.jpg">
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            Torsdag 15. September, kl. 19.00
                            <h3 class="teaser_title">
                                <a href="{{ link.pages-artikkel-2 }}" title="Nordic Tenors – Con Amore">
                                    <span class="read_more_link_large">
                                        Nordic Tenors – Con Amore
                                    </span>
                                </a>
                            </h3>
                            <p class="story_excerpt">Nordic Tenors er klare med ny forestilling som har fått tittelen “Con Amore” (med kjærlighet). Publikum vil få en kveld spekket med musikalske høydepunkter og mye humor.</p>
                            <p class="story_excerpt">
                                <a href="#" class="readmore readmore_hidden_ruu">Les mer</a>
                            </p>
                            {{> atoms-kjop-billett }}
                        </div>
                    </div>
                </div>

                <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->

                <div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">
                    <div class="moduleStory">
                        <div class="excerpt_image_container_ruu">
                            <a href="{{ link.pages-artikkel-2 }}" title="Nordic Tenors – Con Amore">
                                <img alt="Konsert" src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00275/Nordic_Tenors_Con_A_275780n.jpg">
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            Torsdag 15. September, kl. 19.00
                            <h3 class="teaser_title">
                                <a href="{{ link.pages-artikkel-2 }}" title="Nordic Tenors – Con Amore">
                                    <span class="read_more_link_large">
                                        Nordic Tenors – Con Amore
                                    </span>
                                </a>
                            </h3>
                            <p class="story_excerpt">Nordic Tenors er klare med ny forestilling som har fått tittelen “Con Amore” (med kjærlighet). Publikum vil få en kveld spekket med musikalske høydepunkter og mye humor.</p>
                            <p class="story_readmore">
                                <a href="{{ link.pages-artikkel-2 }}" class="readmore read_more_link">Les meir om programmet</a>
                            </p>
                            {{> atoms-kjop-billett }}
                        </div>
                    </div>
                </div>

                <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->

                <div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">
                    <div class="moduleStory">
                        <div class="excerpt_image_container_ruu">
                            <a href="{{ link.pages-artikkel }}" title="Garnes - fornying av kommunale vannledninger i Kjelåvegen, Vestlivegen og Kjelånæ.">
                                <img alt="Garnes - fornying av kommunale vannledninger i Kjelåvegen, Vestlivegen og Kjelånæ." src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00259/garnes_259131n.jpg">
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <h3 class="teaser_title">
                                <a href="{{ link.pages-artikkel }}" title="Garnes - fornying av kommunale vannledninger i Kjelåvegen, Vestlivegen og Kjelånæ.">
                                    <span class="read_more_link_large">
                                        Garnes - fornying av kommunale vannledninger i Kjelåvegen, Vestlivegen og Kjelånæ.
                                    </span>
                                </a>
                            </h3>
                            <p class="story_excerpt">Arbeidene vil pågå i perioden januar 2016 – april 2016. Til tider må vi stenge veiene, men dette vil bli skiltet. Vi vil forsøke å holde veiene åpne for fotgjengere til enhver tid. De som blir berørt av arbeidene har fått tilsendt infobrev direkte.</p>
                            <p class="story_readmore">
                                <a href="" class="readmore read_more_link">Les meir om dette</a>
                            </p>


                            <div class="henvisningsliste">
                                <ul class="multimedia">
                                    <li>
                                        <a href="#" title="" class="multimedia_link">
                                            <span class="icon icon_pdf">icon_pdf</span>
                                            <span class="file_title">Ikke slå ribbefettet i vasken</span>
                                            <span class="file_size">[6.4 Mb]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="" class="multimedia_link">
                                            <span class="icon icon_word">icon_word</span>
                                            <span class="file_title">Slik får du en branntrygg jul også til neste år når det er  en ny sesong med sterinlys</span>
                                            <span class="file_size">[6.4 Mb]</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearboth"></div>
                            
                            
                        </div>
                        
                        
                        
                    </div>
                </div>

                <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->

                <div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">
                    <div class="moduleStory">
                        <div class="excerpt_image_container_ruu">
                            <a href="{{ link.pages-artikkel }}" title="Fornyer infrastruktur i Bergen sentrum">
                                <img alt="Fornyer infrastruktur i Bergen sentrum" src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00242/DSC_5816_242045n.jpg">
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <h3 class="teaser_title">
                                <a href="{{ link.pages-artikkel }}" title="Fornyer infrastruktur i Bergen sentrum">
                                    <span class="read_more_link_large">
                                        Fornyer infrastruktur i Bergen sentrum
                                    </span>
                                </a>
                            </h3>
                            <p class="story_excerpt">Graveklubben skal fornye og legge ny infrastruktur i Neumanns gate, samt sidegatene Vestre Torggate og Sigurds gate.</p>
                            <p class="story_excerpt">
                                <a href="#" class="readmore readmore_hidden_ruu">Les mer</a>
                            </p>
                        
                            <div class="henvisningsliste">
                                <ul class="lenker">
                                    <li>
                                        <a href="">Slik får du en branntrygg jul</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearboth"></div>
                            
                        </div>
                    </div>
                </div>

                <!-- TEMPLATE:   fp_005fnormal_005fmed_005fingress_005fbilde_005fmed_005foppdatert_005fdato_005fsp_005fpf_jsp -->

                <div class="module normal_med_ingress_bilde_med_oppdatert_dato_sp_pf">
                    <div class="moduleStory">
                        <div class="excerpt_image_container_ruu">
                            <a href="{{ link.pages-artikkel }}" title="Fornyer infrastruktur i Bergen sentrum">
                                <img alt="Fornyer infrastruktur i Bergen sentrum" src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00242/DSC_5816_242045n.jpg">
                            </a>
                        </div>
                        <div class="excerpt_story_container_ruu">
                            <h3 class="teaser_title">
                                <a href="{{ link.pages-artikkel }}" title="Fornyer infrastruktur i Bergen sentrum">
                                    <span class="read_more_link_large">
                                        Fornyer infrastruktur i Bergen sentrum
                                    </span>
                                </a>
                            </h3>
                            <p class="story_excerpt">Graveklubben skal fornye og legge ny infrastruktur i Neumanns gate, samt sidegatene Vestre Torggate, Sigurds gate, Sverres gate og Teatergaten.</p>
                            <p class="story_excerpt">
                                <a href="#" class="readmore readmore_hidden_ruu">Les mer</a>
                            </p>


                            <div class="henvisningsliste">
                                <ul class="artikler">
                                     <li>
                                         <a href="">Ikke slå ribbefettet i vasken</a>
                                    </li>
                                    <li>
                                        <a href="">Slik får du en branntrygg jul</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearboth"></div>
                            
                        </div>
                    </div>
                </div>


                <!-- TEMPLATE:   archiveLink_jsp -->
                <div class="toarchive">
                    <a title="Arkiv" class="readmore" href="#">
                        Arkiv
                    </a>
                </div>

            </div><!-- end newsFP -->









        </div>
    </div>
</main>
{{> organisms-footer }}