{{#flexTable}}

<div class="flex-table {{#styleModifier}}flex-table--{{styleModifier}}{{/styleModifier}}">

    {{#title}}<h2 class="flex-table__title {{titleModifier}}"> {{title}}</h2>{{/title}}
    {{#resultsTitle}}<h2 class="flex-table__title flex-table__title--results"> {{resultsTitle}}</h2>{{/resultsTitle}}

    {{#desktopTitles}}
    <div class="flex-table__desktop-headerarea {{#headerareaModifier}}flex-table__desktop-header--{{headerareaModifier}}{{/headerareaModifier}}">
        {{#desktopTitle}}<span class="flex-table__desktop-header {{#styleModifier}}flex-table__desktop-header--{{styleModifier}}{{/styleModifier}}"> {{desktopTitle}} </span>{{/desktopTitle}}
    </div>
    {{/desktopTitles}}

    {{#row}}
    <div class="flex-table__row {{#styleModifier}}flex-table__row--{{styleModifier}}{{/styleModifier}}">
        {{#cell}}
        <div class="flex-table__cell {{#styleModifier}} flex-table__cell--{{styleModifier}}{{/styleModifier}}">
            {{#mobileHeader}}<span class="flex-table__cell-item flex-table__cell-item--mobile-header">{{mobileHeader}}</span>{{/mobileHeader}}
            {{#content}}<span class="flex-table__cell-item flex-table__cell-item--text {{#contentModifier}} flex-table__cell-item--{{contentModifier}}{{/contentModifier}}">{{{content}}}</span>{{/content}}
            {{#twoitemscontent}}<span class="flex-table__cell-item">{{{twoitemscontent}}}</span>{{/twoitemscontent}}
        </div>
        {{/cell}}
    </div>
    {{/row}}
</div>

{{/flexTable}}