{{> organisms-header-2 }}
{{> organisms-brodsmuler }}
<main id="innhold" tabindex="-1" class="smMa desktop_centered">

    {{> molecules-sideoverskrift-h2-med-lenke(sidetittel: "{{ organisasjonsenhet.tittel }}", url: "{{ organisasjonsenhet.url }}") }}

    <div class="row">
        <div class="col_md_12 col_lg_4">

            {{> molecules-org-meny }}

        </div>
        <div class="col_md_12 col_lg_8 org_main_col">


            





	<div class="rssicon_floatRight">
		<a href="" type="application/rss+xml" rel="alternate" title="Abonner med RSS">RSS - abonner</a>
	</div>

                        



<!-- TEMPLATE:   sec_005fdefault_jsp -->





<!-- TEMPLATE:   grid_005ffemten_005fartikler_005futen_005ftopp_005fpf_jsp -->
<div id="newsFP">
    
    <h1 class="module_header">Siste nytt</h1>
	
	
	

    <!-- TEMPLATE:   archiveList_jsp -->

		
	<!-- Nyhetsdetaljer (start) -->
	<h2 class="archive_header">Arkiv</h2>
	<div id="newsDetail">
		<div class="module archiveList">
			<div class="moduleLinkList archive">
				<ul>
                    <li>Full kontroll!
							<a href="#">Forskningsdagene 19.-20. september 2014</a>
							<small>(19.09.2014)</small>
                    </li>
                    <li>Tar du utfordringen?
							<a href="#">World Water Monitoring Day</a>
							<small>(17.09.2014)</small>
                    </li>
                    <li>
							<a href="#">Vi søker vassdragsteknisk ansvarlig</a>
							<small>(14.08.2014)</small>
                    </li>
						
<!--                    
                    <li>
							<a href='#'>Bymiljøetaten/Grønn etat stengt</a>
							<small>(05.10.2016)</small>
                    </li>
                    <li>
							<a href='#'>Redusert åpningstid 9.september</a>
							<small>(26.08.2016)</small>
                    </li>
                    <li>
							<a href='#'>Skansedammen tømmes</a>
							<small>(09.06.2016)</small>
                    </li>
-->
                    
                    <li>
							<a href='#'>Grov faunakriminalitet mot hekkende fiskemåker i Bergen</a>
							<small>(27.05.2016)</small>
                    </li>
                    <li>
							<a href='#'>Si din mening om friluftslivet </a>
							<small>(27.05.2016)</small>
                    </li>
                    <li>
							<a href='#'>Bli med og rydd en strand</a>
							<small>(04.05.2016)</small>
                    </li>
                    <li>
							<a href='#'>Rydder stormveltet skog i Olsvik</a>
							<small>(29.04.2016)</small>
                    </li>
                    <li>
							<a href='#'>Felte trær i Schweigårdsvei</a>
							<small>(20.04.2016)</small>
                    </li>
                    <li>
							<a href='#'>Søk midler til friluftsliv og fiskeforbedringstiltak</a>
							<small>(14.04.2016)</small>
                    </li>
                    <li>
							<a href='#'>Ta hensyn til måkenes hekketid</a>
							<small>(08.04.2016)</small>
                    </li>
                    <li>
							<a href='#'>Slik fjerner du ugress</a>
							<small>(18.03.2016)</small>
                    </li>
                    <li>
							<a href='#'>Oppgradering i Bønesparken</a>
							<small>(18.03.2016)</small>
                    </li>
                    <li>
							<a href='#'>Ulovlige feller i Nygårdsparken</a>
							<small>(11.03.2016)</small>
                    </li>
                    <li>
							<a href='#'>Slik unngår du at hjorten spiser opp hagen din</a>
							<small>(10.03.2016)</small>
                    </li>
                    <li>
							<a href='#'>Felling av Almetre</a>
							<small>(04.03.2016)</small>
                    </li>
                    <li>
							<a href='#'>Så færre hjort i  2015</a>
							<small>(04.03.2016)</small>
                    </li>
                    <li>
							<a href='#'>Sesongarbeidere</a>
							<small>(19.02.2016)</small>
                    </li>
                    <li>
							<a href='#'>Skoler og Bergensvassdragene &ndash; aktiviteter i 2015</a>
							<small>(21.01.2016)</small>
                    </li>
                    <li>
							<a href='#'>Blir det snart farbar is?</a>
							<small>(05.01.2016)</small>
                    </li>
                    <li>
							<a href='#'>Lokalt &amp; Lekkert har fått leiekontrakt i Mathallen</a>
							<small>(22.12.2015)</small>
                    </li>	
				</ul>
			</div>
		</div>
		<!-- Bla frem og tilbake (start) -->
        
        
        <ul id="paginering"><!-- listArchivePages -->

            <li class="more previous"><a href="#"> Forrige </a></li>
                    
            <li><a href="#"> 1 </a></li>
            
            <li><a href="#"> 2 </a></li>

            <li><a href="#">3</a></li>

            <li><a href="#">4</a></li>

            <li><a href="#">5</a></li>

            <li><a href="#">6</a></li>

            <li><a href="#">7</a></li>

            <li><a href="#">8</a></li>

            <li><a href="#">9</a></li>

            <li><a href="#">10</a></li>
            
            <li class="current">11</li>

            <li><a href="#">12</a></li>

            <li><a href="#">13</a></li>

            <li><a href="#">14</a></li>

            <li><a href="#">15</a></li>

            <li><a href="#">16</a></li>

            <li><a href="#">17</a></li>

            <li><a href="#">18</a></li>

            <li><a href="#">19</a></li>

            <li><a href="#">20</a></li>

            <li><a href="#">21</a></li>

            <li><a href="#">22</a></li>

            <li><a href="#">23</a></li>

            <li><a href="#">24</a></li>

            <li><a href="#">25</a></li>

            <li><a href="#">26</a></li>

            <li class="more next"><a href="#">Neste</a></li>
        
        </ul>

        
		<!-- Bla frem og tilbake (slutt) -->
	</div>
	<!-- Nyhetsdetaljer (slutt) -->
  
			
</div>


                        

        


        </div>
    </div>
</main>
{{> organisms-footer }}