{{# redigeringsmodusbeholder }}<div class="emb_container {{ styleModifier }}">{{/ redigeringsmodusbeholder }}
    {{# redigeringsmodus }}
        <div class="edit_mode_button_container js_edit_mode_button">
            <a href="{{ url }}" class="button button--edit-mode active">
                <span class="icon-online grunt-icon grunt-icon--32"></span>
                <span class="button--edit-mode__label">Slå av redigering</span>
            </a>
        </div>
    {{/ redigeringsmodus }}
{{# redigeringsmodusbeholder }}</div>{{/ redigeringsmodusbeholder }}

{{# redigeringsmodusbeholder }}<div class="emb_container {{ styleModifier }}">{{/ redigeringsmodusbeholder }}
    {{# redigeringsmodusAv }}
        <div class="edit_mode_button_container js_edit_mode_button">
            <a href="{{ url }}" class="button button--edit-mode">
                <span class="icon-offline grunt-icon grunt-icon--32"></span>
                <span class="button--edit-mode__label">Slå på redigering</span>
            </a>
        </div>
    {{/ redigeringsmodusAv }}
{{# redigeringsmodusbeholder }}</div>{{/ redigeringsmodusbeholder }}