<div class="tout_container">
    <h2 class="tout_header">
        Luftkvalitet akkurat nå
    </h2>
    <div class="tout_excerpt">
        <ul class="air_quality_list air_quality_list--frontpage">    
            <li>
                <a href="http://luftkvalitet.info/home/overview.aspx?type=Station&id=%7B4e75e069-daed-4462-bc3b-ffc6541800e6%7D" title="Klosterhaugen - Lite: Liten eller ingen helserisiko." target="_blank">
                    <span class="air_quality_colorbox face-6ee86e" style="background-color: #6ee86e"></span>
                    <span class="air_quality_station_name">Klosterhaugen</span>
                    <span class="screen-reader-text">- Liten eller ingen helserisiko.</span>
                </a>
            </li>
            <li>
                <a href="http://luftkvalitet.info/home/overview.aspx?type=Station&id=%7B0c690e39-3cf2-4d74-aa26-f36b6b8c80a6%7D" title="Rådal - Lite: Liten eller ingen helserisiko." target="_blank">
                    <span class="air_quality_colorbox face-6ee86e" style="background-color: #6ee86e"></span>
                    <span class="air_quality_station_name">Rådal</span>
                    <span class="screen-reader-text">- Liten eller ingen helserisiko.</span>
                </a>
            </li>
            <li>
                <a href="http://luftkvalitet.info/home/overview.aspx?type=Station&amp;id=%7Bceade2ac-e62f-4e50-af7c-347e402fff27%7D" title="Rolland, Åsane - Lite: Liten eller ingen helserisiko." target="_blank">
                    <span class="air_quality_colorbox face-6ee86e" style="background-color: #6ee86e"></span>
                    <span class="air_quality_station_name">Rolland, Åsane</span>
                    <span class="screen-reader-text">- Liten eller ingen helserisiko.</span>
                </a>
            </li>
            <li>
                <a href="http://luftkvalitet.info/home/overview.aspx?type=Station&amp;id=%7B751808f5-d561-4737-9185-4ecc0e834975%7D" title="Loddefjord - Lite: Liten eller ingen helserisiko." target="_blank">
                    <span class="air_quality_colorbox face-6ee86e" style="background-color: #6ee86e"></span>
                    <span class="air_quality_station_name">Loddefjord</span>
                    <span class="screen-reader-text">- Liten eller ingen helserisiko.</span>
                </a>
            </li>
            <li>
                <a href="http://luftkvalitet.info/home/overview.aspx?type=Station&amp;id=%7B4ff685c1-ad51-4468-b2fc-08345d11f447%7D" title="Danmarks plass - Lite: Liten eller ingen helserisiko." target="_blank">
                    <span class="air_quality_colorbox face-6ee86e" style="background-color: #6ee86e"></span>
                    <span class="air_quality_station_name">Danmarks plass</span>
                    <span class="screen-reader-text">- Liten eller ingen helserisiko.</span>
                </a>
            </li>
        </ul>
        <ul>
            <li>Kilde: <a href="http://luftkvalitet.info/home.aspx?type=Area&id=%7B03206c07-9d57-4af7-92eb-e66ee800dcac%7D">NILU</a></li>
            <li>Mer om <a href="{{ link.pages-luftkvalitet }}" title="Luftkvalitet">luftkvalitet</a></li>
        </ul>
    </div>
</div>