<div class="rssicon_floatRight">
    <a href="#" type="application/rss+xml" rel="alternate" title="Abonner med RSS">RSS - abonner</a>
</div>




<div class="frontpage inngangsside_pf">
    <div class="column-5">
        
        <!-- TEMPLATE:   fp_005finngangsside_005ftoppsak_jsp -->
        <div class="toppsak">
            <a href="#" title="- for ansatte i barnehage og skole " class="image_link">
                <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00130/Toppbilde_personalr_130974n.jpg" alt="">
            </a>
            <!-- <h5 class="teaser_kicker">Stikktittel</h5> -->
            <h2 class="teaser_title">
                <a href="#"><span class="read_more_link_24">- for ansatte i barnehage og skole</span></a>
            </h2>    
            <p class="frontpageIngress">		
                I Personalrommet legges stoff som er aktuelt for alle ansatte i Byrådsavdeling for barnehage og skole. Spesifikt stoff for ansatte i barnehagene og skolene, finner du i venstremenyene.
            </p>
            <!--
            <a href="#" class="readmore read_more_link">Her får du mer info</a>
            -->
        </div>
        
        <div class="saker_container">
            <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
            <div class="sak inngangsside_sak_pf">
                <div class="excerpt_image_container_ruu">
                    <a href="#" title="Resultater brukerundersøkelsen 2017" class="image_link">
                        <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00298/Forsideforslag-bruk_298503n.jpg" alt="">
                    </a>
                </div>
                <div class="excerpt_story_container_ruu">
                    <div class="sakstittel_ruu">
                        <!-- <h5 class="teaser_kicker">Stikktittel</h5> -->
                        <h3 class="teaser_title">
                            <a href="#"><span class="read_more_link_large">Resultater brukerundersøkelsen 2017</span></a>
                        </h3>
                    </div>
                    <p class="frontpageIngress">		
                        Foreldre til barn i barnehage, på skole og i SFO har sagt sin mening om forskjellige forhold ved tilbudene. Det er tredje året på rad undersøkelsen gjennomføres.
                    </p>
                    <a href="#" class="readmore read_more_link">Her finner du resultatene</a>
                </div>
            </div>
            
        </div>
        
        <div class="bunnsaker">
            <div class="venstrebunn">
                <!-- TEMPLATE:   fp_005finngangsside_005fbunnsak_005futen_005fingress_005fpf_jsp -->
                <div class="sak inngangsside_bunnsak_uten_ingress_pf">
                    <a href="#" title="Hvor og hvordan måles luftkvaliteten i Bergen?" class="image_link">	
                        <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00260/Sv_mmeoppl_ring_2_260596m.jpg" alt="">
                    </a>
                    <div class="sakstittel_ruu">
                        <!-- <h5 class="teaser_kicker">Stikktittel</h5> -->
                        <h3 class="teaser_title">                
                            <a href="#"><span class="read_more_link_large">Tilbud om svømmeopplæring for barn i barnehage i alder 4-6 år</span></a>
                        </h3>
                    </div>
                    <p class="frontpageIngress">                        
                        Barnehagebarn i alderen 4-6 år inviteres til svømmeopplæring i skole- og bydelsbasseng. 
                    </p>
                    <div class="clearboth"></div>        
                    <a href="#" class="readmore readmore_hidden_ruu">Les mer</a>
                </div>
            </div>

            <div class="hoyrebunn">
                <!-- TEMPLATE:   fp_005finngangsside_005fbunnsak_005futen_005fingress_005fpf_jsp -->
                <div class="sak inngangsside_bunnsak_uten_ingress_pf">
                    <a href="#" title="Slik får vi barn og unge til å gå og sykle til skolen" class="image_link">				
                        <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00274/__g__og_sykle_til_s_274188n.jpg" alt="">
                    </a>
                    <div class="sakstittel_ruu">
                        <!-- <h5 class="teaser_kicker">Stikktittel</h5> -->
                        <h3 class="teaser_title">    
                            <a href="#"><span class="read_more_link_large">Slik får vi barn og unge til å gå og sykle til skolen</span></a>            
                        </h3>
                    </div>
                    <p class="frontpageIngress"> 
                        Her finner du tips og veiledere til aktiviteter som kan få flere barn og unge til å gå og sykle til skolen i stedet for å bli kjørt. 		  		  	
                    </p>
                    <div class="clearboth"></div>     
                    <a href="#" class="readmore readmore_hidden_ruu">Les mer</a>
                </div>
            </div>
        </div>
        
        <div class="clearit"></div>
        
        <div class="saker_container">
            <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
            <div class="sak inngangsside_sak_pf">
                <div class="excerpt_image_container_ruu">
                    <a href="#" title="Kursbørsen er erstattet med BK Læring." class="image_link">
                        <img src="https://www.bergen.kommune.no/bk/multimedia/dynamic/00275/BK_L_ring_275698n.jpg" alt="">
                    </a>
                </div>
                <div class="excerpt_story_container_ruu">
                    <div class="sakstittel_ruu">
                        <!-- <h5 class="teaser_kicker">Stikktittel</h5> -->
                        <h3 class="teaser_title">
                            <a href="#"><span class="read_more_link_large">Kursbørsen er erstattet med BK Læring.</span></a>
                        </h3> 
                    </div>
                    <p class="frontpageIngress">
                        Fra 22. juni registreres alle kurs i Bergen kommune i et nytt kursadministrativt system kalt BK Læring. Du kan ikke lenger melde deg på kurs i Kursbørsen. 		  		  	
                    </p> 
                    <a href="#" class="readmore readmore_hidden_ruu">Les mer</a>
                </div>
            </div>

            <!-- TEMPLATE:   fp_005finngangsside_005fsak_005fpf_jsp -->
            <div class="sak inngangsside_sak_pf">
                <div class="excerpt_story_container_ruu">
                    <div class="sakstittel_ruu">
                        <!-- <h5 class="teaser_kicker">Stikktittel</h5> -->
                        <h3 class="teaser_title">
                            <a href="#"><span class="read_more_link_large">Skal du melde feil og mangler ved bygget ditt?</span></a>
                        </h3> 
                    </div>
                    <p class="frontpageIngress">
                        BKBygg har fått et nytt datasystem for forvaltning, drift, vedlikehold og utbygging av kommunale bygg. Systemet skal f.eks. brukes av enhetsledere som skal sende avviksmeldinger.
                    </p> 
                    <a href="#" class="readmore readmore_hidden_ruu">Les mer</a>
                </div>
            </div>
        </div>
        
        <div class="clearit"></div>
        
        <!-- TEMPLATE:   archiveLink_jsp -->
        <div class="toarchive">
            <a href="#" class="readmore" title="Arkiv">Arkiv</a>
        </div>
        
        
    </div>
</div>



