<ul id="listeavbarn" class="module_list_container {{ styleModifier }}">
    {{# sideliste }}
        <li class="module_container module_equal_heights">
            {{# imgLandscape }}
            <div class="module_image_container">
                <a href="{{ link.pages-aktuelt-tema }}" title="{{ tittel }}" class="module_image_link">
                    <img src="{{ imgLandscape.src }}" alt="{{ imgLandscape.alt }}" class="module_image">
                </a>
            </div>
            {{/ imgLandscape }}
            <div class="module_content_container">
                <h2 class="module_content_title">
                    <a href="{{ link.pages-aktuelt-tema }}" title="{{ tittel }}">
                        <span class="read_more_link_large">
                            {{ tittel }}
                        </span>
                    </a>
                </h2>
                <div class="module_content_excerpt">
                    <p>{{ ingress }}</p>
                </div>
            </div>
        </li>
    {{/ sideliste }}
</ul>