<div class="form-element form-element--date-container {{styleModifier}}">
    {{# hjelpetekst }}
        {{> atoms-hjelpetekst:mbs }}
    {{/ hjelpetekst }}
    {{# etikett }}
        <label class="form-element__label{{#skjultEtikett}} screen-reader-text{{/skjultEtikett}}">
            {{ etikett }}
        </label>
    {{/ etikett }}
    <input type="date"{{# datoInput }} value="{{ datoInput }}"{{/ datoInput }}{{# paakrevd }} aria-required="true" required{{/ paakrevd }} pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
</div>

