<div class="article__byline article__byline--top-border mbxxl">
    <fieldset class="edit-article-responsible-department mbm">
        <div class="mbs">
            <label class="edit-article-responsible-department__label" for="ansvarligAvdeling">Ansvarlig avdeling (obligatorisk):</label>
            <input value="{{ redigerAnsvarligAvdeling }}" class="edit-article-responsible-department__input mbn{{# errorInput }} error-input{{/ errorInput }}" id="ansvarligAvdeling">
        </div>
        {{# errorInput }}
            <div class="error-text mbs">
                Ansvarlig avdeling mangler
            </div>
        {{/ errorInput }}
    </fieldset>
    
    Oppdatert: {{ dato }}
</div>