<p>Vanlig tekst er 19 pixler og bruker fonten Source Sans Pro Regular (400), med en linjehøyde på 28px og avstand til neste avsnitt på 28px.</p>
<p>Et avsnitt eller en paragraf (fra gresk paragraphos, skrevet ved siden av, tilføyet) er en serie setninger som er organisert rundt samme tema/idé. Et avsnitt kan bestå av en temasetning, kommentarsetninger og en avsluttende setning. Ikke alle avsnitt må ha denne strukturen. Lengden til et avsnitt bør ikke avgjøres av estetiske hensyn eller etter et visst antall linjer. Det blir leservennlig når avsnittet har et tydelig og presist budskap, som blir formulert på en forståelig måte.</p>