<footer class="page_503_footer">    
    <div class="footer_mountain_container">
        <div class="icon-7-fjell"></div>
    </div>
    
    <div class="footer_link_container">
        <div class="footer_links">
            <a href="http://www.facebook.com/bergenkommune/" title="Facebook" class="facebook_link some_footer_link">
                <span class="link_outer">
                    <span class="link_inner">
                        <span class="icon-facebook grunt-icon grunt-icon--32"></span>
                        <span class="some_footer_link_text">Facebook</span>  
                    </span>
                </span>
            </a>    
            <a href="http://www.twitter.com/bergenkommune/" title="Twitter" class="twitter_link some_footer_link">
                <span class="link_outer">
                    <span class="link_inner">
                        <span class="icon-twitter grunt-icon grunt-icon--32"></span>
                        <span class="some_footer_link_text">Twitter</span>  
                    </span>
                </span>
            </a>   
            <a href="http://www.instagram.com/bergenkommune_ung/" title="Instagram" class="instagram_link some_footer_link">
                <span class="link_outer">
                    <span class="link_inner">
                        <span class="icon-instagram grunt-icon grunt-icon--32"></span>
                        <span class="some_footer_link_text">Instagram</span> 
                    </span>
                </span>
            </a>
        </div>
    </div>
</footer>