<div class="mbl">
    <h3 class="helpers_header mbm">Status</h3>
    {{# avpubliserKnapp }}
    <button class="button mrm">Avpubliser</button>
    {{/ avpubliserKnapp }}
    <button class="button button--danger">Slett artikkel</button>
</div>
