<section class="mbj">
    <h2 class="module_header mbm">Tema</h2>
    <div class="row teaser_small_container mbl">
        {{#tema}}
            <div class="col_md_6 col_lg_6">
                {{> molecules-teaser-uten-ingress }}
            </div>
        {{/tema}}
    </div>
</section>
